/* Colores */

$amarillo: #FFF08C

$azul: #0066CC
$azul_medio: #0099FF
$azul_claro: #66CCFF

$blanco: #FFF

$gris_faf: #FAFAFC
$gris_f6f: #F2F2F6
$gris_ccc: #CCC
$gris_999: #999
$gris_666: #666
$gris_444: #444

$rojo_claro: #FF8A8A
$rojo_medio: #FF5353
$rojo: #F72121

/* Mixin */

@mixin borde_redondeado
    border-radius: 2px
    -o-border-radius: 2px
    -moz-border-radius: 2px
    -webkit-border-radius: 2px

@mixin gradiente_botones ($color_1, $color_2)
    background-image: linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -o-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -moz-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -webkit-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -ms-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, $color_1), color-stop(0.7, $color_2))
    border: 1px solid $color_1
    cursor: pointer

@mixin link_azul
    color: $azul
    text-decoration: none

@mixin link_azul_hover
    color: $azul
    text-decoration: underline

@mixin link_blanco
    color: $blanco
    text-decoration: none

@mixin link_blanco_hover
    color: $blanco
    text-decoration: underline

@mixin link_gris_444
    color: $gris_444
    text-decoration: none

@mixin link_gris_444_hover
    color: $gris_444
    text-decoration: underline 

@mixin link_gris_666
    color: $gris_666
    text-decoration: none

@mixin link_gris_666_hover
    color: $gris_666
    text-decoration: underline 

@mixin link_gris_999
    color: $gris_999
    text-decoration: none

@mixin link_gris_999_hover
    color: $gris_999
    text-decoration: underline 

@mixin sombra_fuerte
    -box-shadow: -3px 3px 1px $gris_eee
    -o-box-shadow: -3px 3px 1px $gris_eee
    -moz-box-shadow: -3px 3px 1px $gris_eee
    -webkit-box-shadow: -3px 3px 1px $gris_eee

/* CSS Administrador */

.header_admin
    background: $gris_faf
    border-bottom: 1px solid $gris_f6f
    height: 75px
    margin: 0 0 20px

    span
        background: $blanco
        float: left
        margin: 0 auto
        padding: 5px 20px 5px 0
        text-align: center
        width: 100px

a
    @include link_azul

    &:hover
        @include link_azul_hover

.contenedor_admin
    margin: 0 auto
    width: 960px
    position: relative

    .menu_admin
        color: $gris_666
        float: left
        font:
            size: 14px
        line-height: 22px
        margin: 0 0 40px 0
        width: 960px

        a
            @include link_gris_666
            float: left
            width: 760px

            &:hover
                @include link_gris_666_hover

        input
            background: $azul_claro
            border: 1px solid $azul_medio
            color: $blanco
            margin: 0 3px
            width: 100px

            &:hover
                background: $azul_medio

            &:focus
                background: $azul

    .submenu_admin
        float: left
        margin: 0 0 30px
        width: 960

        li
            border-bottom: 1px dotted $gris_f6f
            display: block
            float: left
            padding: 10px 0
            width: 960px

            .totales
                color: $gris_ccc
                float: left
                font:
                    style: italic
                text-align: right
                width: 200px

            .totales_azul
                color: $azul_claro
                float: left
                font:
                    style: italic
                    weight: bold
                text-align: right
                width: 200px

            .totales_rojo
                color: $rojo_claro
                float: left
                font:
                    style: italic
                text-align: right
                width: 200px

.selecciona_zona_admin
    float: left
    font:
        size: 14px
    margin: 3px 10px 0 0 
    width: 200px


.breadcrumbs
    float: left
    margin: 30px 0

    ul
        li
            display: inline
            font-size: 12px

        a
            @include link_azul

            &:hover
                @include link_azul_hover

.titulo_admin
    font:
        size: 24px
    float: left
    margin: 0 0 30px 0
    width: 960px

.titulo_admin_chico
    font:
        size: 20px
    float: left
    margin: 0 0 30px 0
    width: 960px

.filtro_admin
    display: block
    float: left
    font:
        size: 11px
    margin: 0 0 30px 0
    width: 960px

    .periodo
        display: block
        float: left
        width: 312px

        input.periodo_fecha
            font:
                size: 10px
            margin: 0 3px
            padding: 5px 8px
            width: 80px
    
    .buscar
        display: block
        float: left
        margin: 0 0 0 10px
        width: 208px

        input.buscar_lugar
            font:
                size: 10px
            margin: 0 3px
            padding: 5px 8px
            width: 145px

    .seleccionar_estado
        float: left
        margin: 0 0 0 10px
        width: 415px

        select
            margin: 3px 0px 3px 3px
            width: 100px

        input
            background: $azul_claro
            border: 1px solid $azul_medio
            color: $blanco
            margin: 0 3px
            width: 60px

            &:hover
                background: $azul_medio

            &:focus
                background: $azul
        
        a
            @include link_azul

            &:hover
                @include link_azul_hover
    
    .agregar_pedido
        background: $azul_claro
        border: 1px solid $azul_medio
        color: $blanco
        cursor: pointer
        float: right
        margin: 2px 0
        padding: 3px 3px 4px
        text-align: center
        text-decoration: none
        width: 80px

        &:hover
            background: $azul_medio

        &:focus
            background: $azul

.listado_admin
    border: 1px solid $gris_ccc
    float: left
    width: 960px

    a
        @include link_azul

        &:hover
            @include link_azul_hover

    .table-data
        overflow: scroll
        position: relative

        .listado_lugares
            font:
                size: 12px
            text-align: left
            width: 4000px

        .listado_lugares_ediciones
            font:
                size: 12px
            text-align: left
            width: 960px

        .listado_usuarios
            font:
                size: 12px
            text-align: left
            width: 3200px

        .listado_fotos
            font:
                size: 12px
            text-align: left
            width: 1000px

        .listado_recomendaciones
            font:
                size: 12px
            text-align: left
            width: 1850px

        .listado_pedidos
            font:
                size: 12px
            text-align: left
            width: 1400px

        .listado_blog_posts
            font:
                size: 12px
            text-align: left
            width: 1400px

        .tablescroll_head
            background: $gris_f6f            

        th
            border-bottom: 1px solid $gris_f6f

        th, td
            border-right: 1px solid $gris_ccc
            word-break: break-all

        td
            padding: 8px 0

            span
                display: block
                margin: 0 5px

        th
            padding: 8px 0

            span
                display: block
                margin: 0 5px

        tr:nth-child(even)
            background: $gris_faf
        
        .lugar_checkbox
            text-align: center
            width: 20px !important

        .lugar_id
            text-align: center
            width: 60px !important
                
        .lugar_nombre
            width: 200px !important

        .lugar_usuario
            width: 220px !important

            .perfil_usuario
                display: inline-block
                height: 16px
                width: 16px
                
                a
                    display: inline-block
                    height: 16px
                    width: 16px
                    margin-right: 2px
                    position: relative
                    margin-top: 2px

                    &.usuario
                        background: url('../images/administrador/usuario.png') no-repeat
                    &.usuario_mujer
                        background: url('../images/administrador/usuario_mujer.png') no-repeat
                    &.usuario_hombre
                        background: url('../images/administrador/usuario_hombre.png') no-repeat
        
        .lugar_categoria
            width: 200px !important

        .lugar_subcategoria
            width: 200px !important

        .lugar_direccion
            width: 200px !important

        .lugar_detalle
            width: 150px !important

        .lugar_comuna
            width: 150px !important

        .lugar_sector
            width: 150px !important

        .lugar_recomendaciones
            text-align: center
            width: 160px !important

        .lugar_estrellas
            text-align: center
            width: 100px !important

        .lugar_utiles
            text-align: center
            width: 100px !important

        .lugar_precio
            text-align: center
            width: 100px !important

        .lugar_ranking
            text-align: center
            width: 100px !important

        .lugar_imagenes
            text-align: center
            width: 120px !important

        .lugar_caracteristicas
            width: 200px !important

        .lugar_sitio_web
            width: 250px !important

        .lugar_facebook
            width: 250px !important

        .lugar_twitter
            width: 250px !important

        .lugar_e_mail
            width: 250px !important

        .lugar_dueno
            width: 100px !important

        .lugar_estado
            width: 100px !important

        .lugar_tipo
            width: 100px !important

        .lugar_acciones
            text-align: center
            width: 80px !important

        .foto_preview
            text-align: center
            width: 60px !important
        
        .foto_link
            width: 200px !important
        
        .foto_fecha
            text-align: center
            width: 60px !important

        .usuario_fecha
            text-align: center
            width: 120px !important

        .usuario_sexo
            text-align: center
            width: 80px !important

        .usuario_agregados
            text-align: center
            width: 200px !important

        .recomendacion_textos
            width: 450px !important

        .recomendacion_tags
            width: 300px !important

        .blog_posts_titulo
            width: 300px !important

        .blog_posts_premios
            width: 120px !important

        .blog_posts_fecha
            width: 170px !important
        
        .titulos_tabla
            float: left
            
        .list-actions
            float: left
            font-size: 10px
            font-weight: 100
            display: inline-block
            margin: 0 0 0 5px

            span
                cursor: pointer
                color: #ccc

            a, a:visited
                color: #ccc
                text-decoration: none

        .active-sort, .list-actions a:active
            color: #333 !important

.seleccion_masiva
    float: left
    font:
        size: 11px
    margin: 30px 0 0
    width: 960px

    a
        @include link_azul

        &:hover
            @include link_azul_hover

    input
        background: $azul_claro
        border: 1px solid $azul_medio
        color: $blanco
        margin: 0 5px
        width: 85px

        &:hover
            background: $azul_medio

        &:focus
            background: $azul
 
    select
        margin: 0 5px

.total_paginacion
    border-bottom: 1px solid $gris_f6f
    border-top: 1px solid $gris_f6f
    color: #666
    display: block
    float: left
    font-size: 12px
    margin: 30px 0 30px
    padding: 13px 0 12px
    width: 370px
    
    input
        margin: 0px
        padding: 3px 0
        width: 60px
    
    .ir_a_la_pagina
        background: $azul_claro
        border: 1px solid $azul_medio
        color: $blanco
        margin: 0 3px
        width: 40px

        &:hover
            background: $azul_medio

        &:focus
            background: $azul                  

.paginacion
    border-bottom: 1px solid $gris_f6f
    border-top: 1px solid $gris_f6f
    color: $gris_666
    display: block
    float: left
    font:
        size: 12px
    margin: 30px 0 30px
    padding: 15px 0 14px 0
    width: 590px

    p
        float: left
        display: block
        margin: 2px 0 0
    
    li
        border: 1px solid $gris_ccc
        float: left
        height: 5px
        margin: 0 0 0 2px
        padding: 2px 5px 8px
    
        a
            @include link_gris_666
    
    .pagina-actual
        background: $azul
        border: 1px solid $azul
        float: left
        height: 5px
        margin: 0 0 0 2px
        padding: 2px 5px 8px

        a
            @include link_blanco

.footer_admin
    background: $gris_faf
    border-top: 1px solid $gris_f6f
    color: $gris_999
    float: left
    font:
        size: 11px
    margin: 30px 0 0
    text-align: center
    padding: 50px 0
    width: 960px

.selected_row
    background: #def !important

.agregar_elementos_principales_blog_posts
    float: left
    font:
        size: 14px
    margin: 0 0 40px 0
    width: 960px

    .titulo_post_box
        float: left
        margin: 0 0 5px
        width: 960px

        input
            float: left
            font:
                size: 12px
            padding: 8px
            width: 940px

    .url_post
        float: left
        width: 960px

        label
            color: $gris_ccc
            float: left
            font:
                size: 12px
            margin: 11px 0 0 10px

        input
            background: #FFFFEE
            border: 1px solid #FFFFEE
            float: left
            margin: 0 0 0 5px
            padding: 8px 5px
            width: 500px

            &:hover
                border: 1px solid #FFFF00

            &:focus
                border: 1px solid #FFFF99

.agregar_contenidos_blog_posts
    float: left
    margin: 0 20px 0 0
    width: 640px
    
    .agregar_blog_posts_contenido
        border: 1px solid $gris_f6f
        float: left
        font:
            size: 14px
        padding: 19px
        width: 600px

        .usuario_post
            float: left
            width: 600px

            label
                color: $gris_ccc
                float: left
                font:
                    size: 12px
                margin: 10px 10px 10px 0
                width: 60px

            input
                background: #FFFFEE
                border: 1px solid #FFFFEE
                float: left
                font:
                    size: 12px
                margin: 0px
                padding: 8px
                width: 510px

                &:hover
                    border: 1px solid #FFFF00

                &:focus
                    border: 1px solid #FFFF99

        .contenidos_texto
            float: left
            width: 600px

            label
                color: $gris_666
                float: left
                font:
                    weight: bold
                margin: 0 0 10px
                width: 600px
            
            textarea
                width: 580px

        li
            float: left
            margin: 0 0 20px 0
            width: 960px

    .agregar_blog_posts_detalle, .agregar_blog_posts_condiciones
        background: url("../images/extras/borde_relieve_posts.png") 0 0 no-repeat
        float: left
        font:
            size: 14px
        padding: 12px 0 0
        width: 640px

    .caja_interior
        border: 1px solid $gris_f6f
        float: left
        padding: 19px
        width: 600px

        .concurso_condiciones, .concurso_detalle
            display: none
            float: left
            margin: 30px 0 0
            width: 600px

            .lugar_post, .premio_post
                float: left
                width: 600px

                label
                    color: $gris_666
                    float: left
                    font:
                        weight: bold
                    margin: 10px 10px 10px 0
                    width: 150px

                input
                    background: #FFFFEE
                    border: 1px solid #FFFFEE
                    float: left
                    font:
                        size: 13px
                    margin: 0px
                    padding: 8px
                    width: 420px

                    &:hover
                        border: 1px solid #FFFF00

                    &:focus
                        border: 1px solid #FFFF99
                        
            .contenidos_texto
                float: left
                width: 600px

                label
                    color: $gris_666
                    float: left
                    font:
                        weight: bold
                    margin: 0 0 10px
                    width: 600px
                
                textarea
                    width: 600px

            li
                float: left
                margin: 0 0 20px 0
                width: 960px

                a
                    @include link_azul

                    &:hover
                        @include link_azul_hover

                label
                    color: $gris_666
                    float: left
                    font:
                        weight: bold
                    margin: 4px 10px 10px 0
                    width: 150px
                
                input
                    float: left
                    padding: 8px
                    width: 400px

                textarea
                    float: left
                    padding: 8px
                    width: 700px

                select
                    float: left
                    margin: 8px 0
                    width: 416px

                .agregar_nuevo
                    float: left
                    font:
                        size: 12px
                    margin: 12px 0 12px 20px

                .subir_imagen
                    border: 0px
                    float: left
                    padding: 0px

                .nombre_apellido
                    float: left
                    padding: 8px
                    width: auto

                .nombre_usuario
                    color: $gris_ccc
                    float: left
                    font:
                        style: italic
                    padding: 8px 8px 8px 0                
                    width: auto

                .tip
                    color: $gris_999
                    float: left
                    font:
                        size: 12px
                    padding: 8px 8px 8px 160px                
                    width: 400px

.agregar_contenidos_sidebar_blog_posts
    float: left
    font:
        size: 14px
    width: 300px

    .imagen_post
        background: $gris_faf
        float: left
        height: 250px
        margin: 0 0 30px 0
        padding: 15px
        width: 270px

        label
            color: $gris_666
            float: left
            font:
                weight: bold
            margin: 0 0 100px 0
            width: 270px

        .subir_imagen
            border: 0px
            float: left
            width: 270px

    .categoria_post
        float: left
        margin: 0 0 30px 0
        width: 300px

        label
            color: $gris_666
            float: left
            font:
                weight: bold
            margin: 0 0 10px 0
            width: 300px

        select
            float: left
            margin: 0 0 20px
            width: 300px        

        .agregar_nuevo
            float: left
            font:
                size: 12px

    .no-default
        float: left
        margin: 0 0 30px 0
        width: 300px

        label
            color: $gris_666
            float: left
            font:
                weight: bold
            margin: 0 0 10px 0
            width: 300px

        input
            float: left
            margin: 0 0 10px
            padding: 8px
            width: 284px

        .quitar_nuevo
            float: left
            font:
                size: 12px

    .estado_post
        float: left
        margin: 0 0 30px 0
        width: 300px

        label
            color: $gris_666
            float: left
            font:
                weight: bold
            margin: 0 0 10px 0
            width: 300px

        select
            float: left
            margin: 0 0 20px
            width: 300px        
        
    .fecha_publicacion
        float: left
        margin: 0 0 30px 0
        width: 300px

        label
            color: $gris_666
            float: left
            font:
                weight: bold
            margin: 0 0 10px 0
            width: 300px

        input
            float: left
            padding: 8px
            width: 284px

.destacado_home
    background: $gris_faf
    border: 1px solid $gris_f6f
    float: left
    margin: 40px 0 0
    padding: 20px
    width: 918px

    li
        float: left
        margin: 0 0 20px 0
        width: 960px

        a
            @include link_azul

            &:hover
                @include link_azul_hover

        label
            color: $gris_666
            float: left
            font:
                weight: bold
            margin: 10px 10px 10px 0
            width: 150px
        
        input
            float: left
            padding: 8px
            width: 400px

        select
            float: left
            margin: 8px 0
            width: 416px

        .agregar_nuevo
            float: left
            font:
                size: 12px
            margin: 12px 0 12px 20px

        .subir_imagen
            border: 0px
            float: left
            padding: 8px 0px

.guardar_posts
    background: url('../images/extras/botones_ficha_lugar.png') no-repeat -1025px 0
    border: 0px
    cursor: pointer
    float: left
    height: 30px
    margin: 0 0 0 134px 
    width: 166px      
    
    &:hover
        background: url('../images/extras/botones_ficha_lugar.png') no-repeat -1025px -30px
        border: 0px

