/* Colores */

$azul: #0066CC
$blanco: #FFF
$error: #F66
$gris_333: #333
$gris_444: #444
$gris_666: #666
$gris_686: #686868
$gris_999: #999
$gris_ccc: #CCC
$gris_ddd: #DDD
$gris_e9e: #E9E9E9
$gris_eee: #EEE
$gris_f9f: #F9F9F9
$gris_f6f: #F6F6F6
$rojo: #FF3300

/* Mixin */

@mixin borde_redondeado
    border-radius: 2px
    -o-border-radius: 2px
    -moz-border-radius: 2px
    -webkit-border-radius: 2px

@mixin gradiente_botones ($color_1, $color_2)
    background-image: linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -o-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -moz-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -webkit-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -ms-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, $color_1), color-stop(0.7, $color_2))
    border: 1px solid $color_1
    cursor: pointer

@mixin link_azul
    color: $azul
    text-decoration: none

@mixin link_azul_hover
    color: $azul
    text-decoration: underline

@mixin link_blanco
    color: $blanco
    text-decoration: none

@mixin link_blanco_hover
    color: $blanco
    text-decoration: underline

@mixin link_gris_444
    color: $gris_444
    text-decoration: none

@mixin link_gris_444_hover
    color: $gris_444
    text-decoration: underline 

@mixin link_gris_666
    color: $gris_666
    text-decoration: none

@mixin link_gris_666_hover
    color: $gris_666
    text-decoration: underline 

@mixin link_gris_999
    color: $gris_999
    text-decoration: none

@mixin link_gris_999_hover
    color: $gris_999
    text-decoration: underline 

@mixin sombra_fuerte
    -box-shadow: -3px 3px 1px $gris_eee
    -o-box-shadow: -3px 3px 1px $gris_eee
    -moz-box-shadow: -3px 3px 1px $gris_eee
    -webkit-box-shadow: -3px 3px 1px $gris_eee

/* CSS Administrador */

.contenedor_admin
    margin: 20px auto
    width: 960px

.titulo_admin
    font:
        size: 24px
    margin: 0 0 30px 0

.filtro_admin
    display: block
    float: left
    font:
        size: 11px
    margin: 0 0 30px 0
    width: 960px

    .periodo
        display: block
        float: left
        width: 320px

        input.periodo_fecha
            font:
                size: 10px
            margin: 0 5px
            padding: 5px 8px
            width: 80px
    
    .buscar
        display: block
        float: left
        margin: 0 0 0 15px
        width: 212px

        input.buscar_lugar
            font:
                size: 10px
            margin: 0 5px
            padding: 5px 8px
            width: 145px

    .seleccionar_estado
        float: left
        margin: 0 0 0 14px
        width: 395px

        select
            margin: 3px 0px 3px 5px
            width: 120px

        input
            margin: 0 5px
            width: 60px
        
        a
            @include link_azul

            &:hover
                @include link_azul_hover

.listado_admin
    border: 1px solid $gris_ddd
    float: left
    width: 960px

    a
        @include link_azul

        &:hover
            @include link_azul_hover

    .table-data
        overflow: scroll
        position: relative

        table
            font:
                size: 12px
            text-align: left
            width: 3700px

        .tablescroll_head
            background: $gris_e9e               

        th
            border-bottom: 1px solid $gris_f6f

        th, td
            border-right: 1px solid $gris_ddd

        td
            padding: 8px 0

            span
                display: block
                margin: 0 5px

        th
            padding: 8px 0

            span
                display: block
                margin: 0 5px

        tr:nth-child(even)
            background: $gris_f9f
        
        .lugar_checkbox
            text-align: center
            width: 20px !important

        .lugar_id
            text-align: center
            width: 60px !important
                
        .lugar_nombre
            width: 200px !important

        .lugar_usuario
            width: 200px !important
        

        .lugar_categoria
            width: 200px !important

        .lugar_subcategoria
            width: 200px !important

        .lugar_direccion
            width: 200px !important

        .lugar_detalle
            width: 150px !important

        .lugar_comuna
            width: 150px !important

        .lugar_sector
            width: 150px !important

        .lugar_estrellas
            text-align: center
            width: 100px !important

        .lugar_utiles
            text-align: center
            width: 100px !important

        .lugar_precio
            text-align: center
            width: 100px !important

        .lugar_ranking
            text-align: center
            width: 100px !important

        .lugar_caracteristicas
            width: 200px !important

        .lugar_sitio_web
            width: 250px !important

        .lugar_facebook
            width: 250px !important

        .lugar_twitter
            width: 250px !important

        .lugar_e_mail
            width: 250px !important

        .lugar_dueno
            width: 100px !important

        .lugar_estado
            width: 100px !important

        .lugar_tipo
            width: 100px !important

        .lugar_acciones
            text-align: center
            width: 100px !important
        
        .titulos_tabla
            float: left
            
        .list-actions
            float: left
            font-size: 10px
            font-weight: 100
            display: inline-block
            margin: 0 0 0 5px

            span
                cursor: pointer
                color: #ccc

            a, a:visited
                color: #ccc
                text-decoration: none

        .active-sort, .list-actions a:active
            color: #333 !important

.seleccion_masiva
    float: left
    font:
        size: 11px
    margin: 30px 0 0
    width: 960px

    select
        margin: 0 5px

.total_paginacion
    border-bottom: 1px solid $gris_f6f
    border-top: 1px solid $gris_f6f
    color: #666
    display: block
    float: left
    font-size: 12px
    margin: 30px 0 30px
    padding: 13px 0 12px
    width: 225px                  

.paginacion
    border-bottom: 1px solid $gris_f6f
    border-top: 1px solid $gris_f6f
    color: $gris_666
    display: block
    float: left
    font:
        size: 12px
    margin: 30px 0 30px
    padding: 10px 0
    width: 735px

    p
        float: left
        display: block
        margin: 2px 0 0
    
    li
        border: 1px solid $gris_ccc
        float: left
        height: 5px
        margin: 0 0 0 2px
        padding: 2px 5px 8px
    
        a
            @include link_gris_666
    
    .pagina-actual
        background: $azul
        border: 1px solid $azul
        float: left
        height: 5px
        margin: 0 0 0 2px
        padding: 2px 5px 8px

        a
            @include link_blanco

.footer_admin
    color: $gris_ddd
    float: left
    font:
        size: 11px
    margin: 0 0 30px 0
    text-align: center
    width: 960px
