.qtip_subcategorias, .qtip_zonas, .qtip_categorias, .qtip_caracteristicas
    display: none
    padding-top: 10px
    position: relative
    font-size: 12px
    font-weight: 400

    a
        color: #666
        text-decoration: none

        &:visited
            color: #666

    p
        color: #ccc
        margin-bottom: 20px
        font-size: 12px

    li
        color: #999
        display: inline-block
        font-size: 12px
        *zoom: 1
        *display: inline
        width: 170px
        margin: 0 0 15px
        vertical-align: middle

        .totales
            color: #ccc
            font:
                style: italic

    .filtrar_caracteristicas
        background: url('../images/extras/cargar_tooltip.png') no-repeat 0 0
        border: 0px
        cursor: pointer
        display: block
        float: right
        height: 30px
        margin: 0 0px 5px
        width: 85px

        &:hover
            background: url('../images/extras/cargar_tooltip.png') no-repeat 0 -30px
        

