/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
    
/* HTML5 display-role reset para navegadores antiguos */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
    display: block
    
body
    line-height: 1
    
ol, ul
    list-style: none
    
blockquote, q
    quotes: none
    
blockquote:before, blockquote:after,
q:before, q:after
    content: ''
    content: none
    
table
    border-collapse: collapse
    border-spacing: 0

/* Colores */

$amarillo: #FFF08C

$azul: #0066CC
$azul_medio: #0099FF
$azul_claro: #66CCFF

$blanco: #FFF

$gris_faf: #FAFAFC
$gris_fac: #FAFCFF
$gris_f2f: #F2F2F6
$gris_f6f: #E5E5E5
$gris_ccc: #CCC
$gris_999: #999
$gris_666: #666
$gris_444: #444

$rojo_claro: #FF8A8A
$rojo_medio: #FF5353
$rojo: #F72121

/* Mixin */

@mixin borde_redondeado
    border-radius: 2px
    -o-border-radius: 2px
    -moz-border-radius: 2px
    -webkit-border-radius: 2px

@mixin borde_redondeado_4px
    border-radius: 4px
    -o-border-radius: 4px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px

@mixin borde_redondeado_grande
    border-radius: 8px
    -o-border-radius: 8px
    -moz-border-radius: 8px
    -webkit-border-radius: 8px

@mixin centrado
    margin: 0px auto
    width: 960px

@mixin footer
    border-bottom: 1px solid $gris_ccc
    color: $gris_999
    float: left
    padding: 30px 0
    width: 960px

@mixin gradiente_botones ($color_1, $color_2)
    background-image: linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -o-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -moz-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -webkit-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -ms-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, $color_1), color-stop(0.7, $color_2))
    border: 1px solid $color_1
    cursor: pointer

@mixin link_azul
    color: $azul
    text-decoration: none

@mixin link_azul_hover
    color: $azul
    text-decoration: underline

@mixin link_blanco
    color: $blanco
    text-decoration: none

@mixin link_blanco_hover
    color: $blanco
    text-decoration: underline

@mixin link_gris_444
    color: $gris_444
    text-decoration: none

@mixin link_gris_444_hover
    color: $gris_444
    text-decoration: underline

@mixin link_gris_666
    color: $gris_666
    text-decoration: none

@mixin link_gris_666_hover
    color: $gris_666
    text-decoration: underline 

@mixin link_gris_999
    color: $gris_999
    text-decoration: none

@mixin link_gris_999_hover
    color: $gris_999
    text-decoration: underline

@mixin titulo_grosero
    font:
        size: 29px
    line-height: 40px
    text-shadow: 1px 1px 1px $blanco

@mixin titulo_grande
    font:
        size: 24px
    line-height: 35px
    text-shadow: 1px 1px 1px $blanco

@mixin titulo_medio
    font:
        size: 20px
    line-height: 20px
    text-shadow: 1px 1px 1px $blanco

@mixin titulo_chico
    color: $gris_666
    font:
        size: 18px
        weight: bold
    line-height: 28px
    text-shadow: 1px 1px 1px $blanco

@mixin titulo_muy_chico
    color: $gris_666
    font:
        size: 16px
        weight: bold
    line-height: 26px
    text-shadow: 1px 1px 1px $blanco

@mixin textos_13
    font:
        family: Arial
        size: 13px
    line-height: 22px

@mixin box-sizing
    box-sizing: border-box
    -o-box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box

body
    background: url('../images/extras/fondo.gif') repeat-x $blanco
    color: $gris_444
    font:
        family: Arial
        size: 13px

/* Elementos generales del sitio */
input[type=checkbox], input[type=radio]
    border: none\9

    &:hover
        border: none\9

/* Mensajes */

.mensaje_exito
    @include borde_redondeado_grande
    background: $amarillo
    color: $gris_666
    display: block
    float: left
    line-height: 20px
    margin: 0 0 20px 0
    padding: 10px
    width: 940px

    a
        @include link_azul

        &:hover
            @include link_azul_hover

    .imagen_exito
        background: url('../images/extras/botones_sprite.png') 0px -129px
        display: block
        float: left
        height: 20px
        padding: 0 10px 0 0
        width: 20px

    .txt_exito
        float: left
        margin: 3px 0 0

.mensaje_cerrado
    @include borde_redondeado_grande
    background: $gris_666
    color: #fff
    display: block
    float: left
    line-height: 20px
    margin: 0 0 20px 0
    padding: 10px
    width: 940px

    a
        @include link_azul

        &:hover
            @include link_azul_hover

    .imagen_cerrado
        background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0px -717px 
        display: block
        float: left
        height: 20px
        padding: 0 10px 0 0
        width: 20px

    .txt_exito
        float: left
        margin: 1px 0 0

.mensaje_error
    @include borde_redondeado_grande
    background: $rojo_claro
    color: $blanco
    display: block
    float: left
    margin: 0 0 20px 0
    padding: 10px
    width: 940px

    .imagen_error
        background: url('../images/extras/botones_sprite.png') 0px -102px
        display: block
        float: left
        height: 21px
        padding: 0 10px 0 0
        width: 20px

    .txt_error
        display: block
        float: left
        line-height: 20px
        width: 910px

.errors
    color: $rojo_medio
    font:
        size: 12px

.errors.categoria
    margin-right: 100px

.input-error
    border: 1px solid $rojo_claro !important

a.chzn-single.chzn-error
    border: 1px solid $rojo_claro

/* Títulos */

.encabezados_titulos
    background: url('../images/extras/titulos_pattern_2.gif') $blanco repeat-x 0 0
    float: left
    height: 50px
    width: 100%

.titulo
    @include titulo_medio
    margin: 0 0 30px 0

.titulo_busqueda
    @include titulo_medio
    margin: 0 0 10px 0

.sub_titulo_busqueda
    @include titulo_muy_chico
    margin: 0 0 10px 0

.titulo_home
    @include titulo_muy_chico
    margin: 2px 0 0

.titulo_home_notas
    @include titulo_muy_chico
    margin: 12px 10px 0

.titulo_gigante
    @include titulo_grosero
    margin: 0 0 30px 0

.titulo_lugar
    @include titulo_grande
    color: $gris_444
    display: block
    float: left
    margin: 0 0 15px 0
    width: 578px

    &:hover
        color: $gris_444
        text:
            decoration: none

.titulo_recomendaciones
    @include titulo_medio
    display: block
    float: left
    margin: 0 0 20px 0
    padding: 30px 0 0
    width: 640px

.titulo_promocion_pedidos
    @include titulo_medio
    display: block
    float: left
    margin: 20px 10px 10px
    width: 278px

.titulo_popup
    @include titulo_medio
    margin: 20px 10px 0

.titulo_otros_lugares
    @include titulo_medio
    display: block
    float: left
    height: 20px
    padding: 15px 10px
    width: 280px

.titulo_accion_usuario
    @include titulo_medio

.titulo_accion_usuario_actividad
    @include titulo_medio
    margin: 0 0 40px 0

.titulo_accion_usuario_actividad_lugares
    font:
        size: 16px
    line-height: 26px
    margin: 0 0 40px 0

.titulo_edicion_usuario
    @include titulo_medio
    padding: 20px 0 0

/* Elementos obligatorios */

.obligatorio
    color: $gris_ccc

/* Inputs de los forms */

input
    border: 1px solid $gris_ccc

    &:hover
        border: 1px solid $gris_999

    &:focus
        border: 1px solid $azul_claro
        outline: none

/* Textareas de los forms */

textarea
    border: 1px solid $gris_ccc

    &:hover
        border: 1px solid $gris_999

    &:focus
        border: 1px solid $azul_claro
        outline: none

/* Header */

.barra_ciudad
    background: $gris_444
    float: left
    height: 25px
    width: 100%
    position: relative
    z-index: 1120
    
    .centrado_ciudad
        @include centrado
        height: 25px
        position: relative
        
        .logo_ciudad
            background: $blanco
            border: 1px solid $gris_ccc
            height: 80px
            left: 0
            position: absolute
            width: 130px
            z-index: 1001

            .borde_logo
                background: $blanco
                border: 2px solid $gris_f6f
                float: left
                height: 68px
                padding: 6px 13px 5px
                position: absolute
                top: -3px
                width: 100px
            
        .menu_ciudad
            background: $gris_444
            color: $blanco
            height: 25px
            float: left
            font:
                size: 12px
            width: 180px
            padding-left: 130px
            position: relative

            &:hover
                background: $gris_666

            a
                @include link_blanco
                float: left

            li
                height: 13px
                padding: 6px 10px

                ul
                    background: $gris_666
                    display: none
                    font:
                        size: 11px
                    left: 132px
                    padding: 10px 0 0
                    position: absolute
                    top: 25px
                    width: 178px
                    z-index: 1000

                    li
                        display: list-item
                        float: left
                        left: 0
                        padding: 10px
                        position: relative
                        width: 158px

                        &:hover
                            background: $gris_999
                            text-decoration: none !important
            
            .flecha_ciudad
                background: url('../images/extras/botones_sprite.png') -99px -1px
                display: block
                float: right
                height: 3px
                margin: 5px 0 0 5px
                width: 6px
        
        .login
            color: $blanco
            float: right
            font:
                size: 11px
            width: 180px

            .usuario_login_entra
                float: right
                margin: 6px 10px 0px 10px

            .usuario_login_registro
                float: right
                margin: 6px 0px 0px 10px
            
            a
                @include link_blanco

                &:hover
                    @include link_blanco_hover

            li
                background: $gris_444
                cursor: pointer
                float: right
                list-style-type: none
                position: relative

                &:hover
                    background: $gris_666                

                .usuario_login
                    background: $gris_444
                    float: left
                    display: block
                    padding: 0 5px 0 0
                    position: relative
                    min-width: 200px

                    &:hover
                        background: $gris_666

                .imagen_usuario_header
                    float: left
                    height: 25px
                    width: 25px

                .nombre_usuario_header
                    float: left
                    display: block
                    margin: 5px

                .alerta_premio
                    background: url('../images/extras/botones_sprite.png') -119px 0
                    height: 16px
                    float: right
                    margin: 4px 5px
                    width: 18px

                .flecha_ciudad
                    background: url('../images/extras/botones_sprite.png') -99px -1px
                    display: block
                    float: right
                    height: 3px
                    margin: 11px 0
                    width: 6px

                ul
                    display: none
                    position: absolute
                    top: 24px
                    width: 100%
                    *right: 0
                    z-index: 1000

                    a
                        display: block
                        float: left
                        width: 100%

                        &:hover
                            text-decoration: none

                        li
                            background: $gris_666
                            float: left
                            position: relative
                            width: 100%
                            height: 30px
    
                            &:hover
                                background: $gris_999

                            .header_editar_datos_usuario
                                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -19px
                                float: left
                                height: 11px
                                margin: 10px 0 0 10px
                                padding: 0 0 0 10px

                            span
                                float: left
                                padding: 10px

                            .con_icono
                                float: left
                                padding: 10px 10px 10px 5px

                            .subconjunto
                                float: left
                                padding: 10px 10px 10px 20px

                            .numero_notificacion
                                @include borde_redondeado_4px
                                background: $gris_999
                                box-shadow: 0px 1px 1px $gris_444
                                color: $blanco
                                float: right
                                font:
                                    weight: bold
                                margin: 7px 10px 0px
                                padding: 2px 4px 3px
                                text-shadow: 0px 1px 1px $gris_444

                            .numero_notificacion_premio
                                @include borde_redondeado_4px
                                background: $azul_claro
                                box-shadow: 0px 1px 1px $gris_444
                                color: $blanco
                                float: right
                                font:
                                    weight: bold
                                margin: 7px 10px 0px
                                padding: 2px 4px 3px
                                text-shadow: 0px 1px 1px $gris_444

            .facebook_login_santiago-de-chile
                background: url('../images/extras/botones_sprite.png') 0px 0px
                float: right
                height: 15px
                width: 48px
                margin: 5px 0px 0px 20px
                margin: 4px 0 0 20px\9

            .facebook_login_valparaiso-vina-del-mar
                background: url('../images/extras/botones_sprite.png') 0px 0px
                float: right
                height: 15px
                width: 48px
                margin: 5px 0px 0px 20px
                margin: 4px 0 0 20px\9

            .facebook_login_buenos-aires
                background: url('../images/extras/botones_sprite_ba.png') 0px 0px
                float: right
                height: 15px
                width: 48px
                margin: 5px 0px 0px 20px
                margin: 4px 0 0 20px\9
                                
        .redes_sociales
            float: right
            font:
                size: 12px
            height: 20px
            margin: 0 1px 0 0
            padding: 4px 9px 1px
            padding: 4px 7px 1px 9px
            width: 40px
            
            a
                color: $gris_444
                text-decoration: none
                
                &:hover
                    color: $gris_444
                    text-decoration: underline

            .facebook_btn
                background: url('../images/extras/botones_sprite.png') -48px 0px
                float: left
                height: 16px
                width: 17px

                &:hover
                    background: url('../images/extras/botones_sprite.png') -48px -16px

            .twitter_btn
                background: url('../images/extras/botones_sprite.png') -65px 0px
                float: left
                height: 16px
                margin: 0 0 0 5px
                width: 17px
                
                &:hover
                    background: url('../images/extras/botones_sprite.png') -65px -16px

            .blog
                float: left
                display: block
                margin: 3px 0 0 5px

        .promociona_negocio
            background: $azul_claro
            color: $blanco
            float: right
            font:
                size: 11px
            height: 19px
            margin: 0 1px 0 0
            padding: 6px 10px 0px

            a
                @include link_blanco

                &:hover
                    @include link_blanco_hover

.menu
    background: url('../images/extras/fondo_header.png') 0 0 repeat-x
    border-bottom: 1px solid $gris_f6f
    float: left
    height: 42px
    position: absolute
    top: 25px
    width: 100%
    z-index: 1110
        
    .centrado_menu
        @include centrado
        height: 40px
        position: relative
    
        .logo_ciudad_menu
            border-left: 1px solid $gris_ccc
            border-right: 1px solid $gris_ccc
            float: left
            height: 31px
            left: 0
            padding: 5px 40px
            width: 50px
            position: absolute
            display: none
        
        .menu_categorias
            color: $gris_444
            float: left
            font:
                size: 12px
            text-transform: lowercase
            margin-left: 131px
                
            li
                float: left
                list-style-type: none
                position: relative

                .tipo_categoria
                    cursor: default
                            
                a, .tipo_categoria
                    border-left: 1px solid $gris_ccc
                    border-right: 1px solid $blanco
                    color: $gris_444
                    float: left
                    padding: 15px 5px 14px
                    text-decoration: none
                    z-index: 20
                
                    &:hover, &.li-activo
                        background: url('../images/extras/flecha_menu.png') center 34px no-repeat $blanco
                        border-bottom: 1px solid $blanco
                        border-left: 1px solid $gris_ccc
                        border-right: none
                        border-top: 4px solid $azul_claro
                        color: $gris_444
                        padding: 11px 6px 18px 5px
                        z-index: 20
                
                .cajas_menu.dos_columnas
                    width: 500px

                .cajas_menu
                    background: $blanco
                    border-bottom: 1px solid $gris_ccc
                    border-left: 1px solid $gris_ccc
                    border-right: 1px solid $gris_ccc
                    border-top: 1px solid $blanco
                    display: none
                    left: 0
                    padding: 14px 0 0 0
                    position: absolute
                    top: 42px

                    ul
                        float: left
                        width: 250px

                        li
                            cursor: pointer
                            display: list-item
                            float: left
                            width: 250px

                            a
                                border: 0px
                                height: 20px
                                padding: 9px 6px 1px
                                width: 238px

                                &:hover
                                    background: $gris_f6f
                                    border: 0px
                                    padding: 9px 6px 1px
                                    width: 238px
                            
                            .numero_de_lugares_categoria
                                color: $gris_ccc
        
        .buscador_box
            background: url('../images/extras/fondo_buscador.png') 0 0 repeat-x
            border-left: 1px solid $gris_ccc
            border-right: 1px solid $gris_ccc
            float: right
            height: 41px
                 
            .buscar
                border-right: 1px solid $blanco
                float: left
                height: 32px
                padding: 4px
                position: relative
                            
                .buscador
                    border: 1px solid $gris_999
                    height: 30px
                    float: left
                    padding: 0px 5px
                    width: 183px
                    width: 181px\9
                    line-height: 30px\9

                    &:hover
                        border: 1px solid $gris_666

                    &:focus
                        border: 1px solid $azul_claro
                    
                .caja_icono
                    background: $gris_faf
                    border-bottom: 1px solid $gris_999
                    border-right: 1px solid $gris_999
                    border-top: 1px solid $gris_999
                    cursor: pointer
                    float: left
                    height: 16px
                    padding: 7px
                    width: 16px

                .icono_buscar
                    background: url('../images/extras/botones_sprite.png') -82px 0px
                    border: 0px
                    float: left
                    height: 15px
                    width: 15px
                    
                    &:hover
                        background: url('../images/extras/botones_sprite.png') -82px -16px
                        float: left
                        height: 15px
                        width: 15px
                    
                    
                .placeholder
                    color: $gris_ccc
            
                    &:hover
                        color: $gris_ccc

.fixed
    position: fixed
    top: 0

.borde_detalle_menu
    border-top: 1px solid $blanco
    border-bottom: 1px solid $gris_ccc

/* Contenidos */

.contenedor
    float: left
    padding: 90px 0px 20px
    width: 100%
    
    .contenido
        margin: 0 auto
        width: 960px
        position: relative

        .textos
            @include textos_13

        .confirmar_registro
            float: left
            text-align: center
            width: 960px

            p
                font:
                    size: 14px
                    weight: bold
                margin: 0 0 50px 0

            img
                margin: 30px 0 60px

            a
                @include link_azul

                &:hover
                    @include link_azul_hover

            .titulo
                @include titulo_medio
                color: $gris_666
                font:
                    weight: normal
                line-height: 45px

        .sidebar
            display: block
            float: left
            margin: 0 0 0 20px
            width: 300px

        .contenido_central
            display: block
            float: left
            width: 640px
            position: relative

        .mensaje_registro
            @include titulo_grosero
            border: 1px solid $gris_ccc
            color: $gris_999
            float: left
            margin: 0 0 10px 0
            padding: 30px
            text-align: center
            width: 898px

        .separacion_del_header
            display: block
            height: 40px
            float: left
            width: 960px

        .cajas_registro
            float: left
            margin: 0 0 40px 0
            position: relative
            width: 960px

            input
                line-height: 20px

            .columna_izquierda_registro
                @include box-sizing
                background: $gris_faf
                border-bottom: 1px solid $gris_ccc
                color: $gris_666
                height: 100%
                *height: 270px
                margin: 0 14px 0 0
                padding: 30px 20px 60px
                *padding: 30px 20px 0
                position: absolute
                left: 0
                text-align: center
                width: 473px
                *width: 433px

                .registro_facebook_img
                    background: url('../images/extras/botones_registro_usuario.png') no-repeat 0 0
                    height: 31px
                    margin: 0 150px
                    width: 134px

                .registro_facebook_btn_santiago-de-chile
                    background: url('../images/extras/botones_registro_usuario.png') no-repeat 0 -31px
                    cursor: pointer
                    height: 50px
                    margin: 20px 42px 60px
                    width: 350px
                    
                    &:hover
                        background: url('../images/extras/botones_registro_usuario.png') no-repeat 0 -81px                         

                .registro_facebook_btn_valparaiso-vina-del-mar
                    background: url('../images/extras/botones_registro_usuario.png') no-repeat 0 -31px
                    cursor: pointer
                    height: 50px
                    margin: 20px 42px 60px
                    width: 350px
                    
                    &:hover
                        background: url('../images/extras/botones_registro_usuario.png') no-repeat 0 -81px                         

                .registro_facebook_btn_buenos-aires
                    background: url('../images/extras/botones_registro_usuario_ba.png') no-repeat 0 -31px
                    cursor: pointer
                    height: 50px
                    margin: 20px 42px 60px
                    width: 350px
                    
                    &:hover
                        background: url('../images/extras/botones_registro_usuario_ba.png') no-repeat 0 -81px                         

            .columna_derecha_registro
                background: $gris_faf
                border-bottom: 1px solid $gris_ccc
                color: $gris_666
                float: left
                left: 486px
                *height: 270px
                padding: 30px 20px
                *padding: 30px 20px 0
                position: relative
                text-align: center
                width: 433px
                *width: 393px
            
            .columna_izquierda_password
                background: $gris_faf
                border-bottom: 1px solid $gris_ccc
                color: $gris_666
                float: left
                margin: 0 14px 0 0
                padding: 30px 20px 60px
                text-align: center
                width: 433px

                p
                    font:
                        size: 14px
                    line-height: 22px
                    margin: 0 0 20px 0

                ul
                    
                    li

                        .usuario_reset_password
                            display: block
                            float: left
                            font:
                                size: 14px
                            margin: 2px 0 10px
                            text-align: left
                            width: 240px
                        
                        .label_reset_password
                            width: 140px

                        .input_reset_password
                            width: 240px

                        label
                            display: block
                            float: left
                            font:
                                size: 14px
                                weight: bold
                            margin: 2px 15px 2px 0
                            text-align: right
                            width: 110px
                        
                        input
                            float: left
                            height: 22px
                            margin: 0 0 10px
                            padding: 3px 5px
                            width: 270px

                        .errors
                            float: left
                            margin: 0px 0px 10px 125px

                        .errors_reset_password
                            margin: 0px 0px 10px 155px

                        .boton_enviar
                            background: url('../images/extras/botones_registro_usuario.png') no-repeat -854px -31px
                            border: 0px
                            cursor: pointer
                            height: 30px
                            margin: 10px 0 0 125px
                            width: 100px

                            &:hover
                                background: url('../images/extras/botones_registro_usuario.png') no-repeat -854px -81px

                        .boton_enviar_reset_password
                            background: url('../images/extras/botones_registro_usuario.png') no-repeat -854px -31px
                            border: 0px
                            cursor: pointer
                            height: 30px
                            margin: 10px 0 0 155px
                            width: 100px

                            &:hover
                                background: url('../images/extras/botones_registro_usuario.png') no-repeat -854px -81px
            
            /* Login Usuario */

            .login
                float: left
                width: 433px

                .login_form

                    div

                        label
                            display: block
                            float: left
                            font:
                                size: 14px
                                weight: bold
                            margin: 2px 15px 2px 0
                            text-align: right
                            width: 110px
                        
                        input
                            float: left
                            height: 22px
                            margin: 0 0 10px
                            padding: 3px 5px
                            width: 270px
                        
                        .password_width
                            width: 180px

                        .boton_entrar
                            background: url('../images/extras/botones_registro_usuario.png') no-repeat -420px -31px
                            border: 0px
                            cursor: pointer
                            height: 30px
                            margin: 0 0 0 10px
                            width: 80px

                            &:hover
                                background: url('../images/extras/botones_registro_usuario.png') no-repeat -420px -81px

                        .recordar_checkbox
                            height: 15px
                            width: 15px

                        .checkbox_tip
                            color: $gris_999
                            float: left
                            font:
                                size: 12px
                            margin: 2px 0px 10px 5px
                            text-align: left

                        .tip
                            float: left
                            font:
                                size: 12px
                            margin: 2px 5px 10px 3px

                            a
                                @include link_gris_999

                                &:hover
                                    @include link_gris_999_hover

                        .entrar_con_facebook
                            background: url('../images/extras/botones_registro_usuario.png') no-repeat -350px -31px
                            cursor: pointer
                            float: left
                            height: 21px
                            margin: 0 238px 0 125px
                            width: 70px

                            &:hover
                                background: url('../images/extras/botones_registro_usuario.png') no-repeat -350px -81px
                        
            .texto_registro
                @include textos_13
                margin: 20px 0 0 0
            
            .registro_mail
                font:
                    size: 14px
                    weight: bold
                
                a
                    @include link_azul

                    &:hover
                        @include link_azul_hover

            a
                @include link_blanco

            .link_azul
                @include link_azul
                
                &:hover
                    @include link_azul_hover

            .link_gris_444
                @include link_gris_444
                
                &:hover
                    @include link_gris_444_hover

            .link_gris_666
                @include link_gris_666
                
                &:hover
                    @include link_gris_666_hover

            /* Registro Usuario */

            .registro
                float: left
                width: 433px

                .registro_form
                    font:
                        size: 12px

                    li

                        label
                            display: block
                            float: left
                            font:
                                size: 14px
                                weight: bold
                            margin: 5px 0
                            text-align: left
                            width: 140px
                      
                        input
                            float: left
                            height: 20px
                            margin: 0 0 10px 20px
                            padding: 3px 5px
                            width: 255px

                            .checkbox
                                float: left
                                margin: 0 0 10px 0
                                width: 20px

                        .errors
                            float: left
                            margin: 0px 0px 10px 160px
                        
                        .tip_password
                            color: $gris_999
                            float: left
                            font:
                                size: 12px
                            line-height: 18px
                            margin: 0 0 10px 160px
                            text-align: left
                            width: 268px

                        .tip_registro
                            color: $gris_666
                            float: left
                            font:
                                size: 12px
                            line-height: 18px
                            margin: 0 0 10px 160px
                            text-align: left
                            width: 268px

                            a
                                @include link_azul

                                &:hover
                                    @include link_azul_hover

                        .boton_registrar
                            background: url('../images/extras/botones_registro_usuario.png') no-repeat -500px -31px
                            border: 0px
                            cursor: pointer
                            height: 30px
                            margin: 20px 0 0 160px
                            width: 100px

                            &:hover
                                background: url('../images/extras/botones_registro_usuario.png') no-repeat -500px -81px
                                                                                                    
            .boton_registro_santiago-de-chile
                background: url('../images/extras/botones_registro_usuario.png') no-repeat -600px -31px
                border: 0px
                cursor: pointer
                height: 36px
                margin: 0 90px 10px
                width: 254px

                &:hover
                    background: url('../images/extras/botones_registro_usuario.png') no-repeat -600px -81px

            .boton_registro_valparaiso-vina-del-mar
                background: url('../images/extras/botones_registro_usuario.png') no-repeat -600px -31px
                border: 0px
                cursor: pointer
                height: 36px
                margin: 0 90px 10px
                width: 254px

                &:hover
                    background: url('../images/extras/botones_registro_usuario.png') no-repeat -600px -81px

            .boton_registro_buenos-aires
                background: url('../images/extras/botones_registro_usuario_ba.png') no-repeat -600px -31px
                border: 0px
                cursor: pointer
                height: 36px
                margin: 0 90px 10px
                width: 254px

                &:hover
                    background: url('../images/extras/botones_registro_usuario_ba.png') no-repeat -600px -81px

/* Estáticas */

.estaticas
    border-top: 1px solid $gris_f6f
    float: left
    position: relative
    width: 960px

    a
        @include link_azul

        &:hover
            @include link_azul_hover
    
    .contenido
        border-left: 1px solid $gris_f6f
        color: $gris_666
        float: left
        font:
            size: 14px
        line-height: 24px
        min-height: 565px
        padding: 20px 20px 60px
        width: 619px

        .centrado
            color: $gris_444
            font:
                weight: bold
            line:
                height: 25px
            text:
                align: center

        .bajada_cifra
            font:
                size: 16px
            text:
                align: center

        .ano
            color: $azul_claro
            font:
                weight: bold
        
        ul
            
            li
                list-style-type: disc
                margin: 0 0 10px 20px

        .formulario_estaticas
            float: left
            margin: 40px 0 0
            width: 619px

            ul

                li
                    float: left
                    list-style-type: none
                    margin: 0 0 20px
                    width: 619px

                    label
                        float: left
                        font:
                            weight: bold
                        width: 169px

                    input
                        float: left
                        padding: 8px
                        width: 421px
                    
                    textarea
                        float: left
                        height: 90px
                        padding: 8px
                        width: 421px
                    
                    .obligatorio
                        color: $gris_ccc

                    .tip
                        color: $gris_999
                        font:
                            size: 12px
                        float: left
                        margin: 15px 0 0 169px

                    .enviar_datos
                        background: url('../images/extras/botones_ficha_lugar.png') no-repeat -798px 0
                        border: 0px
                        cursor: pointer
                        height: 30px
                        margin: 0 0 0 169px
                        width: 100px

                        &:hover
                            background: url('../images/extras/botones_ficha_lugar.png') no-repeat -798px -30px
        
        .descarga_la_app
            background: url('../images/extras/iphone_app.png') 0 0 no-repeat
            height: 50px
            float: left
            margin: 20px 110px 0
            width: 400px

            &:hover
                background: url('../images/extras/iphone_app.png') 0 -50px no-repeat

        .tip_descarga
            float: left
            font:
                size: 11px
            margin: 0 110px 20px
            width: 400px

        .comparte_por_redes
            float: left
            height: 20px
            margin: 0 170px
            width: 260px

            li
                display: inline
                float: left

        .sugerencias_app
            color: $gris_999
            float: left
            font:
                size: 11px
            margin: 50px 110px 0
            text:
                align: center
            width: 400px

    .menu_estaticas
        @include box-sizing
        background: $gris_faf
        border-bottom: 1px solid $gris_f6f
        border-left: 1px solid $gris_f6f
        float: right
        height: 100%
        left: 660px
        padding: 75px 0
        position: absolute
        top: 0
        width: 300px

        a
            @include link_gris_999

            li
                background: $gris_faf
                border-bottom: 1px solid $gris_f6f
                border-top: 1px solid $gris_f6f
                border-left: 1px solid $gris_f6f
                cursor: pointer
                float: right
                list-style-type: none
                margin: 0px
                text-align: right
                padding: 15px 15px 15px 10px
                text-shadow: 1px 1px 1px $blanco
                width: 274px

                &:hover
                    border-bottom: 1px solid $gris_ccc
                    border-right: 5px solid $gris_ccc
                    padding: 15px 10px
                    
        .selected
            background: $blanco
            border-bottom: 1px solid $gris_f6f
            border-left: 1px solid $blanco
            border-right: 5px solid $azul_claro
            border-top: 1px solid $gris_f6f
            float: right
            text-align: right
            padding: 15px 10px
            width: 274px

            a
                @include link_gris_999
                font:
                    weight: bold

                &:hover
                    @include link_gris_999_hover

/* Banner iPhone */

.iphone_app_banner
    float: left
    height: 250px
    margin: 0 0 30px 0
    width: 300px

    .encabezado_iphone
        background: url('../images/extras/iphone_app.png') 0 -182px no-repeat
        margin: 12px 10px
        padding: 0 0 0 20px

    .iphone_app_banner_link
        background: url('../images/extras/iphone_app_banner_grande.png') 0 0 no-repeat
        border: 1px solid $gris_f6f
        height: 198px
        float: left
        width: 298px

        &:hover
            background: url('../images/extras/iphone_app_banner_grande.png') 0 -198px no-repeat

.iphone_app_banner_chico
    @include borde_redondeado_4px
    background: $gris_faf
    float: left
    height: 30px
    margin: 0 0 30px 0
    padding: 10px
    width: 280px

    .imagen_iphone
        background: url('../images/extras/iphone_app.png') 0 -152px no-repeat
        float: left
        height: 30px
        width: 15px

    .descarga_iphone_app
        float: left
        font:
            size: 11px
        line:
            height: 15px
        margin: 0 0 0 10px


/* Banners */

.banner_300x250
    background: $gris_f6f
    display: block
    height: 250px
    float: left
    margin: 0 0 30px 0
    width: 300px

/* Resultados patrocinados */
.resultado_patrocinado_busqueda, .resultado_patrocinado_ficha_informativa

    .patrocinado_titulo
        background: url('../images/extras/titulos_pattern.gif') $blanco repeat 0 -6px
        float: left
        height: 26px
        left: -1px
        margin: 20px 0 0
        padding: 8px 10px
        position: relative
        width: 582px

        .titulo_patrocinado
            background: url('../images/extras/icono_patrocinados.png') no-repeat 0 3px
            color: $gris_666
            float: left
            font:
                size: 16px
                weight: bold
            padding: 5px 0 5px 20px
            width: 450px

        .link_que_es_esto
            display: block
            font:
                size: 11px
            margin: 7px 0
            text-align: right

    .info_lugar_patrocinado
        background: $gris_faf
        border: 1px solid $gris_f6f
        float: left
        left: -1px
        padding: 20px
        position: relative
        width: 560px

        &:hover
            background: $gris_fac

        .lugar_patrocinado_imagen
            float: left
            margin: 0 20px 0 0
            width: 100px

        .lugar_patrocinado_principal
            border-right: 1px solid $gris_f6f
            float: left
            padding: 0 20px 0 0
            width: 250px

            .nombre_patrocinado
                @include link_gris_444
                display: block
                font:
                    size: 14px
                    weight: bold
                margin: 0 0 20px

                &:hover
                    @include link_gris_444_hover

            .categoria_patrocinado, .sector_patrocinado
                color: $gris_666
                display: block
                font:
                    size: 12px
                margin: 0 0 10px

        .lugar_patrocinado_secundario
            float: left
            padding: 0 0 0 20px
            width: 149px

            .direccion_patrocinado
                color: $gris_666
                display: block
                font:
                    size: 11px
                line-height: 15px
                margin: 0 0 20px

.resultado_patrocinado_ficha_informativa

    .patrocinado_titulo
        width: 621px

    .info_lugar_patrocinado
        width: 599px

        .lugar_patrocinado_principal
            width: 278px

        .lugar_patrocinado_secundario
            width: 160px

/* Avisos Concursos vigentes Búsqueda - Ficha */
.campanas_concursos
    color: $gris_666
    float: left
    left: -1px
    height: 250px
    margin: 0 0 30px
    position: relative
    width: 300px
    z-index: 1 !important

    .concursos_titulo
        background: url('../images/extras/titulos_pattern.gif') $blanco repeat 0 -8px
        float: left
        height: 26px
        padding: 8px 10px
        width: 282px

        .icono_concursos
            background: url('../images/extras/botones_sprite.png') no-repeat 0 -289px
            height: 22px
            padding: 7px 0 0 23px

        .titulo
            float: left
            margin: 0 20px 0 0
            width: 122px

            img
                float: left
                margin: 0 5px 0 0
            
            .titulo_concursos_search
                font:
                    size: 13px
                    weight: bold
                height: 14px
                line-height: 10px

        a
            background: url('../images/extras/concursos_todos_search_ficha.png') no-repeat 0 0
            float: left
            height: 22px
            margin: 3px 0px
            width: 140px

            &:hover
                background: url('../images/extras/concursos_todos_search_ficha.png') no-repeat 0 -22px

    .concursos_slide
        background: $gris_faf
        border-bottom: 1px solid $gris_f6f
        float: left
        height: 183px
        padding: 12px 10px
        width: 282px

        .espacio_concurso_busqueda, .espacio_concurso_ficha
            float: left
            height: 183px
            position: relative
            width: 282px

            .nuevo
                background: url('../images/concursos/nuevo.png')
                height: 72px
                left: -8px
                top: -7px
                position: absolute
                width: 76px
                z-index: 406

            #google_ads_div_concursos_activos_search_185x132_santiago-de-chile_ad_wrapper, #google_ads_div_concursos_activos_search_185x132_santiago-de-chile_ad_container, #google_ads_div_concursos_activos_search_185x132_valparaiso-vina-del-mar_ad_wrapper, #google_ads_div_concursos_activos_search_185x132_valparaiso-vina-del-mar_ad_container, #google_ads_div_concursos_activos_search_185x132_buenos-aires_ad_wrapper, #google_ads_div_concursos_activos_search_185x132_buenos-aires_ad_container
                height: 133px !important

.espacio_concurso_busqueda, .espacio_concurso_ficha

    a
        color: $gris_666

        &:hover
            text-decoration: none

        .roll_over_concurso
            height: 183px
            cursor: pointer
            position: relative
            top: 3px
            width: 282px
            z-index: 1

            &:hover
                background: url('../images/home/rollover_concursos_banner.png') no-repeat 0 -5px
                color: $blanco !important
                text:
                    shadow: 0px 0px 0px $blanco

            .lugar_concurso, .sorteo_concurso
                float: left
                font:
                    size: 14px
                    weight: bold
                opacity: 0
                padding: 125px 0 10px
                position: relative
                text:
                    align: center
                top: -9px
                width: 282px
                z-index: 1

                &:hover
                    opacity: 1

            .sorteo_concurso
                height: 30px
                font:
                    size: 13px
                    weight: normal
                line-height: 18px
                padding: 0
                top: -2px

        .contenido_concurso
            border-top: 7px solid $gris_666
            position: relative
            top: -183px

            img
                float: left
                height: 155px
                width: 282px

            .lugar_concurso
                background: $gris_f2f
                border-bottom: 1px solid $gris_ccc
                border-left: 1px solid $gris_ccc
                border-right: 1px solid $gris_ccc
                float: left
                font:
                    size: 14px
                    weight: bold
                padding: 8px 0
                position: relative
                text:
                    align: center
                    shadow: 1px 1px 1px $blanco
                top: -54px
                width: 280px

            .sorteo_concurso
                background: $gris_faf
                border-bottom: 1px solid $gris_ccc
                border-left: 1px solid $gris_ccc
                border-right: 1px solid $gris_ccc
                height: 30px
                float: left
                font:
                    size: 13px
                line-height: 18px
                padding: 8px 0
                position: relative
                text:
                    align: center
                top: -54px
                width: 280px

/* Footer */
        
.footer
    background: url('../images/extras/fondo_footer.png') 0 0 repeat
    float: right
    margin: 20px 0 0 0
    width: 100%
    
    .contenido_footer
        margin: 0 auto
        text-shadow: 1px 1px 1px $blanco
        width: 960px

        .participa_alianzas
            @include footer

            .participa
                float: left
                margin: 0 10px 0 0
                width: 220px

            .iphone_app
                float: left
                margin: 0 10px 0 0
                width: 530px

                a
                    @include link_gris_999
                    background: url('../images/extras/iphone_app.png') 0 -100px no-repeat
                    height: 32px
                    float: left
                    margin: 13px 0 0 13px
                    padding: 20px 0 0px 36px
                    width: 130px

                    &:hover
                        @include link_gris_999_hover               

            .alianzas
                float: left
                width: 190px

                .alianzas_img
                    display: block
                    float: left
                    margin: 20px 50px 0 0

                .alianzas_img_last
                    display: block
                    float: left
                    margin: 20px 0 0 0

        .loogares
            @include footer
            border-top: 1px solid $blanco

        .pais
            border-bottom: 1px solid $gris_ccc
            border-top: 1px solid $blanco
            color: $gris_999
            float: left
            padding: 30px 0
            width: 310px

        .idioma
            border-bottom: 1px solid $gris_ccc
            border-top: 1px solid $blanco
            color: $gris_999
            float: left
            padding: 37px 0
            *padding: 30px 0 31px
            width: 310px

        .redes
            border-bottom: 1px solid $gris_ccc
            border-top: 1px solid $blanco
            color: $gris_999
            float: left
            padding: 26px 0
            *padding: 26px 0 25px
            text-align: right
            width: 340px

        .copyright
            border-top: 1px solid $blanco
            color: $gris_999
            float: left
            font:
                size: 11px
            text-align: center
            padding: 25px 0
            width: 960px

            .softlayer
                height: 10px
                background: url("../images/extras/softlayer.png") no-repeat 0px 0px
                float: right
                display: block
                width: 87px

                &:hover
                    background: url("../images/extras/softlayer.png") no-repeat 0px -10px

                a
                    height: 10px
                    display: block
                    width: 87px
        
        p.footer_title
            background: url("../images/extras/flecha_footer.png") no-repeat 0px 3px
            font:
                size: 14px
                weight: bold
            height: 12px
            padding: 0 0 0 12px
            width: 220px
        
        p.footer_title_pais
            background: url("../images/extras/flecha_footer.png") no-repeat 0px 3px
            float: left
            font:
                size: 14px
                weight: bold
            height: 12px
            padding: 0 0 0 12px
            width: 130px

        p.footer_title_idioma
            background: url("../images/extras/flecha_footer.png") no-repeat 0px 3px
            float: left
            font:
                size: 14px
                weight: bold
            height: 12px
            padding: 0 0 0 12px
            width: 145px

        .cl
            background: url("../images/extras/botones_sprite.png") no-repeat 0px -32px
            height: 13px
            padding: 0 0 0 25px 
            width: 20px

        .ar
            background: url("../images/extras/botones_sprite.png") no-repeat 0px -47px
            height: 13px 
            padding: 0 0 0 25px 
            width: 20px

        .en
            background: url("../images/extras/botones_sprite.png") no-repeat 0px -64px
            height: 13px 
            padding: 0 0 0 25px 
            width: 20px

        .es
            background: url("../images/extras/botones_sprite.png") no-repeat 0px -83px
            height: 13px 
            padding: 0 0 0 25px 
            width: 20px
        
        .participa_listado

            li
                margin: 20px 0 0 12px

                a
                    @include link_gris_999

                    &:hover
                        @include link_gris_999_hover
                        
        .loogares_listado
            
            li
                float: left
                margin: 20px 0 0 12px
                width: 180px

                a
                    @include link_gris_999

                    &:hover
                        @include link_gris_999_hover

        .pais_listado

            li
                float: left
                margin: 1px 10px 0 0
                    
                a
                    @include link_gris_999

                    &:hover
                        @include link_gris_999_hover

        .idioma_listado

            li
                float: left
                margin: 1px 10px 0 0
                    
                a
                    @include link_gris_999

                    &:hover
                        @include link_gris_999_hover

        .redes_listado
            width: 350px

            li
                float: right
                margin: 0 0 0 10px
                    
                a
                    @include link_gris_999

                    &:hover
                        @include link_gris_999_hover


/* Página de error */

.pagina_error
    text-align: center

    p
        font:
            size: 14px
        line-heigh: 22px !important
        
    a
        @include link_azul

        &:hover
            @include link_azul_hover

/* AGREGADO POR EL SUR */

select
    width: 298px

label
    line-height: 23px
    display: inline-block

.placeholder
    color: #ccc

small
    font-size: 10px

.fb_hidden_button
    display: none


    