/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
    
/* HTML5 display-role reset para navegadores antiguos */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
    display: block
    
body
    line-height: 1
    
ol, ul
    list-style: none
    
blockquote, q
    quotes: none
    
blockquote:before, blockquote:after,
q:before, q:after
    content: ''
    content: none
    
table
    border-collapse: collapse
    border-spacing: 0

/* Colores */

$azul: #0066CC
$azul_claro: #66CCFF
$blanco: #FFF
$error: #F66
$gris_333: #333
$gris_444: #444
$gris_666: #666
$gris_686: #686868
$gris_999: #999
$gris_ccc: #CCC
$gris_ddd: #DDD
$gris_eee: #EEE
$gris_f6f: #F6F6F6
$gris_faf: #FAFAFC
$rojo: #FF3300

/* Mixin */

@mixin borde_redondeado
    border-radius: 2px
    -o-border-radius: 2px
    -moz-border-radius: 2px
    -webkit-border-radius: 2px

@mixin borde_redondeado_4px
    border-radius: 4px
    -o-border-radius: 4px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px

@mixin centrado
    margin: 0px auto
    width: 960px

@mixin footer
    border-bottom: 1px solid $gris_ccc
    color: $gris_999
    float: left
    padding: 30px 0
    width: 960px

@mixin gradiente_botones ($color_1, $color_2)
    background-image: linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -o-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -moz-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -webkit-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -ms-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, $color_1), color-stop(0.7, $color_2))
    border: 1px solid $color_1
    cursor: pointer

@mixin link_azul
    color: $azul
    text-decoration: none

@mixin link_azul_hover
    color: $azul
    text-decoration: underline

@mixin link_blanco
    color: $blanco
    text-decoration: none

@mixin link_blanco_hover
    color: $blanco
    text-decoration: underline

@mixin link_gris_444
    color: $gris_444
    text-decoration: none

@mixin link_gris_444_hover
    color: $gris_444
    text-decoration: underline

@mixin link_gris_686
    color: $gris_686
    text-decoration: none

@mixin link_gris_686_hover
    color: $gris_686
    text-decoration: underline

@mixin link_gris_999
    color: $gris_999
    text-decoration: none

@mixin link_gris_999_hover
    color: $gris_999
    text-decoration: underline

@mixin textos
    font:
        family: Arial
        size: 13px
    line-height: 18px

body
    background: url('../images/extras/fondo.gif') repeat-x $blanco
    color: $gris_444
    font:
        family: Arial
        size: 13px
    
/* Header */

.barra_ciudad
    background: $gris_444
    float: left
    height: 25px
    width: 100%
    
    .centrado_ciudad
        @include centrado
        height: 25px
        
        .logo_ciudad
            background: $blanco
            border: 1px solid $gris_ccc
            float: left
            height: 65px
            padding: 5px 15px
            position: absolute
            width: 100px
            z-index: 11
            
        .menu_ciudad
            color: $blanco
            float: left
            font:
                size: 12px
            margin: 6px 10px
            width: 298px
            padding-left: 130px

            a
                @include link_blanco
                float: left

                &:hover
                    @include link_blanco_hover
            
            .flecha_ciudad
                background: url('../images/extras/botones_sprite.png') -99px -1px
                display: block
                float: left
                height: 3px
                margin: 5px 0 0 5px
                width: 6px
        
        .login
            color: $blanco
            float: left
            font:
                size: 11px
            width: 420px

            .usuario_login_entra
                float: right
                margin: 6px 10px 0px 10px

            .usuario_login_registro
                float: right
                margin: 6px 0px 0px 10px
            
            a
                @include link_blanco

                &:hover
                    @include link_blanco_hover

            li
                background: $gris_444
                cursor: pointer
                float: right
                list-style-type: none
                position: relative

                &:hover
                    background: $gris_666                

                .usuario_login
                    float: left
                    display: block
                    padding: 0 5px 0 0
                    position: relative

                .imagen_usuario_header
                    float: left
                    height: 25px
                    width: 25px

                .nombre_usuario_header
                    float: left
                    display: block
                    margin: 5px

                .flecha_ciudad
                    background: url('../images/extras/botones_sprite.png') -99px -1px
                    display: block
                    float: left
                    height: 3px
                    margin: 11px 0
                    width: 6px

                ul
                    display: none
                    position: absolute
                    top: 24px
                    width: 100%
                    z-index: 10000

                    a
                        display: block
                        float: left
                        width: 100%

                        li
                            background: $gris_666
                            float: left
                            position: relative
                            width: 100%
    
                            &:hover
                                background: $gris_999

                            .header_editar_datos_usuario
                                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -19px
                                float: left
                                height: 11px
                                margin: 10px 0 0 10px
                                padding: 0 0 0 10px

                            span
                                float: left
                                padding: 10px

                            .con_icono
                                float: left
                                padding: 10px 10px 10px 5px

            .facebook_login
                background: url('../images/extras/botones_sprite.png') 0px 0px
                float: right
                height: 15px
                width: 48px
                margin: 4px 0px 0px 20px
                                
        .redes_sociales
            background: $gris_ccc
            float: left
            font:
                size: 12px
            height: 20px
            padding: 5px 10px 0
            width: 70px
            
            a
                color: $gris_444
                text-decoration: none
                
                &:hover
                    color: $gris_444
                    text-decoration: underline

            .facebook_btn
                background: url('../images/extras/botones_sprite.png') -48px 0px
                float: left
                height: 16px
                width: 17px

                &:hover
                    background: url('../images/extras/botones_sprite.png') -48px -16px

            .twitter_btn
                background: url('../images/extras/botones_sprite.png') -65px 0px
                float: left
                height: 16px
                margin: 0 0 0 5px
                width: 17px
                
                &:hover
                    background: url('../images/extras/botones_sprite.png') -65px -16px

            .blog
                float: left
                display: block
                margin: 2px 0 0 5px

.menu
    background: $blanco
    border-bottom: 1px solid $gris_ccc
    float: left
    height: 40px
    position: absolute
    top: 25px
    width: 100%
    z-index: 10
        
    .centrado_menu
        @include centrado
        height: 40px
    
        .logo_ciudad_menu
            background: $blanco
            border-left: 1px solid $gris_ccc
            border-right: 1px solid $gris_ccc
            float: left
            height: 30px
            padding: 5px 40px
            width: 50px
        
        .menu_categorias
            color: $gris_444
            float: left
            font:
                size: 12px
            text-transform: lowercase
            width: 584px
            margin: 0 auto
                
            li
                float: left
                list-style-type: none
                            
                a
                    border-bottom: 1px solid $gris_ccc
                    color: $gris_444
                    float: left
                    padding: 14px 6px 14px
                    text-decoration: none
                    z-index: 20
                
                    &:hover, &.li-activo
                        background: url('../images/extras/flecha_menu.png') center 34px no-repeat
                        border-bottom: 1px solid $blanco
                        border-left: 1px solid $gris_ccc
                        border-right: 1px solid $gris_ccc
                        border-top: 3px solid $azul
                        color: $gris_444
                        padding: 11px 5px 14px
                        z-index: 20

                ul
                    background: $blanco
                    border-bottom: 1px solid $gris_ccc
                    border-left: 1px solid $gris_ccc
                    border-right: 1px solid $gris_ccc
                    border-top: 1px solid $blanco
                    display: none
                    padding: 14px 0 0 0
                    position: absolute
                    top: 41px
                    width: 250px

                    li
                        display: list-item
                        float: left
                        width: 250px

                        a
                            border: 0px
                            height: 20px
                            padding: 9px 6px 1px
                            width: 238px

                            &:hover
                                background: $gris_f6f
                                border: 0px
                                padding: 9px 6px 1px
                                text-decoration: underline
                                width: 238px
        
        .buscador_box
            border-left: 1px solid $gris_ccc
            border-right: 1px solid $gris_ccc
            float: left
                 
            .buscar
                border: 1px solid $gris_999
                float: left
                height: 30px
                margin: 4px
                position: relative
                
                &:hover
                    border: 1px solid $gris_444

                &:focus
                    border: 1px solid $azul
            
                .buscador
                    border: 0px
                    height: 30px
                    float: left
                    padding: 0px 5px
                    width: 191px
                    
                .caja_icono
                    border-left: 1px solid $gris_999
                    cursor: pointer
                    float: left
                    height: 16px
                    padding: 7px
                    width: 16px

                .icono_buscar
                    background: url('../images/extras/botones_sprite.png') -82px 0px
                    float: left
                    height: 15px
                    width: 15px
                    
                    &:hover
                        background: url('../images/extras/botones_sprite.png') -82px -16px
                        float: left
                        height: 15px
                        width: 15px
                    
                    
                .placeholder
                    color: $gris_999
            
                    &:hover
                        color: $gris_ccc

.fixed
    position: fixed
    top: 0

/* Contenidos */

.contenedor
    float: left
    padding: 90px 0px 20px
    width: 100%
    
    .contenido
        margin: 0 auto
        width: 960px
        position: relative

        .textos
            @include textos

        .titulo
            font:
                size: 16px
            margin: 0 0 30px 0

        .confirmar_registro
            background: url('../images/extras/confirmar_registro.jpg') 400px 50px no-repeat
            height: 382px
            width: 960px

        .sidebar
            display: block
            float: left
            margin: 0 0 0 20px
            width: 300px

        .contenido_central
            display: block
            float: left
            width: 640px

        .columna_izquierda
            float: left
            padding: 0 20px 0 0
            width: 459px

        .columna_izquierda_borde
            border-right: 1px solid $gris_ddd
            float: left
            padding: 0 20px 0 0
            width: 459px

        .columna_derecha
            float: left
            padding: 0 0px 0 20px
            width: 460px

        .columna_derecha_borde
            border-left: 1px solid $gris_ddd
            float: left
            padding: 0 0px 0 20px
            width: 460px
        
        /* Login Usuario */

        .login
            float: left
            width: 459px

            .login_error
                background:
                    color: lighten($error, 25%)
                border: 1px solid $error
                float: left
                line-height: 18px
                margin: 0 0 20px 0
                padding: 5px 10px
                width: 439px

            .login_form
                font:
                    size: 12px

                div

                    label
                        display: block
                        float: left
                        margin: 5px 0
                        width: 90px
                    
                    input
                        border: 1px solid $gris_999
                        height: 20px
                        margin: 0 0 10px
                        padding: 3px 5px
                        width: 250px

                        &:hover
                            border: 1px solid $gris_444
                        
                        &:focus
                            border: 1px solid $azul

                        &.checkbox
                            float: left
                            margin: 0 0 10px 0
                            width: 20px

                    .tip
                        float: left
                        font:
                            size: 11px
                        margin: 0 0 10px
                        width: 360px

                        a
                            @include link_azul

                            &:hover
                                @include link_azul_hover

                    .checkbox_tip
                        float: left
                        font:
                            size: 12px
                        margin: 2px 5px 10px
                        width: 250px
                    
                .submit
                    float: left
                    width: 459px

                    .boton_entrar
                        @include gradiente_botones (#FF3300, #FF6600)
                        @include borde_redondeado
                        color: $blanco
                        font:
                            size: 12px
                            weight: bold
                        height: 30px
                        margin: 10px 0 0 0
                        text-shadow: 1px 1px 1px $gris_444
                        width: 60px

                        &:hover
                            @include gradiente_botones (#FF4400, #FF7700)
                            height: 30px
                            text-shadow: 1px 1px 1px $gris_444
                            width: 60px

        .texto_registro
            @include textos
                    
        a
            @include link_blanco

        .link_azul
            @include link_azul
            
            &:hover
                @include link_azul_hover

        .link_gris_444
            @include link_gris_444
            
            &:hover
                @include link_gris_444_hover

        .link_gris_686
            @include link_gris_686
            
            &:hover
                @include link_gris_686_hover

        /* Registro Usuario */

        .registro
            float: left
            width: 459px

            .registro_error
                background:
                    color: lighten($error, 25%)
                border: 1px solid $error
                float: left
                line-height: 18px
                margin: 0 0 20px 0
                padding: 5px 10px
                width: 439px

            .registro_form
                font:
                    size: 12px

                li

                    label
                        display: block
                        float: left
                        margin: 5px 0
                        width: 120px
                  
                    input
                        border: 1px solid $gris_999
                        height: 20px
                        margin: 0 0 10px
                        padding: 3px 5px
                        width: 250px

                        &:hover
                            border: 1px solid $gris_444

                        &.checkbox
                            float: left
                            margin: 0 0 10px 0
                            width: 20px

                    small.errors
                        margin-right: 76px
                    

                    .tip_registro
                        float: left
                        font:
                            size: 11px
                        margin: 0 0 10px
                        width: 330px

                        a
                            @include link_azul

                            &:hover
                                @include link_azul_hover

                .submit
                    float: left
                    width: 459px

                    .boton_registrar
                        @include gradiente_botones (#FF3300, #FF6600)
                        @include borde_redondeado
                        color: $blanco
                        font:
                            size: 12px
                            weight: bold
                        height: 30px
                        margin: 10px 0 0 0
                        text-shadow: 1px 1px 1px $gris_444
                        width: 80px

                        &:hover
                            @include gradiente_botones (#FF4400, #FF7700)
                            height: 30px
                            text-shadow: 1px 1px 1px $gris_444
                            width: 80px
        
        .caja_registro_facebook
            background: #EDEFF4
            border: 1px solid #3B5998
            float: left
            margin: 0 0 30px 0
            width: 458px
            
            .registro_facebook_img
                padding: 10px
                float: left
                width: 135px
            
            .registro_facebook_txt
                @include textos
                padding: 10px
                float: left
                width: 283px
            
            .registro_facebook_btn
                padding: 10px 129px
                float: left
                width: 200px   
                                                                                        
        .boton_registro
            @include gradiente_botones (#FF3300, #FF6600)
            @include borde_redondeado                        
            color: $blanco
            font:
                size: 25px
            height: 30px
            margin: 20px 135px
            padding: 15px 10px
            text-align: center
            text-shadow: 1px 1px 1px $gris_444
            width: 175px

            &:hover
                @include gradiente_botones (#FF4400, #FF7700)
                height: 30px
                text-shadow: 1px 1px 1px $gris_444
                width: 175px

/* Banners */

.banner_300x250
    background: $gris_f6f
    display: block
    height: 250px
    float: left
    margin: 0 0 20px 0
    width: 300px

/* Footer */
        
.footer
    background: $gris_f6f
    float: right
    margin: 20px 0 0 0
    width: 100%
    
    .contenido_footer
        margin: 0 auto
        text-shadow: 1px 1px 1px $blanco
        width: 960px

        .participa_alianzas
            @include footer

            .participa
                float: left
                margin: 0 10px 0 0
                width: 374px

            .alianzas
                float: left
                width: 576px

                .alianzas_img
                    display: block
                    float: left
                    margin: 20px 50px 0 0

                .alianzas_img_last
                    display: block
                    float: left
                    margin: 20px 0 0 0

        .loogares
            @include footer
            border-top: 1px solid $blanco

        .pais
            @include footer
            border-top: 1px solid $blanco

        .ano_loogares
            border-top: 1px solid $blanco
            color: $gris_999
            float: left
            font:
                size: 11px
            text-align: center
            padding: 25px 0
            width: 960px
        
        p.footer_title
            background: url("../images/extras/flecha_footer.png") no-repeat 0px 3px
            font:
                size: 14px
                weight: bold
            height: 12px
            padding: 0 0 0 12px
            width: 12px
        
        p.footer_title_pais
            background: url("../images/extras/flecha_footer.png") no-repeat 0px 3px
            float: left
            font:
                size: 14px
                weight: bold
            height: 12px
            padding: 0 0 0 12px
            width: 130px

        .cl
            background: url("../images/extras/botones_sprite.png") no-repeat 0px -32px
            height: 13px
            padding: 0 0 0 28px 
            width: 20px

        .ar
            background: url("../images/extras/botones_sprite.png") no-repeat 0px -47px
            height: 13px 
            padding: 0 0 0 28px 
            width: 20px
        
        .participa_listado

            li
                margin: 20px 0 0 12px

                a
                    @include link_gris_999

                    &:hover
                        @include link_gris_999_hover
                        
        .loogares_listado
            
            li
                float: left
                margin: 20px 0 0 12px
                width: 180px

                a
                    @include link_gris_999

                    &:hover
                        @include link_gris_999_hover

        .pais_listado

            li
                float: left
                margin: 1px 10px 0 0
                    
                a
                    @include link_gris_999

                    &:hover
                        @include link_gris_999_hover

/* Errores */

.errores-container
    background:
        color: lighten($error, 25%)
    border: 1px solid $error
    float: left
    display: none
    line-height: 18px
    margin: 0 0 20px 0
    padding: 5px 10px
    width: 938px

    p

        &:before
            content: "»"
            font-weight: bold
            margin-right: 4px

.errors
    color: $error
    display: block
    font:
        size: 11px
    float: left
    line-height: 14px
    margin: 5px 0 0 110px
    text-align: left
    width: 400px

.errors.categoria
    margin-right: 100px

.input-error
    border: 1px solid $error !important

a.chzn-single.chzn-error
    @include borde_redondeado_4px
    background:
        color: lighten($error, 25%)
    border: 1px solid $error





/* AGREGADO POR EL SUR */

input[type=text], textarea, input[type=password]
    border: 1px solid #ccc
    color: $gris_666
    outline: none
    padding: 8px
    width: 280px

select
    width: 298px

label
    line-height: 23px
    display: inline-block

.placeholder
    color: #ccc

.input-active
    border: 1px solid #0066cc

input:focus, textarea
    outline: none

small
    font-size: 10px
    