/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

/* HTML5 display-role reset para navegadores antiguos */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
	display: block

body
	line-height: 1

ol, ul
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after,
q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

/* Colores */

$amarillo: #FFF08C

$azul: #0066CC
$azul_oscuro: #B2E5FF
$azul_tiempo: #66CCFF
$azul_medio: #0099FF
$azul_claro: #66CCFF
$azul_participantes: #D2F2FF

$blanco: #FFF

$gris_faf: #FAFAFC
$gris_fac: #FAFCFF
$gris_f6f: #F2F2F6
$gris_ccc: #CCC
$gris_999: #999
$gris_666: #666
$gris_444: #444

$rojo_claro: #FF8A8A
$rojo_medio: #FF5353
$rojo: #F72121

/* Mixin */

@mixin borde_redondeado
	border-radius: 2px
	-o-border-radius: 2px
	-moz-border-radius: 2px
	-webkit-border-radius: 2px

@mixin borde_redondeado_4px
	border-radius: 4px
	-o-border-radius: 4px
	-moz-border-radius: 4px
	-webkit-border-radius: 4px

@mixin borde_redondeado_grande
	border-radius: 8px
	-o-border-radius: 8px
	-moz-border-radius: 8px
	-webkit-border-radius: 8px

@mixin centrado
	margin: 0px auto
	width: 960px

@mixin footer
	border-bottom: 1px solid $gris_ccc
	color: $gris_999
	float: left
	padding: 30px 0
	width: 960px

@mixin gradiente_botones ($color_1, $color_2)
	background-image: linear-gradient(bottom, $color_1 30%, $color_2 70%)
	background-image: -o-linear-gradient(bottom, $color_1 30%, $color_2 70%)
	background-image: -moz-linear-gradient(bottom, $color_1 30%, $color_2 70%)
	background-image: -webkit-linear-gradient(bottom, $color_1 30%, $color_2 70%)
	background-image: -ms-linear-gradient(bottom, $color_1 30%, $color_2 70%)
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, $color_1), color-stop(0.7, $color_2))
	border: 1px solid $color_1
	cursor: pointer

@mixin link_azul
	color: $azul
	text-decoration: none

@mixin link_azul_hover
	color: $azul
	text-decoration: underline

@mixin link_blanco
	color: $blanco
	text-decoration: none

@mixin link_blanco_hover
	color: $blanco
	text-decoration: underline

@mixin link_gris_444
	color: $gris_444
	text-decoration: none

@mixin link_gris_444_hover
	color: $gris_444
	text-decoration: underline

@mixin link_gris_666
	color: $gris_666
	text-decoration: none

@mixin link_gris_666_hover
	color: $gris_666
	text-decoration: underline 

@mixin link_gris_999
	color: $gris_999
	text-decoration: none

@mixin link_gris_999_hover
	color: $gris_999
	text-decoration: underline

@mixin titulo_grosero
	font:
		size: 29px
	line-height: 40px

@mixin titulo_grande
	font:
		size: 24px
	line-height: 35px

@mixin titulo_medio
	font:
		size: 20px
	line-height: 30px

@mixin titulo_chico
	font:
		size: 18px
	line-height: 28px

@mixin titulo_muy_chico
	font:
		size: 16px
	line-height: 26px

@mixin textos_13
	font:
		family: Arial
		size: 13px
	line-height: 22px

@mixin box-sizing
	box-sizing: border-box
	-o-box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box

body
	background: url('../images/extras/fondo.gif') repeat-x $blanco
	color: $gris_444
	font:
		family: Arial
		size: 13px

/* Etiquetas Posts */
.post
	color: $gris_666
	border-top: 5px solid $gris_444
	line-height: 20px
	float: left
	width: 640px

	.post_contenido
		border: 1px solid $gris_f6f
		font:
			size: 13px
		float: left
		line-height: 20px
		padding: 20px
		width: 600px

		a
			@include link_azul
			
			&:hover
				@include link_azul_hover

		.metadata_post
			color: $gris_999
			font:
				size: 11px
			margin: 0 0 30px

		.contenido_post
			white-space: pre-line

		.info_pelicula
			border-bottom: 1px solid $gris_ccc
			border-top: 1px solid $gris_ccc
			float: left
			margin: 0 0 20px 0
			padding: 20px 0
			width: 600px

			img
				float: left
				margin: 0 20px 0 0
				width: 80px

			ul
				float: left
				width: 498px

				.titulo_pelicula
					margin: 0 0 15px

				.descripcion_pelicula
					margin: 15px 0 0

		.colaboradores_review
			border-bottom: 1px solid $gris_ccc
			border-top: 1px solid $gris_ccc
			float: left
			margin: 0 0 20px 0
			padding: 20px 0
			width: 600px

			img
				float: left
				margin: 0 20px 0 0
				width: 100px

			p
				float: right
				width: 478px
				white-space: pre-line

		.articulos_review
			border-top: 1px solid $gris_ccc
			float: left
			margin: 0 0 20px 0
			padding: 20px 0
			width: 600px

			img
				float: left
				margin: 0 20px 0 0
				width: 100px

			p
				float: left
				width: 478px
				white-space: pre-line

		.articulos_review_last
			border-top: 1px solid $gris_ccc
			float: left
			margin: 0 0 20px 0
			padding: 20px 0
			width: 600px

			img
				float: left
				margin: 0 20px 0 0
				width: 100px

			p
				float: left
				width: 478px
				white-space: pre-line


	.detalles, .condiciones
		background: url('../images/extras/borde_relieve_posts.png') 0 0 no-repeat
		font:
			size: 14px
		float: left
		padding: 12px 0 0
		width: 640px

		.borde_cajas
			border: 1px solid $gris_f6f
			float: left
			padding: 20px

			a
				@include link_azul

				&:hover
					@include link_azul_hover

			.imagen_detalles
				float: left
				margin: 0 20px 0 0
				width: 145px

				a
					@include link_azul
					font:
						size: 12px
					margin: 0 0 0 10px

					&:hover
						@include link_azul_hover
					
				img.blog_detalle
					height: 145px
					margin: 0 0 17px 0
					width: 145px

				.facebook_lugar
					background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -71px
					display: inline-block
					float: left
					height: 16px
					margin: 3px 0 0 0
					width: 17px

				.twitter_lugar
					background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -92px
					display: inline-block
					float: left
					height: 16px
					margin: 3px 0 0 10px
					width: 17px
			
			.texto_detalles
				float: left
				width: 433px
				
				p
					white-space: pre-line

					.titulo_detalle
						color: $azul_claro
						font:
							weight: bold

					.titulo_ganadores
						color: $rojo_claro
						font:
							weight: bold

					.finaliza_detalle
						color: $gris_999
						font:
							size: 13px
							weight: bold
				
					a
						@include link_azul
						
						&:hover
							@include link_azul_hover

				.ganadores_concurso
					text-align: center
					margin: 0 0 20px 0
					width: 433px

					li
						
						a
							@include link_azul
								
							&:hover
								@include link_azul_hover

			.texto_condiciones
				color: $gris_999
				float: left
				font:
					size: 12px
				line-height: 20px
				width: 598px
				white-space: pre-line

			ol
				color: $gris_999
				list-style: decimal
				float: left
				font: 
					size: 12px
				margin: 20px 0 20px 20px 

				li
					margin: 0 0 10px
		
			.caja_colaborador
				float: left
				font:
					size: 12px

				.imagen_colaborador
					float: left
					width: 100px

				.info_colaborador
					float: left
					padding: 0 0 0 20px
					width: 476px

					a
						@include link_azul

						&:hover
							@include link_azul_hover

					.chico
						font:
							size: 11px

					.grande
						font:
							size: 15px

					.tag_colaborador
						display: block
						font:
							size: 11px
						float: left
						margin: 0pt 0pt 10px

					.imagen_tag_colaborador
						display: block
						float: left
						padding: 2px 0pt 0pt
						width: 12px

					.txt_tag_colaborador
						display: block
						float: left
						padding: 0px 0px 0px 5px
						width: 429px
					
					.descripcion_colaborador
						margin: 20px 0

					.redes_colaborador
						
						a
							@include link_gris_444
							font:
								size: 11px

							&:hover
								@include link_gris_444_hover

						.icono_colaboradores
							display: block
							float: left
							padding: 2px 0 0 0
							width: 4px

						.icono_twitter, .icono_facebook, .icono_flickr
							display: block
							float: left
							padding: 2px 0 0 10px
							width: 16px

						.link_colaboradores
							display: block
							float: left
							padding: 0 0 0 5px
							width: auto

.sidebar

	.imagen_post
		margin: 0 0 20px
		width: 300px

	.social_post
		float: left
		margin: 0 0 20px
		width: 300px

		.subtitulo_posts
			color: $gris_666
			margin: 0 0 20px
			font:
				size: 14px
				weight: bold

		.fb_social, .tw_social
			float: left
			margin: 0px 10px 10px 0

	.posts_anteriores
		color: $gris_666
		margin: 0 0 20px
		width: 300px

		.subtitulo_posts
			font:
				size: 14px
				weight: bold

		ul

			li
				font:
					size: 13px
				margin: 10px 0

				a
					@include link_gris_666

					&:hover
						@include link_gris_666_hover

.post_concurso
	color: $gris_666
	float: left
	width: 960px

	.columna_izq
		float: left
		margin: 0 0 40px
		width: 430px		

		.titulo_caja

			.titulo_concurso
				background: $gris_666
				border-bottom: 5px solid $azul_oscuro
				color: $blanco
				font:
					size: 25px
				height: 65px
				line-height: 32px
				padding: 20px
				width: 390px

			.concurso_boton
				background: url('../images/concursos/fondo_boton_concurso.png') no-repeat 0 0
				height: 198px
				float: left
				text-align: center
				width: 430px

				.boton_participar_click_santiago-de-chile, .boton_participar_click_valparaiso-vina-del-mar
					background: url('../images/concursos/boton_participar_click.png') no-repeat 0 0
					float: left
					height: 69px
					margin: 45px 85px 10px
					width: 259px

					&:hover
						background: url('../images/concursos/boton_participar_click.png') no-repeat 0 -69px

					&:active
						background: url('../images/concursos/boton_participar_click.png') no-repeat 0 -138px

				.boton_participar_click_buenos-aires
					background: url('../images/concursos/boton_participar_click_ba.png') no-repeat 0 0
					float: left
					height: 69px
					margin: 45px 85px 10px
					width: 259px

					&:hover
						background: url('../images/concursos/boton_participar_click_ba.png') no-repeat 0 -69px

					&:active
						background: url('../images/concursos/boton_participar_click_ba.png') no-repeat 0 -138px

				.boton_participar_recomendar_santiago-de-chile, .boton_participar_recomendar_valparaiso-vina-del-mar
					background: url('../images/concursos/boton_participar_recomendar.png') no-repeat 0 0
					float: left
					height: 69px
					margin: 45px 85px 10px
					width: 259px

					&:hover
						background: url('../images/concursos/boton_participar_recomendar.png') no-repeat 0 -69px

					&:active
						background: url('../images/concursos/boton_participar_recomendar.png') no-repeat 0 -138px

				.boton_participar_recomendar_buenos-aires
					background: url('../images/concursos/boton_participar_recomendar_ba.png') no-repeat 0 0
					float: left
					height: 69px
					margin: 45px 85px 10px
					width: 259px

					&:hover
						background: url('../images/concursos/boton_participar_recomendar_ba.png') no-repeat 0 -69px

					&:active
						background: url('../images/concursos/boton_participar_recomendar_ba.png') no-repeat 0 -138px

				.boton_participando_click
					background: url('../images/concursos/boton_participar_click.png') no-repeat 0 -207px
					float: left
					height: 69px
					margin: 45px 85px 10px
					width: 259px

				.boton_esperando_recomendar
					background: url('../images/concursos/boton_participar_recomendar.png') no-repeat 0 -345px
					float: left
					height: 69px
					margin: 45px 85px 10px
					width: 259px

				.boton_esperando_recomendar_santiago-de-chile, .boton_esperando_recomendar_valparaiso-vina-del-mar
					background: url('../images/concursos/boton_participar_recomendar.png') no-repeat 0 -345px
					float: left
					height: 69px
					margin: 45px 85px 10px
					width: 259px

				.boton_esperando_recomendar_buenos-aires
					background: url('../images/concursos/boton_participar_recomendar_ba.png') no-repeat 0 -345px
					float: left
					height: 69px
					margin: 45px 85px 10px
					width: 259px

				.boton_participando_recomendar
					background: url('../images/concursos/boton_participar_recomendar.png') no-repeat 0 -207px
					float: left
					height: 69px
					margin: 45px 85px 10px
					width: 259px

				.boton_cerrado
					background: url('../images/concursos/boton_participar_click.png') no-repeat 0 -276px
					float: left
					height: 69px
					margin: 45px 85px 10px
					width: 259px

				.como_funciona
					background: url('../images/extras/botones_sprite.png') no-repeat 0 -227px
					color: $gris_666
					float: left
					font:
						size: 11px
					margin: 0 161px
					text-align: center
					padding: 0 0 0 8px
					width: 100px			

		.tiempo_restante
			background: $gris_666 url('../images/concursos/flecha_tiempo.png') no-repeat 0 0
			border-bottom: 3px solid $gris_ccc
			color: $blanco
			float: left
			font:
				size: 11px
				weight: bold
			margin: 10px 20px 0
			padding: 30px 10px 20px
			text-align: center
			width: 370px

			.tiempo_azul
				color: $azul_tiempo

		.concurso_participantes
			background: $gris_fac
			border-bottom: 1px solid $gris_ccc
			float: left
			margin: 0 20px
			padding: 20px 10px
			text-align: center
			width: 370px

			.listado_participantes
				float: left
				width: 370px

				li
					float: left
					height: 20px
					margin: 5px
					width: 20px

					a
						height: 20px
						width: 20px

			.participantes
				float: left
				margin: 10px 0 0
				width: 370px

				.cantidad_participantes_izq
					background: url('../images/extras/borde_izq_participantes.png') no-repeat 0 0
					float: left
					height: 26px
					margin: 0 0 0 91px
					width: 6px

				.cantidad_participantes_der
					background: url('../images/extras/borde_der_participantes.png') no-repeat 0 0
					float: left
					height: 26px
					margin: 0 91px 0 0
					width: 6px

				.cantidad_participantes
					background: $azul_participantes
					color: $gris_666
					font:
						size: 11px
					float: left
					height: 12px
					padding: 7px 5px
					text-align: center
					width: 165px

					.numero_participantes
						background: $gris_666
						border-radius: 8px
						-o-border-radius: 8px
						-moz-border-radius: 8px
						-webkit-border-radius: 8px
						color: $blanco
						padding: 3px 6px

			.popup_participantes
				float: left
				font:
					size: 12px
				margin: 10px 0 0
				width: 355px

				img
					padding: 0 5px
					position: absolute

		.ganadores
			background: $gris_faf
			border-bottom: 1px solid $gris_ccc
			float: left
			margin: 0 20px
			padding: 20px 20px 0px
			width: 350px

			.titulo_ganadores
				font:
					size: 14px
					weight: bold

			.texto_ganadores
				font:
					size: 12px
				float: left
				line-height: 20px
				margin: 20px 0 10px

			li
				font:
					size: 12px
				float: left
				height: 20px
				margin: 10px 0 0
				width: 350px

				img
					float: left
					
				.nombre_ganador
					float: left
					margin: 4px 5px

		.redes_sociales_concurso
			background: $gris_faf
			border-bottom: 1px solid $gris_ccc
			border-top: 1px solid $gris_ccc
			color: $gris_999
			float: left
			font:
				size: 12px
			margin: 10px 20px
			padding: 20px
			text-align: center
			width: 350px

			.redes_listado
				float: left
				height: 20px
				margin: 15px 70px 0
				width: 230px

				li
					display: inline
					float: left

		.datos_lugar_concurso
			background: $gris_faf
			border-bottom: 1px solid $gris_ccc
			border-top: 1px solid $gris_ccc
			float: left
			font:
				size: 12px
			line-height: 20px
			margin: 0px 20px
			padding: 20px
			text-align: left
			width: 350px

			.sobre_lugar
				font:
					size: 14px
					weight: bold
				margin: 0 0 20px

			.sitio_web_lugar
				display: block

			.facebook_lugar
				background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -71px
				display: inline-block
				float: left
				height: 16px
				margin: 10px 0
				width: 16px

			.twitter_lugar
				background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -92px
				display: inline-block
				float: left
				height: 16px
				margin: 10px 0 10px 10px
				width: 16px

			.link_ficha_lugar
				float: left
				width: 370px

		.como_participar
			background: $gris_faf
			border-bottom: 1px solid $gris_ccc
			border-top: 1px solid $gris_ccc
			float: left
			font:
				size: 11px
			line-height: 18px
			margin: 10px 20px 0
			padding: 20px
			text-align: left
			width: 350px

			.como_participar_icono
				background: url('../images/concursos/icono_como_participar.png') no-repeat 0 0
				float: left
				padding: 0 0 0 25px

	.columna_der
		float: left
		margin: 0 0 40px
		width: 530px

		.imagen_concurso
			float: left
			height: 300px
			width: 530px
		
		.contenido_concurso
			border-bottom: 1px solid $gris_ccc
			border-left: 1px solid $gris_ccc
			border-right: 1px solid $gris_ccc
			float: left
			font: 
				size: 13px
			line-height: 22px
			padding: 30px 20px
			width: 488px

		.detalle_condiciones_concurso
			background: $gris_faf
			border-bottom: 1px solid $gris_ccc
			border-left: 1px solid $gris_ccc
			border-right: 1px solid $gris_ccc
			float: left
			font:
				size: 12px
			line-height: 20px
			padding: 30px 20px
			width: 488px

/* Pop Up */
.popup_registro, .popup_compartir, .popup_compartir_recomendacion
	background: $blanco
	border: 1px solid $gris_999
	border-radius: 4px
	-o-border-radius: 4px
	-moz-border-radius: 4px
	-webkit-border-radius: 4px
	color: $gris_666
	float: left
	font:
		size: 18px
		weight: bold
	height: 220px !important
	text-align: center
	width: 648px

	.lado_izq
		float: left
		height: 160px
		margin: 20px 0
		padding: 10px
		width: 304px

		.titulo_registro
			font:
				size: 17px
			line-height: 22px

		span
			font:
				size: 14px

	.lado_der
		border-left: 1px solid $gris_ccc
		float: left
		height: 160px
		margin: 20px 0
		padding: 10px
		width: 303px

		.titulo_registro
			font:
				size: 18px
			line-height: 30px
			margin: 40px 0

	.bajada_popup
		font:
			size: 20px
			weight: bold
		float: left
		line-height: 20px
		text-shadow: 1px 1px 1px $blanco
		margin: 10px 10px 0
		width: 628px
	
	.participacion_click_recomendacion
		float: left
		height: 91px
		margin: 30px 263px
		width: 123px
	
	.texto_recomendacion
		font:
			size: 15px
			weight: bold
		float: left
		line-height: 25px
		margin: 0 10px 20px
		width: 628px

	.comparte_con_amigos
		font:
			size: 13px
			weight: normal
		float: left
		margin: 0 10px 20px
		width: 628px

	.registro_facebook_btn_popup
		background: url('../images/concursos/fb_connect_concurso.png') no-repeat 0 0px
		cursor: pointer
		height: 36px
		margin: 20px 25px 10px
		width: 254px

		&:hover
			background: url('../images/concursos/fb_connect_concurso.png') no-repeat 0 0px
	
	.compartir_por_redes_texto
		font:
			size: 17px
			weight: normal
		margin: 20px 10px

	.compartir_por_redes
		font:
			size: 14px
			weight: normal
		margin: 10px 10px 30px

	ul
		font:
			size: 12px
			weight: normal
		float: left
		margin: 0 16px
		width: 616px

		li
			float: left
			margin: 0 5px !important
			width: 298px
				
			.compartir_por_facebook
				background: url('../images/concursos/compartir_por_redes.png') no-repeat 0 0
				height: 75px
				float: left
				width: 298px  

				&:hover
					background: url('../images/concursos/compartir_por_redes.png') no-repeat -298px 0				

				span
					display: none
				
			.compartir_por_twitter
				background: url('../images/concursos/compartir_por_redes.png') no-repeat 0 -75px
				height: 75px
				float: left
				width: 298px  

				&:hover
					background: url('../images/concursos/compartir_por_redes.png') no-repeat -298px -75px				

	.volver
		color: $gris_ccc
		float: left
		font:
			size: 11px
			weight: normal
		margin: 30px 0 20px
		width: 650px

/* Pop Up */
.lightbox_participantes
	background: $blanco
	border: 1px solid $gris_999
	border-radius: 4px
	-o-border-radius: 4px
	-moz-border-radius: 4px
	-webkit-border-radius: 4px
	color: $gris_666
	float: left
	font:
		size: 19px
		weight: bold
	text-align: center
	width: 570px

	.header_participantes
		background: $gris_faf
		border-bottom: 1px solid $gris_ccc
		float: left
		height: 50px
		line-height: 26px
		padding: 20px
		width: 530px

	.body_participantes
		float: left
		margin: 20px

		.listado_participantes
			float: left
			margin: 0 80px
			width: 370px

			li
				float: left
				height: 20px
				margin: 5px
				width: 20px

				a
					height: 20px
					width: 20px

.popup_compartir
	height: 300px !important

.popup_compartir_recomendacion
	height: 430px !important

	.bajada_popup
		font:
			size: 18px
		margin: 20px 10px 0
	
	.texto_recomendacion
		font:
			size: 16px
			weight: normal
		margin: 20px 10px 20px
	
	ul

		li
			margin: 0 0 0 85px !important
			width: 182px !important
				
			.compartir_por_facebook
				background: url('../images/concursos/compartir_por_fb_recomendacion.png') no-repeat 0 0
				height: 36px
				float: left
				width: 182px 

				&:hover
					background: url('../images/concursos/compartir_por_fb_recomendacion.png') no-repeat 0 -36px

				span
					display: none
				
			.compartir_por_twitter
				background: url('../images/concursos/compartir_por_tw_recomendacion.png') no-repeat 0 0
				height: 36px
				float: left
				width: 182px  

				&:hover
					background: url('../images/concursos/compartir_por_tw_recomendacion.png') no-repeat 0 -36px

	.volver
		margin: 20px 0 20px