/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

/* HTML5 display-role reset para navegadores antiguos */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
	display: block

body
	line-height: 1

ol, ul
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after,
q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

/* Colores */

$amarillo: #FFF08C

$azul: #0066CC
$azul_medio: #0099FF
$azul_claro: #66CCFF

$blanco: #FFF

$gris_faf: #FAFAFC
$gris_f6f: #F2F2F6
$gris_ccc: #CCC
$gris_999: #999
$gris_666: #666
$gris_444: #444

$rojo_claro: #FF8A8A
$rojo_medio: #FF5353
$rojo: #F72121

/* Mixin */

@mixin borde_redondeado
	border-radius: 2px
	-o-border-radius: 2px
	-moz-border-radius: 2px
	-webkit-border-radius: 2px

@mixin borde_redondeado_4px
	border-radius: 4px
	-o-border-radius: 4px
	-moz-border-radius: 4px
	-webkit-border-radius: 4px

@mixin borde_redondeado_grande
	border-radius: 8px
	-o-border-radius: 8px
	-moz-border-radius: 8px
	-webkit-border-radius: 8px

@mixin centrado
	margin: 0px auto
	width: 960px

@mixin footer
	border-bottom: 1px solid $gris_ccc
	color: $gris_999
	float: left
	padding: 30px 0
	width: 960px

@mixin gradiente_botones ($color_1, $color_2)
	background-image: linear-gradient(bottom, $color_1 30%, $color_2 70%)
	background-image: -o-linear-gradient(bottom, $color_1 30%, $color_2 70%)
	background-image: -moz-linear-gradient(bottom, $color_1 30%, $color_2 70%)
	background-image: -webkit-linear-gradient(bottom, $color_1 30%, $color_2 70%)
	background-image: -ms-linear-gradient(bottom, $color_1 30%, $color_2 70%)
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, $color_1), color-stop(0.7, $color_2))
	border: 1px solid $color_1
	cursor: pointer

@mixin link_azul
	color: $azul
	text-decoration: none

@mixin link_azul_hover
	color: $azul
	text-decoration: underline

@mixin link_blanco
	color: $blanco
	text-decoration: none

@mixin link_blanco_hover
	color: $blanco
	text-decoration: underline

@mixin link_gris_444
	color: $gris_444
	text-decoration: none

@mixin link_gris_444_hover
	color: $gris_444
	text-decoration: underline

@mixin link_gris_666
	color: $gris_666
	text-decoration: none

@mixin link_gris_666_hover
	color: $gris_666
	text-decoration: underline 

@mixin link_gris_999
	color: $gris_999
	text-decoration: none

@mixin link_gris_999_hover
	color: $gris_999
	text-decoration: underline

@mixin titulo_grosero
	font:
		size: 29px
	line-height: 40px

@mixin titulo_grande
	font:
		size: 24px
	line-height: 35px

@mixin titulo_medio
	font:
		size: 20px
	line-height: 30px

@mixin titulo_chico
	font:
		size: 18px
	line-height: 28px

@mixin titulo_muy_chico
	font:
		size: 16px
	line-height: 26px

@mixin textos_13
	font:
		family: Arial
		size: 13px
	line-height: 22px

@mixin box-sizing
	box-sizing: border-box
	-o-box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box

body
	background: url('../images/extras/fondo.gif') repeat-x $blanco
	color: $gris_444
	font:
		family: Arial
		size: 13px

/* Etiquetas Posts */
.post
	color: $gris_666
	border-top: 5px solid $gris_444
	line-height: 20px
	float: left
	width: 640px

	.post_contenido
		border: 1px solid $gris_f6f
		font:
			size: 13px
		float: left
		line-height: 20px
		padding: 20px
		width: 600px

		a
			@include link_azul
			
			&:hover
				@include link_azul_hover

		.metadata_post
			color: $gris_999
			font:
				size: 11px
			margin: 0 0 30px

		.contenido_post
			white-space: pre-line

		.info_pelicula
			border-bottom: 1px solid $gris_ccc
			border-top: 1px solid $gris_ccc
			float: left
			margin: 0 0 20px 0
			padding: 20px 0
			width: 600px

			img
				float: left
				margin: 0 20px 0 0
				width: 80px

			ul
				float: left
				width: 498px

				.titulo_pelicula
					margin: 0 0 15px

				.descripcion_pelicula
					margin: 15px 0 0

		.colaboradores_review
			border-bottom: 1px solid $gris_ccc
			border-top: 1px solid $gris_ccc
			float: left
			margin: 0 0 20px 0
			padding: 20px 0
			width: 600px

			img
				float: left
				margin: 0 20px 0 0
				width: 100px

			p
				float: left
				width: 478px
				white-space: pre-line

		.articulos_review
			border-top: 1px solid $gris_ccc
			float: left
			margin: 0 0 20px 0
			padding: 20px 0
			width: 600px

			img
				float: left
				margin: 0 20px 0 0
				width: 100px

			p
				float: left
				width: 478px
				white-space: pre-line

		.articulos_review_last
			border-top: 1px solid $gris_ccc
			float: left
			margin: 0 0 20px 0
			padding: 20px 0
			width: 600px

			img
				float: left
				margin: 0 20px 0 0
				width: 100px

			p
				float: left
				width: 478px
				white-space: pre-line


	.detalles, .condiciones
		background: url('../images/extras/borde_relieve_posts.png') 0 0 no-repeat
		font:
			size: 14px
		float: left
		padding: 12px 0 0
		width: 640px

		.borde_cajas
			border: 1px solid $gris_f6f
			float: left
			padding: 20px

			a
				@include link_azul

				&:hover
					@include link_azul_hover

			.imagen_detalles
				float: left
				margin: 0 20px 0 0
				width: 145px

				a
					@include link_azul
					font:
						size: 12px
					margin: 0 0 0 10px

					&:hover
						@include link_azul_hover
					
				img
					height: 145px
					margin: 0 0 17px 0
					width: 145px

				.facebook_lugar
					background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -71px
					display: inline-block
					float: left
					height: 16px
					margin: 3px 0 0 0
					width: 17px

				.twitter_lugar
					background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -92px
					display: inline-block
					float: left
					height: 16px
					margin: 3px 0 0 10px
					width: 17px
			
			.texto_detalles
				float: left
				width: 433px
				
				p
					white-space: pre-line

					.titulo_detalle
						color: $azul_claro
						font:
							weight: bold

					.titulo_ganadores
						color: $rojo_claro
						font:
							weight: bold

					.finaliza_detalle
						color: $gris_999
						font:
							size: 13px
							weight: bold
				
					a
						@include link_azul
						
						&:hover
							@include link_azul_hover

				.ganadores_concurso
					text-align: center
					margin: 0 0 20px 0
					width: 433px

					li
						
						a
							@include link_azul
								
							&:hover
								@include link_azul_hover

			.texto_condiciones
				color: $gris_999
				float: left
				font:
					size: 12px
				line-height: 20px
				width: 598px
				white-space: pre-line

			ol
				color: $gris_999
				list-style: decimal
				float: left
				font: 
					size: 12px
				margin: 20px 0 20px 20px 

				li
					margin: 0 0 10px
		
			.caja_colaborador
				float: left
				font:
					size: 12px

				.imagen_colaborador
					float: left
					width: 100px

				.info_colaborador
					float: left
					padding: 0 0 0 20px
					width: 476px

					a
						@include link_azul

						&:hover
							@include link_azul_hover

					.chico
						font:
							size: 11px

					.grande
						font:
							size: 15px

					.tag_colaborador
						display: block
						font:
							size: 11px
						float: left
						margin: 0pt 0pt 10px

					.imagen_tag_colaborador
						display: block
						float: left
						padding: 2px 0pt 0pt
						width: 12px

					.txt_tag_colaborador
						display: block
						float: left
						padding: 0px 0px 0px 5px
						width: 429px
					
					.descripcion_colaborador
						margin: 20px 0

					.redes_colaborador
						
						a
							@include link_gris_444
							font:
								size: 11px

							&:hover
								@include link_gris_444_hover

						.icono_colaboradores
							display: block
							float: left
							padding: 2px 0 0 0
							width: 4px

						.icono_twitter, .icono_facebook, .icono_flickr
							display: block
							float: left
							padding: 2px 0 0 10px
							width: 16px

						.link_colaboradores
							display: block
							float: left
							padding: 0 0 0 5px
							width: auto

.sidebar

	.imagen_post
		margin: 0 0 20px
		width: 300px

	.social_post
		float: left
		margin: 0 0 20px
		width: 300px

		.subtitulo_posts
			color: $gris_666
			margin: 0 0 20px
			font:
				size: 14px
				weight: bold

		.fb_social, .tw_social
			float: left
			margin: 0px 10px 10px 0

	.posts_anteriores
		color: $gris_666
		margin: 0 0 20px
		width: 300px

		.subtitulo_posts
			font:
				size: 14px
				weight: bold

		ul

			li
				font:
					size: 13px
				margin: 10px 0

				a
					@include link_gris_666

					&:hover
						@include link_gris_666_hover