.post
	width: 640px
	color: #666
	line-height: 20px

	p
		margin: 18px 0

	h1
		font-size: 24px
		line-height: 30px

	.post_contenido
		font-size: 14px
		padding: 20px
		border: 1px solid #eeeef3
		border-top: 5px solid #7ec9ff

		.metadata
			font-size: 10px
			margin: 10px 0 20px
			color: #aaa

	.condiciones, .como_participar
		margin-top: 5px
		padding: 10px 20px
		border: 1px solid #eeeef3
		border-top: none

	.condiciones
		font-size: 14px

		.condiciones_titulo
			font-weight: bold
			color: #7ec9ff
			font-size: 16px

		.condiciones_finaliza
			color: #888
			font-weight: bold

	.como_participar

		ol
			list-style: decimal
			padding-left: 20px

			li
				margin-top: 10px

