/* Colores */

$amarillo: #FFF08C

$azul: #0066CC
$azul_medio: #0099FF
$azul_claro: #66CCFF

$blanco: #FFF

$gris_faf: #FAFAFC
$gris_f6f: #F2F2F6
$gris_ccc: #CCC
$gris_999: #999
$gris_666: #666
$gris_444: #444

$rojo_claro: #FF8A8A
$rojo_medio: #FF5353
$rojo: #F72121

/* Mixin */

@mixin borde_redondeado
	border-radius: 2px
	-o-border-radius: 2px
	-moz-border-radius: 2px
	-webkit-border-radius: 2px

@mixin borde_redondeado_grande
	border-radius: 8px
	-o-border-radius: 8px
	-moz-border-radius: 8px
	-webkit-border-radius: 8px

@mixin gradiente_botones ($color_1, $color_2)
	background-image: linear-gradient(bottom, $color_1 30%, $color_2 70%)
	background-image: -o-linear-gradient(bottom, $color_1 30%, $color_2 70%)
	background-image: -moz-linear-gradient(bottom, $color_1 30%, $color_2 70%)
	background-image: -webkit-linear-gradient(bottom, $color_1 30%, $color_2 70%)
	background-image: -ms-linear-gradient(bottom, $color_1 30%, $color_2 70%)
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, $color_1), color-stop(0.7, $color_2))
	border: 1px solid $color_1
	cursor: pointer

@mixin link_azul
	color: $azul !important
	text-decoration: none

@mixin link_azul_hover
	color: $azul !important
	text-decoration: underline

@mixin link_blanco
	color: $blanco !important
	text-decoration: none

@mixin link_blanco_hover
	color: $blanco !important
	text-decoration: underline

@mixin link_gris_444
	color: $gris_444 !important
	text-decoration: none

@mixin link_gris_444_hover
	color: $gris_444 !important
	text-decoration: underline 

@mixin link_gris_666
	color: $gris_666 !important
	text-decoration: none

@mixin link_gris_666_hover
	color: $gris_666 !important
	text-decoration: underline 

@mixin link_gris_999
	color: $gris_999 !important
	text-decoration: none

@mixin link_gris_999_hover
	color: $gris_999 !important
	text-decoration: underline 

@mixin sombra_fuerte
	-box-shadow: -3px 3px 1px $gris_eee
	-o-box-shadow: -3px 3px 1px $gris_eee
	-moz-box-shadow: -3px 3px 1px $gris_eee
	-webkit-box-shadow: -3px 3px 1px $gris_eee

@mixin box-sizing
	box-sizing: border-box
	-o-box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box

/* Resultados buscador */

.resultados_wrapper
	border: 1px solid $gris_f6f
	float: left
	min-height: 960px
	padding: 20px
	position: relative
	width: 918px

.resultados
	float: left

	.breadcrumb
		font:
			size: 12px
		margin: 0 0 30px 0

		a
			@include link_gris_999

			&:hover
				@include link_gris_999_hover

/* Filtros Búsquedas y Categorías */
.filtros_zonas
	background: url('../images/extras/borde_relieve_zonas.png') 0 181px no-repeat $gris_faf
	margin: 0 10px 0 0
	width: 215px

.filtros_categorias
	background: url('../images/extras/borde_relieve_categorias.png') 0 181px no-repeat $gris_faf
	width: 689px

.filtros_subcategorias
	background: url('../images/extras/borde_relieve_subcategorias.png') 0 181px no-repeat $gris_faf
	margin: 0 10px 0 0
	width: 345px

.filtros_precios
	background: url('../images/extras/borde_relieve_precios.png') 0 181px no-repeat $gris_faf
	margin: 0 10px 0 0
	width: 97px

.filtros_caracteristicas
	background: url('../images/extras/borde_relieve_caracteristicas.png') 0 181px no-repeat $gris_faf
	width: 219px

.filtros_subcategorias, .filtros_zonas, .filtros_precios, .filtros_caracteristicas, .filtros_categorias
	color: #666
	display: inline-block
	*zoom: 1
	*display: inline
	height: 185px
	overflow: hidden
	text-shadow: 0 1px 0 $blanco
	vertical-align: top

	ul

		li
			display: inline-block
			*zoom: 1
			*display: inline
			margin: 0 10px 14px 0
			vertical-align: middle
			width: 155px

	.filtros_header
		background: $gris_f6f
		border-bottom: 1px #ccc solid
		height: 25px
		font:
			size: 13px
		line-height: 25px
		padding: 0 10px

	.filtros_titulo
		float: left

	.ver_mas
		float: right
	
		.filtros_expandir
			border-left: 1px #ccc solid
			cursor: pointer
			-webkit-touch-callout: none
			-webkit-user-select: none
			-khtml-user-select: none
			-moz-user-select: none
			-ms-user-select: none
			-o-user-select: none
			user-select: none
			padding: 0 10px
			width: 69px
			float: right

		.filtros_ver_mas_icono
			background: url('../images/extras/botones_sprite.png') -107px 0
			float: right
			height: 4px
			margin: 10px 0
			width: 7px

	.tips_icon
		background: url('../images/extras/botones_sprite.png') no-repeat 0 -213px
		float: right
		height: 10px
		margin: 7px 0 0 5px
		width: 10px  

		&:hover
			background: url('../images/extras/botones_sprite.png') no-repeat 0 -228px

	.resultados_filtros
		font:
			size: 12px
		padding: 20px 10px

		a
			color: $gris_999
			text-decoration: none

			&:visited
				color: $gris_999

		ul

			li.zonas
				width: 195px

				a
					cursor: pointer

					&:hover
						text-decoration: underline

			li.categoria
				width: 210px

				a
					cursor: pointer

					&:hover
						text-decoration: underline

			li.subcategoria
				width: 230px

				a
					cursor: pointer

					&:hover
						text-decoration: underline

			li.caracteristicas
				width: 195px

				a
					cursor: pointer

					&:hover
						text-decoration: underline

.filtros_precios

	.precio_container
		display: inline-block
		margin: 0 0 9px
		width: 77px

		a
			float: left
			margin: 0 0 0 5px
			width: 62px

		input
			float: left
			height: 10px
			margin: 1px 0 0 0
			width: 10px

			.filtro_precios_raty
				display: inline
				cursor: pointer !important	
				widht: 67px	

/* Qtip box precios */
.qtip_precio
	display: block
	margin: 0 auto 5px auto
	text-align: left
	width: 200px

	.signo_precio
		display: inline-block
		width: 45px

/* Orden de los resultados */
.orden_container
	border-top: 1px solid #f2f2f2
	border-bottom: 1px solid #f2f2f2
	float: left
	margin: 10px 0 0 0

	.filtros_busqueda
		float: left
		font:
			size: 12px
		padding: 20px 0
		width: 665px

		li
			display: inline

			a
				@include link_azul

				&:hover
					@include link_azul_hover

	.resultados_por_pagina
		float: left
		margin: 0px
		padding: 17px 0
		width: 253px

		select
			margin: 0 0 0 10px
			float: right

		p
			color: $gris_666
			float: right
			margin: 4px 0 0 0

/* Listado de lugares */
.listado_resultados
	display: inline-block
	float: left
	width: 598px

	.campanas_concursos
		color: $gris_666
		float: left
		left: -1px
		margin: 28px 0 0
		position: relative
		width: 600px

		.concursos_titulo
			background: url('../images/extras/titulos_pattern.gif') $blanco repeat 0 -8px
			float: left
			height: 26px
			padding: 8px 10px
			width: 582px

			.icono_concursos
				background: url('../images/extras/botones_sprite.png') no-repeat 0 -289px
				height: 22px
				padding: 7px 0 0 23px

			.titulo
				float: left
				margin: 0 20px 0 0
				width: 422px

				img
					float: left
					margin: 0 5px 0 0
				
				.titulo_concursos_search
					font:
						size: 13px
						weight: bold
					height: 14px
					line-height: 10px

			a
				background: url('../images/extras/concursos_todos_search_ficha.png') no-repeat 0 0
				float: left
				height: 22px
				margin: 3px 0px
				width: 140px

				&:hover
					background: url('../images/extras/concursos_todos_search_ficha.png') no-repeat 0 -22px

		.concursos_slide
			background: $gris_faf
			border-bottom: 1px solid $gris_f6f
			float: left
			height: 132px
			padding: 12px 10px
			width: 582px

			.espacio_aviso_busqueda_1
				float: left
				height: 132px
				width: 185px

			.espacio_aviso_busqueda_2
				float: left
				height: 132px
				margin: 0 12px
				width: 185px

			.espacio_aviso_busqueda_3
				float: left
				height: 132px
				width: 185px

	.resultado-busqueda
		border-bottom: 1px solid $gris_f6f
		clear: both
		color: $gris_666
		float: left
		display: block
		padding: 30px 10px
		width: 580px

		.datos-principales
			border-right: 1px solid #f2f2f2
			box-sizing: border-box
			-o-box-sizing: border-box
			-moz-box-sizing: border-box
			-webkit-box-sizing: border-box
			float: left
			padding: 0 10px 0 0
			width: 420px

			.info_lugar

				img
					background: $gris_f6f
					float: left
					height: 60px
					margin: 0 10px 0 0
					width: 60px

				.nombre_lugar
					display: block
					float: left
					line-height: 20px
					margin: 0 0 15px
					width: 339px

					.indice_resultado
						background: #f1f0f5
						border-radius: 20px
						color: #a1a1a1
						display: inline-block
						font-size: 11px
						height: 20px
						text:
							align: center
							shadow: 0 1px 0 #fff
						width: 20px
					
					a
						@include link_gris_444
						font:
							size: 14px
						margin: 0 0 0 5px

						&:hover
							@include link_gris_444_hover

			.info_categorias
				margin: 0 0 10px 70px
				width: 339px
					
				a
					@include link_azul
					
					&:hover
						@include link_azul_hover

			.info_sector
				margin: 0 0 10px 70px
				width: 339px
					
				a
					@include link_azul
					
					&:hover
						@include link_azul_hover

			.info_recomendacion
				float: left
				margin: 30px 0 0
				width: 409px

				img
					float: left
					margin: 0 10px 0 0
					width: 20px
					height: 20px

				span
					display: inline-block
					float: left
					font:
						size: 12px
					line-height: 16px
					width: 379px

					p
						display: inline

					a
						@include link_azul
						
						&:hover
							@include link_azul_hover
												
		.datos-secundarios
			box-sizing: border-box
			-o-box-sizing: border-box
			-moz-box-sizing: border-box
			-webkit-box-sizing: border-box
			float: left
			padding: 0 0 0 10px
			vertical-align: middle
			width: 160px

			li
				width: 150px

			.numero_de_recomendaciones
				font:
					size: 11px
				margin: 5px 0 15px

			.direccion_lugar
				font:
					size: 11px
				line-height: 15px
				margin: 0 0 15px

				a
					@include link_azul

					&:hover
						@include link_azul_hover

			.precio_lugar
				font:
					size: 11px
				margin: 0 0 10px

		&:hover
			border: 1px solid #f2f2f2
			margin: -1px -1px 0 
			background: #fbfcff

/* Sidebar */

.sidebar_busqueda
	float: left
	margin: 370px 0 0 20px !important
	left: 620px
	position: absolute
	width: 300px
	

	.mapa_sidebar
		margin: 0 0 20px

/* Paginación de los lugares */

.paginacion_listado_lugares
	border-bottom: 1px solid $gris_f6f
	color: $gris_666
	display: block
	float: left
	font:
		size: 12px
	padding: 20px 0
	width: 600px

	p
		float: left
		display: block
		margin: 2px 0 0

	ul
		float: left
		margin: 0 0 0 10px

		li
			border: 1px solid $gris_ccc
			float: left
			height: 5px
			margin: 0 0 0 2px
			padding: 2px 5px 8px

			a
				@include link_gris_666

		.pagina-actual
			background: $azul
			border: 1px solid $azul
			float: left
			height: 5px
			margin: 0 0 0 2px
			padding: 2px 5px 8px

			a
				@include link_blanco

/* Caja sugerencia agregar lugar */

.agrega_lugar
	clear: both
	float: left
	margin: 30px 0 0
	width: 600px

	.textos
		color: $gris_666
		float: left
		font:
			size: 13px !important
		line-height: 22px !important
		width: 330px

	.boton_agregar_santiago-de-chile, .boton_agregar_valparaiso-vina-del-mar
		background: url('../images/extras/botones_busqueda.png') no-repeat -85px 0
		float: left
		height: 50px
		margin: 0 0 0 10px
		width: 254px

		&:hover
			background: url('../images/extras/botones_busqueda.png') no-repeat -85px -50px

	.boton_agregar_buenos-aires
		background: url('../images/extras/botones_busqueda.png') no-repeat -85px -100px
		float: left
		height: 50px
		margin: 0 0 0 10px
		width: 254px

		&:hover
			background: url('../images/extras/botones_busqueda.png') no-repeat -85px -150px

/* Caja Google Maps */

.lugar_data
	background: $blanco
	border: 1px solid $gris_ccc
	box-shadow: 4px 5px 0 $gris_ccc
	display: block
	display: none
	padding: 6px 10px
	position: absolute
	width: 265px
	z-index: 24

	.flecha
		background: url('../images/extras/flechita-gmap.png') no-repeat
		box-shadow: 5px 0 0 $gris_ccc
		height: 25px
		left: 180px
		position: absolute
		top: 100%
		width: 25px

	.imagen_gmaps
		height: 50px
		float: left
		margin: 0 10px 0 0
		width: 50px

	ul
		float: left
		width: 200px

		li
			margin: 0 0 10px

		.nombre_lugar_gmaps
			float: left
			width: 200px

			a
				@include link_azul

				&:hover
					@include link_azul_hover

		.estrellas_gmaps
			float: left
			margin: 0 5px 10px 0
			width: 80px
		
		.recomendacion_gmaps
			float: left
			font:
				size: 11px
				style: italic
			margin: 2px 0 0
			width: 115px

		.data_categoria, .data_sector
			float: left
			width: 200px

			a
				@include link_azul
					
				&:hover
					@include link_azul_hover

/* Cargador filtros */

.overlay
	left: 0px
	height: 100%
	top: 0px
	position: absolute
	width: 960px

	&:after
		background: $gris_f6f
		border-radius 10px
		-o-border-radius 10px
		-moz-border-radius 10px
		-webkit-border-radius 10px
		content: ''
		height: 100%
		left: 0
		position: absolute
		opacity: .5
		top: 0
		width: 100%
		z-index: 20

	.loader
		color: $gris_666
		display: block
		font-size: 14px
		margin: 185px 470px 0
		text-align: center
		position: relative
		z-index: 22

	.loader_txt
		color: $gris_666
		display: block
		font-size: 12px
		margin: 215px 0 0
		text-align: center
		position: relative
		z-index: 22

/* Tooltip */

.close_qtip
	background: url(../images/extras/cerrar_tooltip.png) no-repeat
	cursor: pointer
	display: block
	height: 20px
	right: 0
	position: absolute
	top: 3px
	width: 20px

.qtip_subcategorias, .qtip_zonas, .qtip_categorias, .qtip_caracteristicas
	display: none
	padding-top: 10px
	position: relative
	font-size: 12px
	font-weight: 400

	p
		color: #ccc
		margin-bottom: 20px
		font-size: 12px

	li
		color: #999
		display: inline-block
		font-size: 12px
		*zoom: 1
		*display: inline
		width: 170px
		margin: 0 0 15px
		vertical-align: middle

		a
			color: #666
			text-decoration: none

			&:hover
				text-decoration: underline !important

			&:visited
				color: #666

		.totales
			color: #ccc
			font:
				style: italic

	.filtrar_caracteristicas
		background: url('../images/extras/botones_busqueda.png') no-repeat 0 0
		border: 0px
		cursor: pointer
		display: block
		float: right
		height: 30px
		margin: 0 0px 5px
		width: 85px

		&:hover
			background: url('../images/extras/botones_busqueda.png') no-repeat 0 -50px

/* No hay resultados */

.listado_no_resultados
	line-height: 18px

	li
		list-style-type: disc
		margin: 0 0 0 20px