/* Colores */
/* Mixin */
/* Home sitio */
.saludos_premios {
  background: url("../images/extras/borde_relieve.png") no-repeat 0 81px;
  border-top: 1px solid #f2f2f6;
  color: #666666;
  float: left;
  font-size: 13px;
  height: 86px;
  line-height: 16px;
  margin: 0 0 30px;
  width: 960px; }
  .saludos_premios .mensaje {
    border-left: 1px solid #f2f2f6;
    float: left;
    padding: 15px 0 15px 10px;
    width: 677px; }
    .saludos_premios .mensaje p {
      color: #999999;
      display: block;
      margin: 5px 0 0; }
    .saludos_premios .mensaje .texto_destacado {
      color: #66ccff; }
  .saludos_premios .flecha {
    background: url("../images/extras/flecha_grande.png") no-repeat 0 0;
    float: left;
    height: 81px;
    width: 31px; }
  .saludos_premios .registro {
    border-right: 1px solid #f2f2f6;
    float: left;
    height: 51px;
    padding: 15px 10px;
    text-align: center;
    width: 220px; }
    .saludos_premios .registro a {
      color: #0066cc !important;
      text-decoration: none; }
      .saludos_premios .registro a:hover {
        color: #0066cc !important;
        text-decoration: underline; }
    .saludos_premios .registro .boton_fb {
      background: url("../images/extras/botones_sprite.png") no-repeat -1px -155px;
      border: 0px;
      cursor: pointer;
      height: 30px;
      margin: 0 10px 5px;
      width: 200px; }

.contenido_home {
  float: left;
  font-size: 14px;
  margin: 0 20px 0 0;
  width: 640px;
  /* Concursos */
  /* Promociones en Pedidos Online */ }
  .contenido_home .campanas_concursos {
    color: #666666;
    float: left;
    margin: 0 0 30px;
    width: 640px; }
    .contenido_home .campanas_concursos a {
      text-decoration: none; }
    .contenido_home .campanas_concursos li {
      border: 1px solid #f2f2f6;
      border-bottom: 5px solid #f2f2f6;
      float: left;
      height: 245px;
      width: 204px; }
      .contenido_home .campanas_concursos li:hover {
        _background: url("../images/extras/fondo_link_concurso.png") no-repeat;
        position: relative; }
        .contenido_home .campanas_concursos li:hover:hover:after {
          content: "";
          height: 235px;
          width: 194px;
          display: block;
          position: absolute;
          background: #fafafc;
          top: 5px;
          left: 5px;
          z-index: -20; }
      .contenido_home .campanas_concursos li .titulo_concurso {
        color: #666666;
        font-weight: bold;
        padding: 10px;
        text-align: center; }
      .contenido_home .campanas_concursos li .concursos {
        border-bottom: 5px solid #66ccff; }
      .contenido_home .campanas_concursos li .especiales {
        border-bottom: 5px solid #fff08c; }
      .contenido_home .campanas_concursos li .ganadores {
        border-bottom: 5px solid #f72121; }
      .contenido_home .campanas_concursos li .lugar_concurso {
        background: #f2f2f6;
        color: #666666;
        font-size: 12px;
        font-weight: bold;
        padding: 10px;
        text-align: center; }
      .contenido_home .campanas_concursos li .sorteo_concurso {
        color: #666666;
        padding: 10px;
        text-align: center; }
    .contenido_home .campanas_concursos .central {
      margin: 0 11px; }
  .contenido_home .caja_promociones {
    border: 1px solid #f2f2f6;
    color: #666666;
    float: left;
    width: 638px; }
    .contenido_home .caja_promociones .titulo_promociones {
      border-bottom: 1px solid #f2f2f6;
      float: left;
      height: 50px;
      width: 638px; }
      .contenido_home .caja_promociones .titulo_promociones .descuento {
        background: url("../images/extras/botones_sprite.png") no-repeat 0 -185px;
        float: left;
        margin: 10px;
        padding: 0 0 0 20px;
        width: 438px; }
      .contenido_home .caja_promociones .titulo_promociones .ver_todos {
        color: #0066cc !important;
        text-decoration: none;
        float: left;
        font-size: 12px;
        padding: 20px 10px 10px 0;
        width: 150px; }
    .contenido_home .caja_promociones a {
      text-decoration: none; }
    .contenido_home .caja_promociones li {
      border-right: 1px solid #f2f2f6;
      float: left;
      height: 130px;
      padding: 10px;
      width: 192px; }
      .contenido_home .caja_promociones li:hover {
        background: url("../images/extras/fondo_link_pedidos.png") no-repeat; }
      .contenido_home .caja_promociones li .promocion_delivery_img {
        float: left;
        width: 50px; }
      .contenido_home .caja_promociones li .promocion_delivery_lugar_dias {
        float: left;
        padding: 0 0 0 10px;
        width: 128px; }
        .contenido_home .caja_promociones li .promocion_delivery_lugar_dias .promocion_lugar {
          color: #666666;
          font-size: 14px;
          font-weight: bold; }
        .contenido_home .caja_promociones li .promocion_delivery_lugar_dias .promocion_dias {
          color: #999999;
          font-size: 11px;
          margin: 10px 0 0; }
      .contenido_home .caja_promociones li .promocion_delivery_descripcion {
        float: left;
        padding: 10px 0 0;
        width: 188px; }
        .contenido_home .caja_promociones li .promocion_delivery_descripcion .promocion_icono {
          background: url("../images/extras/iconos_ficha_lugar.png") no-repeat 0 -663px;
          float: left;
          height: 16px;
          width: 16px; }
        .contenido_home .caja_promociones li .promocion_delivery_descripcion .promocion_titulo {
          color: #666666;
          font-size: 12px;
          font-weight: bold;
          float: left;
          line-height: 16px;
          margin: 0 0 0 5px;
          width: 167px; }
    .contenido_home .caja_promociones .ultimo_pedido {
      border: none; }

.sidebar_home {
  float: left;
  width: 300px; }

/* CSS SEBA */
#home .columna_izq {
  float: left;
  width: 630px; }
  #home .columna_izq .home_something {
    background: #f2f2f6;
    height: 250px;
    float: left;
    width: 100%; }
#home .columna_der {
  float: right;
  width: 300px; }
  #home .columna_der .actividad_loogares {
    width: 100%;
    float: left;
    margin: 0 0 20px; }
    #home .columna_der .actividad_loogares .titulo_actividad {
      border-left: 5px solid #ff3300;
      background: #444444;
      padding: 5px 10px 5px 20px; }
      #home .columna_der .actividad_loogares .titulo_actividad h2 {
        color: white;
        font-size: 14px; }
    #home .columna_der .actividad_loogares .contenido_actividad {
      background: whiteSmoke;
      height: 70px;
      padding: 17px 10px; }
      #home .columna_der .actividad_loogares .contenido_actividad .numero_actividad {
        color: #0099ff;
        float: left;
        font-size: 28px;
        text-align: right;
        width: 75px;
        text-shadow: -3px 0 1px #cccccc;
        -moz-text-shadow: -3px 0 1px #cccccc;
        -webkit-text-shadow: -3px 0 1px #cccccc; }
      #home .columna_der .actividad_loogares .contenido_actividad .texto_actividad {
        float: left;
        font-size: 15px;
        font-weight: bold;
        line-height: 31px;
        padding: 0 0 0 5px;
        text-align: left;
        width: 200px; }
  #home .columna_der .recomendacion_dia {
    width: 100%;
    float: left;
    margin: 0 0 20px; }
    #home .columna_der .recomendacion_dia h2 {
      margin: 0 0 20px;
      font-size: 16px; }
    #home .columna_der .recomendacion_dia .recomendacion_info {
      height: 60px; }
      #home .columna_der .recomendacion_dia .recomendacion_info .link_usuario {
        float: left; }
      #home .columna_der .recomendacion_dia .recomendacion_info .usuario_recomendacion {
        float: left;
        margin: 0 0 0 10px; }
        #home .columna_der .recomendacion_dia .recomendacion_info .usuario_recomendacion a {
          display: block;
          color: #0066cc !important;
          text-decoration: none;
          font-weight: bold; }
          #home .columna_der .recomendacion_dia .recomendacion_info .usuario_recomendacion a:hover {
            color: #0066cc !important;
            text-decoration: underline; }
        #home .columna_der .recomendacion_dia .recomendacion_info .usuario_recomendacion span {
          color: #999999;
          font-size: 11px; }
    #home .columna_der .recomendacion_dia .recomendacion_preview {
      margin: 10px 0;
      font-size: 11px; }
      #home .columna_der .recomendacion_dia .recomendacion_preview a {
        color: #0066cc !important;
        text-decoration: none; }
        #home .columna_der .recomendacion_dia .recomendacion_preview a:hover {
          color: #0066cc !important;
          text-decoration: underline; }
      #home .columna_der .recomendacion_dia .recomendacion_preview span {
        display: block;
        margin: 0 0 10px 0; }
        #home .columna_der .recomendacion_dia .recomendacion_preview span a {
          font-weight: bold; }
      #home .columna_der .recomendacion_dia .recomendacion_preview .ver_mas {
        float: right; }
  #home .columna_der .ultimos_conectados {
    width: 100%;
    float: left;
    margin: 0 0 20px; }
    #home .columna_der .ultimos_conectados h2 {
      margin: 0 0 20px;
      font-size: 16px; }
    #home .columna_der .ultimos_conectados ul li {
      height: 25px;
      margin: 0 0 10px; }
      #home .columna_der .ultimos_conectados ul li .conectado_img {
        float: left; }
      #home .columna_der .ultimos_conectados ul li .conectado_info {
        float: left;
        font-size: 11px;
        margin: 0 0 0 10px; }
        #home .columna_der .ultimos_conectados ul li .conectado_info .conectado_nombre {
          font-weight: bold;
          display: block;
          color: #0066cc !important;
          text-decoration: none; }
          #home .columna_der .ultimos_conectados ul li .conectado_info .conectado_nombre:hover {
            color: #0066cc !important;
            text-decoration: underline; }
        #home .columna_der .ultimos_conectados ul li .conectado_info .conectado_recomendaciones {
          font-style: italic;
          display: block; }
