.resultados-wrapper {
  position: relative;
  height: 400px;
  float: left; }

#overlay {
  background: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.18; }

.loader {
  position: absolute;
  left: 50%;
  opacity: 1;
  top: 10px; }

.qtip_precio {
  display: block;
  width: 140px;
  margin: 0 auto 5px auto; }
  .qtip_precio .signo_precio {
    display: inline-block;
    width: 30px; }

.filtros_subcategorias {
  width: 350px;
  margin-right: 5px; }

.filtros_zonas {
  width: 215px; }

.filtros_precios {
  width: 87px; }

.filtros_caracteristicas {
  width: 211px; }

.filtros_zonas, .filtros_precios, .filtros_caracteristicas {
  margin: 0 5px; }

.filtros_categorias {
  width: 700px; }

.filtros_subcategorias, .filtros_zonas, .filtros_precios, .filtros_caracteristicas, .filtros_categorias {
  display: inline-block;
  background: #fafafc;
  color: #666666;
  text-shadow: 0 1px 0 white;
  vertical-align: top;
  height: 185px; }
  .filtros_subcategorias ul li, .filtros_zonas ul li, .filtros_precios ul li, .filtros_caracteristicas ul li, .filtros_categorias ul li {
    display: inline-block;
    width: 160px;
    margin-bottom: 13px;
    vertical-align: middle; }
  .filtros_subcategorias .filtros_header, .filtros_zonas .filtros_header, .filtros_precios .filtros_header, .filtros_caracteristicas .filtros_header, .filtros_categorias .filtros_header {
    background: #f2f1f6;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px #cccccc solid;
    padding: 0 10px; }
    .filtros_subcategorias .filtros_header .filtros_expandir, .filtros_zonas .filtros_header .filtros_expandir, .filtros_precios .filtros_header .filtros_expandir, .filtros_caracteristicas .filtros_header .filtros_expandir, .filtros_categorias .filtros_header .filtros_expandir {
      padding: 0 10px;
      float: right;
      width: 69px;
      border-left: 1px #cccccc solid;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none; }
  .filtros_subcategorias .resultados_filtros, .filtros_zonas .resultados_filtros, .filtros_precios .resultados_filtros, .filtros_caracteristicas .resultados_filtros, .filtros_categorias .resultados_filtros {
    padding: 8px 10px; }
    .filtros_subcategorias .resultados_filtros a, .filtros_zonas .resultados_filtros a, .filtros_precios .resultados_filtros a, .filtros_caracteristicas .resultados_filtros a, .filtros_categorias .resultados_filtros a {
      color: #666666;
      text-decoration: none; }
      .filtros_subcategorias .resultados_filtros a:visited, .filtros_zonas .resultados_filtros a:visited, .filtros_precios .resultados_filtros a:visited, .filtros_caracteristicas .resultados_filtros a:visited, .filtros_categorias .resultados_filtros a:visited {
        color: #666666; }

.filtros_precios .precio_container {
  display: inline-block;
  margin-bottom: 10px;
  width: 90px; }
  .filtros_precios .precio_container a {
    display: inline; }
  .filtros_precios .precio_container input {
    display: none; }
  .filtros_precios .precio_container .filtro_precios_raty {
    display: inline;
    cursor: pointer !important; }

.close_qtip {
  background: url(../images/extras/x.gif) #666666;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 3px;
  cursor: pointer; }

.qtip_subcategorias, .qtip_zonas, .qtip_categorias, .qtip_caracteristicas {
  display: none;
  padding-top: 10px;
  position: relative;
  font-size: 12px;
  font-weight: 400; }
  .qtip_subcategorias a, .qtip_zonas a, .qtip_categorias a, .qtip_caracteristicas a {
    color: #666666;
    text-decoration: none; }
    .qtip_subcategorias a:visited, .qtip_zonas a:visited, .qtip_categorias a:visited, .qtip_caracteristicas a:visited {
      color: #666666; }
  .qtip_subcategorias p, .qtip_zonas p, .qtip_categorias p, .qtip_caracteristicas p {
    color: #999999;
    margin-bottom: 8px;
    font-size: 14px; }
  .qtip_subcategorias li, .qtip_zonas li, .qtip_categorias li, .qtip_caracteristicas li {
    display: inline-block;
    width: 170px;
    margin: 8px 0;
    vertical-align: middle; }
  .qtip_subcategorias .filtrar_caracteristicas, .qtip_zonas .filtrar_caracteristicas, .qtip_categorias .filtrar_caracteristicas, .qtip_caracteristicas .filtrar_caracteristicas {
    background: url("../images/extras/botones_ficha_lugar.png") no-repeat -798px 0;
    border: 0px;
    cursor: pointer;
    height: 30px;
    margin: 20px 0 0;
    width: 100px; }
    .qtip_subcategorias .filtrar_caracteristicas:hover, .qtip_zonas .filtrar_caracteristicas:hover, .qtip_categorias .filtrar_caracteristicas:hover, .qtip_caracteristicas .filtrar_caracteristicas:hover {
      background: url("../images/extras/botones_ficha_lugar.png") no-repeat -798px -30px; }
