/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset para navegadores antiguos */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Colores */
/* Mixin */
body {
  background: url("../images/extras/fondo.gif") repeat-x white;
  color: #444444;
  font-family: Arial;
  font-size: 13px; }

/* Elementos generales del sitio */
/* Mensajes */
.mensaje_exito {
  border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #fff08c;
  color: #666666;
  display: block;
  float: left;
  margin: 0 0 20px 0;
  padding: 10px;
  width: 940px; }
  .mensaje_exito .imagen_exito {
    background: url("../images/extras/botones_sprite.png") 0px -129px;
    display: block;
    float: left;
    height: 20px;
    padding: 0 10px 0 0;
    width: 20px; }
  .mensaje_exito .txt_exito {
    float: left;
    margin: 3px 0 0; }

.mensaje_error {
  border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #ff8a8a;
  color: white;
  display: block;
  float: left;
  margin: 0 0 20px 0;
  padding: 10px;
  width: 940px; }
  .mensaje_error .imagen_error {
    background: url("../images/extras/botones_sprite.png") 0px -102px;
    display: block;
    float: left;
    height: 21px;
    padding: 0 10px 0 0;
    width: 20px; }
  .mensaje_error .txt_error {
    display: block;
    float: left;
    line-height: 20px;
    width: 910px; }

.errors {
  color: #ff5353;
  font-size: 12px; }

.errors.categoria {
  margin-right: 100px; }

.input-error {
  border: 1px solid #ff8a8a !important; }

a.chzn-single.chzn-error {
  border: 1px solid #ff8a8a; }

/* Títulos */
.titulo {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 30px 0; }

.titulo_busqueda {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 10px 0; }

.titulo_home {
  font-size: 18px;
  line-height: 28px; }

.titulo_gigante {
  font-size: 29px;
  line-height: 40px;
  margin: 0 0 30px 0; }

.titulo_lugar {
  font-size: 24px;
  line-height: 35px;
  display: block;
  float: left;
  margin: 0 0 15px 0;
  width: 578px; }

.titulo_recomendaciones {
  font-size: 20px;
  line-height: 30px;
  display: block;
  float: left;
  margin: 0 0 20px 0;
  padding: 30px 0 0;
  width: 640px; }

.titulo_promocion_pedidos {
  font-size: 20px;
  line-height: 30px;
  display: block;
  float: left;
  margin: 20px 10px 10px;
  width: 278px; }

.titulo_otros_lugares {
  font-size: 20px;
  line-height: 30px;
  display: block;
  float: left;
  margin: 20px 10px 10px;
  width: 278px; }

.titulo_accion_usuario {
  font-size: 20px;
  line-height: 30px; }

.titulo_edicion_usuario {
  font-size: 20px;
  line-height: 30px;
  padding: 20px 0 0; }

/* Elementos obligatorios */
.obligatorio {
  color: #cccccc; }

/* Inputs de los forms */
input {
  border: 1px solid #cccccc; }
  input:hover {
    border: 1px solid #999999; }
  input:focus {
    border: 1px solid #66ccff;
    outline: none; }

/* Textareas de los forms */
textarea {
  border: 1px solid #cccccc; }
  textarea:hover {
    border: 1px solid #999999; }
  textarea:focus {
    border: 1px solid #66ccff;
    outline: none; }

/* Header */
.barra_ciudad {
  background: #444444;
  float: left;
  height: 25px;
  width: 100%; }
  .barra_ciudad .centrado_ciudad {
    margin: 0px auto;
    width: 960px;
    height: 25px; }
    .barra_ciudad .centrado_ciudad .logo_ciudad {
      background: white;
      border: 1px solid #cccccc;
      float: left;
      height: 80px;
      position: absolute;
      width: 130px;
      z-index: 11;
      left: 0; }
      .barra_ciudad .centrado_ciudad .logo_ciudad .borde_logo {
        background: white;
        border: 2px solid #f2f2f6;
        float: left;
        height: 68px;
        padding: 6px 13px 5px;
        position: absolute;
        top: -3px;
        width: 100px; }
    .barra_ciudad .centrado_ciudad .menu_ciudad {
      background: #444444;
      color: white;
      height: 25px;
      float: left;
      font-size: 12px;
      width: 180px;
      padding-left: 130px;
      position: relative; }
      .barra_ciudad .centrado_ciudad .menu_ciudad:hover {
        background: #666666; }
      .barra_ciudad .centrado_ciudad .menu_ciudad a {
        color: white;
        text-decoration: none;
        float: left; }
      .barra_ciudad .centrado_ciudad .menu_ciudad li {
        height: 13px;
        padding: 6px 10px; }
        .barra_ciudad .centrado_ciudad .menu_ciudad li ul {
          background: #666666;
          display: none;
          font-size: 11px;
          left: 132px;
          padding: 10px 0 0;
          position: absolute;
          top: 25px;
          width: 178px;
          z-index: 20000; }
          .barra_ciudad .centrado_ciudad .menu_ciudad li ul li {
            display: list-item;
            float: left;
            padding: 10px;
            width: 158px; }
            .barra_ciudad .centrado_ciudad .menu_ciudad li ul li:hover {
              background: #999999;
              text-decoration: none !important; }
      .barra_ciudad .centrado_ciudad .menu_ciudad .flecha_ciudad {
        background: url("../images/extras/botones_sprite.png") -99px -1px;
        display: block;
        float: right;
        height: 3px;
        margin: 5px 0 0 5px;
        width: 6px; }
    .barra_ciudad .centrado_ciudad .login {
      color: white;
      float: left;
      font-size: 11px;
      width: 558px; }
      .barra_ciudad .centrado_ciudad .login .usuario_login_entra {
        float: right;
        margin: 6px 10px 0px 10px; }
      .barra_ciudad .centrado_ciudad .login .usuario_login_registro {
        float: right;
        margin: 6px 0px 0px 10px; }
      .barra_ciudad .centrado_ciudad .login a {
        color: white;
        text-decoration: none; }
        .barra_ciudad .centrado_ciudad .login a:hover {
          color: white;
          text-decoration: underline; }
      .barra_ciudad .centrado_ciudad .login li {
        background: #444444;
        cursor: pointer;
        float: right;
        list-style-type: none;
        position: relative; }
        .barra_ciudad .centrado_ciudad .login li:hover {
          background: #666666; }
        .barra_ciudad .centrado_ciudad .login li .usuario_login {
          background: #444444;
          float: left;
          display: block;
          padding: 0 5px 0 0;
          position: relative;
          min-width: 200px; }
          .barra_ciudad .centrado_ciudad .login li .usuario_login:hover {
            background: #666666; }
        .barra_ciudad .centrado_ciudad .login li .imagen_usuario_header {
          float: left;
          height: 25px;
          width: 25px; }
        .barra_ciudad .centrado_ciudad .login li .nombre_usuario_header {
          float: left;
          display: block;
          margin: 5px; }
        .barra_ciudad .centrado_ciudad .login li .flecha_ciudad {
          background: url("../images/extras/botones_sprite.png") -99px -1px;
          display: block;
          float: right;
          height: 3px;
          margin: 11px 0;
          width: 6px; }
        .barra_ciudad .centrado_ciudad .login li ul {
          display: none;
          position: absolute;
          top: 24px;
          width: 100%;
          z-index: 10000; }
          .barra_ciudad .centrado_ciudad .login li ul a {
            display: block;
            float: left;
            width: 100%; }
            .barra_ciudad .centrado_ciudad .login li ul a:hover {
              text-decoration: none; }
            .barra_ciudad .centrado_ciudad .login li ul a li {
              background: #666666;
              float: left;
              position: relative;
              width: 100%; }
              .barra_ciudad .centrado_ciudad .login li ul a li:hover {
                background: #999999; }
              .barra_ciudad .centrado_ciudad .login li ul a li .header_editar_datos_usuario {
                background: url("../images/extras/iconos_ficha_lugar.png") no-repeat 0 -19px;
                float: left;
                height: 11px;
                margin: 10px 0 0 10px;
                padding: 0 0 0 10px; }
              .barra_ciudad .centrado_ciudad .login li ul a li span {
                float: left;
                padding: 10px; }
              .barra_ciudad .centrado_ciudad .login li ul a li .con_icono {
                float: left;
                padding: 10px 10px 10px 5px; }
              .barra_ciudad .centrado_ciudad .login li ul a li .subconjunto {
                float: left;
                padding: 10px 10px 10px 20px; }
              .barra_ciudad .centrado_ciudad .login li ul a li .numero_notificacion {
                border-radius: 4px;
                -o-border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                background: #ff5353;
                border: 1px solid #ff8a8a;
                color: white;
                float: right;
                font-weight: bold;
                margin: 7px 10px 0px;
                padding: 2px 4px 3px;
                text-shadow: 0px 1px 1px #444444; }
      .barra_ciudad .centrado_ciudad .login .facebook_login {
        background: url("../images/extras/botones_sprite.png") 0px 0px;
        float: right;
        height: 15px;
        width: 48px;
        margin: 4px 0px 0px 20px; }
    .barra_ciudad .centrado_ciudad .redes_sociales {
      background: #cccccc;
      float: left;
      font-size: 12px;
      height: 20px;
      padding: 4px 10px 1px;
      width: 70px; }
      .barra_ciudad .centrado_ciudad .redes_sociales a {
        color: #444444;
        text-decoration: none; }
        .barra_ciudad .centrado_ciudad .redes_sociales a:hover {
          color: #444444;
          text-decoration: underline; }
      .barra_ciudad .centrado_ciudad .redes_sociales .facebook_btn {
        background: url("../images/extras/botones_sprite.png") -48px 0px;
        float: left;
        height: 16px;
        width: 17px; }
        .barra_ciudad .centrado_ciudad .redes_sociales .facebook_btn:hover {
          background: url("../images/extras/botones_sprite.png") -48px -16px; }
      .barra_ciudad .centrado_ciudad .redes_sociales .twitter_btn {
        background: url("../images/extras/botones_sprite.png") -65px 0px;
        float: left;
        height: 16px;
        margin: 0 0 0 5px;
        width: 17px; }
        .barra_ciudad .centrado_ciudad .redes_sociales .twitter_btn:hover {
          background: url("../images/extras/botones_sprite.png") -65px -16px; }
      .barra_ciudad .centrado_ciudad .redes_sociales .blog {
        float: left;
        display: block;
        margin: 3px 0 0 5px; }

.menu {
  background: url("../images/extras/fondo_header.png") 0 0 repeat-x;
  border-bottom: 1px solid #f2f2f6;
  float: left;
  height: 42px;
  position: absolute;
  top: 25px;
  width: 100%;
  z-index: 10; }
  .menu .centrado_menu {
    margin: 0px auto;
    width: 960px;
    height: 40px; }
    .menu .centrado_menu .logo_ciudad_menu {
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      float: left;
      height: 31px;
      padding: 5px 40px;
      width: 50px; }
    .menu .centrado_menu .menu_categorias {
      color: #444444;
      float: left;
      font-size: 12px;
      text-transform: lowercase;
      width: 584px;
      margin: 0 auto; }
      .menu .centrado_menu .menu_categorias li {
        float: left;
        list-style-type: none; }
        .menu .centrado_menu .menu_categorias li a {
          border-left: 1px solid #cccccc;
          border-right: 1px solid white;
          color: #444444;
          float: left;
          padding: 15px 5px 14px;
          text-decoration: none;
          z-index: 20; }
          .menu .centrado_menu .menu_categorias li a:hover, .menu .centrado_menu .menu_categorias li a.li-activo {
            background: url("../images/extras/flecha_menu.png") center 34px no-repeat white;
            border-bottom: 1px solid white;
            border-left: 1px solid #cccccc;
            border-right: none;
            border-top: 4px solid #66ccff;
            color: #444444;
            padding: 11px 6px 18px 5px;
            z-index: 20; }
        .menu .centrado_menu .menu_categorias li .cajas_menu {
          background: white;
          border-bottom: 1px solid #cccccc;
          border-left: 1px solid #cccccc;
          border-right: 1px solid #cccccc;
          border-top: 1px solid white;
          display: none;
          padding: 14px 0 0 0;
          position: absolute;
          top: 42px; }
          .menu .centrado_menu .menu_categorias li .cajas_menu ul {
            float: left;
            width: 250px; }
            .menu .centrado_menu .menu_categorias li .cajas_menu ul li {
              display: list-item;
              float: left;
              width: 250px; }
              .menu .centrado_menu .menu_categorias li .cajas_menu ul li a {
                border: 0px;
                height: 20px;
                padding: 9px 6px 1px;
                width: 238px; }
                .menu .centrado_menu .menu_categorias li .cajas_menu ul li a:hover {
                  background: #f2f2f6;
                  border: 0px;
                  padding: 9px 6px 1px;
                  width: 238px; }
              .menu .centrado_menu .menu_categorias li .cajas_menu ul li .numero_de_lugares_categoria {
                color: #cccccc; }
    .menu .centrado_menu .buscador_box {
      background: url("../images/extras/fondo_buscador.png") 0 0 repeat-x;
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      float: left;
      height: 41px; }
      .menu .centrado_menu .buscador_box .buscar {
        border-right: 1px solid white;
        float: left;
        height: 32px;
        padding: 4px;
        position: relative; }
        .menu .centrado_menu .buscador_box .buscar .buscador {
          border: 1px solid #999999;
          height: 30px;
          float: left;
          padding: 0px 5px;
          width: 190px; }
          .menu .centrado_menu .buscador_box .buscar .buscador:hover {
            border: 1px solid #666666; }
          .menu .centrado_menu .buscador_box .buscar .buscador:focus {
            border: 1px solid #66ccff; }
        .menu .centrado_menu .buscador_box .buscar .caja_icono {
          background: #fafafc;
          border-bottom: 1px solid #999999;
          border-right: 1px solid #999999;
          border-top: 1px solid #999999;
          cursor: pointer;
          float: left;
          height: 16px;
          padding: 7px;
          width: 16px; }
        .menu .centrado_menu .buscador_box .buscar .icono_buscar {
          background: url("../images/extras/botones_sprite.png") -82px 0px;
          float: left;
          height: 15px;
          width: 15px; }
          .menu .centrado_menu .buscador_box .buscar .icono_buscar:hover {
            background: url("../images/extras/botones_sprite.png") -82px -16px;
            float: left;
            height: 15px;
            width: 15px; }
        .menu .centrado_menu .buscador_box .buscar .placeholder {
          color: #cccccc; }
          .menu .centrado_menu .buscador_box .buscar .placeholder:hover {
            color: #cccccc; }

.fixed {
  position: fixed;
  top: 0; }

.borde_detalle_menu {
  border-top: 1px solid white;
  border-bottom: 1px solid #cccccc; }

/* Contenidos */
.contenedor {
  float: left;
  padding: 90px 0px 20px;
  width: 100%; }
  .contenedor .contenido {
    margin: 0 auto;
    width: 960px;
    position: relative; }
    .contenedor .contenido .textos {
      font-family: Arial;
      font-size: 13px;
      line-height: 22px; }
    .contenedor .contenido .confirmar_registro {
      float: left;
      text-align: center;
      width: 960px; }
      .contenedor .contenido .confirmar_registro p {
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 50px 0; }
      .contenedor .contenido .confirmar_registro img {
        margin: 30px 0 60px; }
      .contenedor .contenido .confirmar_registro a {
        color: #0066cc;
        text-decoration: none; }
        .contenedor .contenido .confirmar_registro a:hover {
          color: #0066cc;
          text-decoration: underline; }
      .contenedor .contenido .confirmar_registro .titulo {
        font-size: 20px;
        line-height: 30px;
        color: #666666;
        font-weight: normal;
        line-height: 45px; }
    .contenedor .contenido .sidebar {
      display: block;
      float: left;
      margin: 0 0 0 20px;
      width: 300px; }
    .contenedor .contenido .contenido_central {
      display: block;
      float: left;
      width: 640px; }
    .contenedor .contenido .mensaje_registro {
      font-size: 29px;
      line-height: 40px;
      border: 1px solid #cccccc;
      color: #999999;
      float: left;
      margin: 0 0 10px 0;
      padding: 30px;
      text-align: center;
      width: 898px; }
    .contenedor .contenido .separacion_del_header {
      display: block;
      height: 40px;
      float: left;
      width: 960px; }
    .contenedor .contenido .cajas_registro {
      float: left;
      margin: 0 0 40px 0;
      position: relative;
      width: 960px;
      /* Login Usuario */
      /* Registro Usuario */ }
      .contenedor .contenido .cajas_registro .columna_izquierda_registro {
        box-sizing: border-box;
        -o-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background: #fafafc;
        border-bottom: 1px solid #cccccc;
        color: #666666;
        height: 100%;
        float: left;
        margin: 0 14px 0 0;
        padding: 30px 20px 60px;
        position: absolute;
        left: 0;
        text-align: center;
        width: 473px; }
        .contenedor .contenido .cajas_registro .columna_izquierda_registro .registro_facebook_img {
          background: url("../images/extras/botones_registro_usuario.png") no-repeat 0 0;
          height: 31px;
          margin: 0 150px;
          width: 134px; }
        .contenedor .contenido .cajas_registro .columna_izquierda_registro .registro_facebook_btn {
          background: url("../images/extras/botones_registro_usuario.png") no-repeat 0 -31px;
          cursor: pointer;
          height: 50px;
          margin: 20px 42px 60px;
          width: 350px; }
          .contenedor .contenido .cajas_registro .columna_izquierda_registro .registro_facebook_btn:hover {
            background: url("../images/extras/botones_registro_usuario.png") no-repeat 0 -81px; }
      .contenedor .contenido .cajas_registro .columna_derecha_registro {
        background: #fafafc;
        border-bottom: 1px solid #cccccc;
        color: #666666;
        float: left;
        left: 486px;
        padding: 30px 20px;
        position: relative;
        text-align: center;
        width: 433px; }
      .contenedor .contenido .cajas_registro .columna_izquierda_password {
        background: #fafafc;
        border-bottom: 1px solid #cccccc;
        color: #666666;
        float: left;
        margin: 0 14px 0 0;
        padding: 30px 20px 60px;
        text-align: center;
        width: 433px; }
        .contenedor .contenido .cajas_registro .columna_izquierda_password p {
          font-size: 14px;
          line-height: 22px;
          margin: 0 0 20px 0; }
        .contenedor .contenido .cajas_registro .columna_izquierda_password ul li .usuario_reset_password {
          display: block;
          float: left;
          font-size: 14px;
          margin: 2px 0 10px;
          text-align: left;
          width: 240px; }
        .contenedor .contenido .cajas_registro .columna_izquierda_password ul li .label_reset_password {
          width: 140px; }
        .contenedor .contenido .cajas_registro .columna_izquierda_password ul li .input_reset_password {
          width: 240px; }
        .contenedor .contenido .cajas_registro .columna_izquierda_password ul li label {
          display: block;
          float: left;
          font-size: 14px;
          font-weight: bold;
          margin: 2px 15px 2px 0;
          text-align: right;
          width: 110px; }
        .contenedor .contenido .cajas_registro .columna_izquierda_password ul li input {
          float: left;
          height: 22px;
          margin: 0 0 10px;
          padding: 3px 5px;
          width: 270px; }
        .contenedor .contenido .cajas_registro .columna_izquierda_password ul li .errors {
          float: left;
          margin: 0px 0px 10px 125px; }
        .contenedor .contenido .cajas_registro .columna_izquierda_password ul li .errors_reset_password {
          margin: 0px 0px 10px 155px; }
        .contenedor .contenido .cajas_registro .columna_izquierda_password ul li .boton_enviar {
          background: url("../images/extras/botones_registro_usuario.png") no-repeat -854px -31px;
          border: 0px;
          cursor: pointer;
          height: 30px;
          margin: 10px 0 0 125px;
          width: 100px; }
          .contenedor .contenido .cajas_registro .columna_izquierda_password ul li .boton_enviar:hover {
            background: url("../images/extras/botones_registro_usuario.png") no-repeat -854px -81px; }
        .contenedor .contenido .cajas_registro .columna_izquierda_password ul li .boton_enviar_reset_password {
          background: url("../images/extras/botones_registro_usuario.png") no-repeat -854px -31px;
          border: 0px;
          cursor: pointer;
          height: 30px;
          margin: 10px 0 0 155px;
          width: 100px; }
          .contenedor .contenido .cajas_registro .columna_izquierda_password ul li .boton_enviar_reset_password:hover {
            background: url("../images/extras/botones_registro_usuario.png") no-repeat -854px -81px; }
      .contenedor .contenido .cajas_registro .login {
        float: left;
        width: 433px; }
        .contenedor .contenido .cajas_registro .login .login_form div label {
          display: block;
          float: left;
          font-size: 14px;
          font-weight: bold;
          margin: 2px 15px 2px 0;
          text-align: right;
          width: 110px; }
        .contenedor .contenido .cajas_registro .login .login_form div input {
          float: left;
          height: 22px;
          margin: 0 0 10px;
          padding: 3px 5px;
          width: 270px; }
        .contenedor .contenido .cajas_registro .login .login_form div .password_width {
          width: 180px; }
        .contenedor .contenido .cajas_registro .login .login_form div .boton_entrar {
          background: url("../images/extras/botones_registro_usuario.png") no-repeat -420px -31px;
          border: 0px;
          cursor: pointer;
          height: 30px;
          margin: 0 0 0 10px;
          width: 80px; }
          .contenedor .contenido .cajas_registro .login .login_form div .boton_entrar:hover {
            background: url("../images/extras/botones_registro_usuario.png") no-repeat -420px -81px; }
        .contenedor .contenido .cajas_registro .login .login_form div .recordar_checkbox {
          height: 15px;
          width: 15px; }
        .contenedor .contenido .cajas_registro .login .login_form div .checkbox_tip {
          color: #999999;
          float: left;
          font-size: 12px;
          margin: 2px 0px 10px 5px;
          text-align: left; }
        .contenedor .contenido .cajas_registro .login .login_form div .tip {
          float: left;
          font-size: 12px;
          margin: 2px 5px 10px 3px; }
          .contenedor .contenido .cajas_registro .login .login_form div .tip a {
            color: #999999;
            text-decoration: none; }
            .contenedor .contenido .cajas_registro .login .login_form div .tip a:hover {
              color: #999999;
              text-decoration: underline; }
        .contenedor .contenido .cajas_registro .login .login_form div .entrar_con_facebook {
          background: url("../images/extras/botones_registro_usuario.png") no-repeat -350px -31px;
          cursor: pointer;
          float: left;
          height: 21px;
          margin: 0 238px 0 125px;
          width: 70px; }
          .contenedor .contenido .cajas_registro .login .login_form div .entrar_con_facebook:hover {
            background: url("../images/extras/botones_registro_usuario.png") no-repeat -350px -81px; }
      .contenedor .contenido .cajas_registro .texto_registro {
        font-family: Arial;
        font-size: 13px;
        line-height: 22px;
        margin: 20px 0 0 0; }
      .contenedor .contenido .cajas_registro .registro_mail {
        font-size: 14px;
        font-weight: bold; }
        .contenedor .contenido .cajas_registro .registro_mail a {
          color: #0066cc;
          text-decoration: none; }
          .contenedor .contenido .cajas_registro .registro_mail a:hover {
            color: #0066cc;
            text-decoration: underline; }
      .contenedor .contenido .cajas_registro a {
        color: white;
        text-decoration: none; }
      .contenedor .contenido .cajas_registro .link_azul {
        color: #0066cc;
        text-decoration: none; }
        .contenedor .contenido .cajas_registro .link_azul:hover {
          color: #0066cc;
          text-decoration: underline; }
      .contenedor .contenido .cajas_registro .link_gris_444 {
        color: #444444;
        text-decoration: none; }
        .contenedor .contenido .cajas_registro .link_gris_444:hover {
          color: #444444;
          text-decoration: underline; }
      .contenedor .contenido .cajas_registro .link_gris_666 {
        color: #666666;
        text-decoration: none; }
        .contenedor .contenido .cajas_registro .link_gris_666:hover {
          color: #666666;
          text-decoration: underline; }
      .contenedor .contenido .cajas_registro .registro {
        float: left;
        width: 433px; }
        .contenedor .contenido .cajas_registro .registro .registro_form {
          font-size: 12px; }
          .contenedor .contenido .cajas_registro .registro .registro_form li label {
            display: block;
            float: left;
            font-size: 14px;
            font-weight: bold;
            margin: 5px 0;
            text-align: left;
            width: 140px; }
          .contenedor .contenido .cajas_registro .registro .registro_form li input {
            float: left;
            height: 20px;
            margin: 0 0 10px 20px;
            padding: 3px 5px;
            width: 255px; }
            .contenedor .contenido .cajas_registro .registro .registro_form li input .checkbox {
              float: left;
              margin: 0 0 10px 0;
              width: 20px; }
          .contenedor .contenido .cajas_registro .registro .registro_form li .errors {
            float: left;
            margin: 0px 0px 10px 160px; }
          .contenedor .contenido .cajas_registro .registro .registro_form li .tip_password {
            color: #999999;
            float: left;
            font-size: 12px;
            line-height: 18px;
            margin: 0 0 10px 160px;
            text-align: left;
            width: 268px; }
          .contenedor .contenido .cajas_registro .registro .registro_form li .tip_registro {
            color: #666666;
            float: left;
            font-size: 12px;
            line-height: 18px;
            margin: 0 0 10px 160px;
            text-align: left;
            width: 268px; }
            .contenedor .contenido .cajas_registro .registro .registro_form li .tip_registro a {
              color: #0066cc;
              text-decoration: none; }
              .contenedor .contenido .cajas_registro .registro .registro_form li .tip_registro a:hover {
                color: #0066cc;
                text-decoration: underline; }
          .contenedor .contenido .cajas_registro .registro .registro_form li .boton_registrar {
            background: url("../images/extras/botones_registro_usuario.png") no-repeat -500px -31px;
            border: 0px;
            cursor: pointer;
            height: 30px;
            margin: 20px 0 0 160px;
            width: 100px; }
            .contenedor .contenido .cajas_registro .registro .registro_form li .boton_registrar:hover {
              background: url("../images/extras/botones_registro_usuario.png") no-repeat -500px -81px; }
      .contenedor .contenido .cajas_registro .boton_registro {
        background: url("../images/extras/botones_registro_usuario.png") no-repeat -600px -31px;
        border: 0px;
        cursor: pointer;
        height: 36px;
        margin: 0 90px 10px;
        width: 254px; }
        .contenedor .contenido .cajas_registro .boton_registro:hover {
          background: url("../images/extras/botones_registro_usuario.png") no-repeat -600px -81px; }

/* Estáticas */
.estaticas {
  border-top: 1px solid #f2f2f6;
  float: left;
  position: relative;
  width: 960px; }
  .estaticas a {
    color: #0066cc;
    text-decoration: none; }
    .estaticas a:hover {
      color: #0066cc;
      text-decoration: underline; }
  .estaticas .contenido {
    border-left: 1px solid #f2f2f6;
    color: #666666;
    float: left;
    font-size: 14px;
    line-height: 24px;
    min-height: 565px;
    padding: 20px 20px 60px;
    width: 619px; }
    .estaticas .contenido .ano {
      color: #66ccff;
      font-weight: bold; }
    .estaticas .contenido ul li {
      list-style-type: disc;
      margin: 0 0 10px 20px; }
    .estaticas .contenido .formulario_estaticas {
      float: left;
      margin: 40px 0 0;
      width: 619px; }
      .estaticas .contenido .formulario_estaticas ul li {
        float: left;
        list-style-type: none;
        margin: 0 0 20px;
        width: 619px; }
        .estaticas .contenido .formulario_estaticas ul li label {
          float: left;
          font-weight: bold;
          width: 169px; }
        .estaticas .contenido .formulario_estaticas ul li input {
          float: left;
          padding: 8px;
          width: 421px; }
        .estaticas .contenido .formulario_estaticas ul li textarea {
          float: left;
          height: 90px;
          padding: 8px;
          width: 421px; }
        .estaticas .contenido .formulario_estaticas ul li .obligatorio {
          color: #cccccc; }
        .estaticas .contenido .formulario_estaticas ul li .tip {
          color: #999999;
          font-size: 12px;
          float: left;
          margin: 15px 0 0 169px; }
        .estaticas .contenido .formulario_estaticas ul li .enviar_datos {
          background: url("../images/extras/botones_ficha_lugar.png") no-repeat -798px 0;
          border: 0px;
          cursor: pointer;
          height: 14px;
          margin: 0 0 0 169px;
          width: 84px; }
          .estaticas .contenido .formulario_estaticas ul li .enviar_datos:hover {
            background: url("../images/extras/botones_ficha_lugar.png") no-repeat -798px -30px; }
  .estaticas .menu_estaticas {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fafafc;
    border-bottom: 1px solid #f2f2f6;
    border-left: 1px solid #f2f2f6;
    float: right;
    height: 100%;
    left: 660px;
    padding: 75px 0;
    position: absolute;
    top: 0;
    width: 300px; }
    .estaticas .menu_estaticas a {
      color: #999999;
      text-decoration: none; }
      .estaticas .menu_estaticas a li {
        background: #fafafc;
        border-bottom: 1px solid #f2f2f6;
        border-top: 1px solid #f2f2f6;
        border-left: 1px solid #f2f2f6;
        cursor: pointer;
        float: right;
        text-align: right;
        padding: 15px 15px 15px 10px;
        width: 274px; }
        .estaticas .menu_estaticas a li:hover {
          border-bottom: 1px solid #cccccc;
          border-right: 5px solid #cccccc;
          padding: 15px 10px; }
    .estaticas .menu_estaticas .selected {
      background: white;
      border-bottom: 1px solid #f2f2f6;
      border-left: 1px solid white;
      border-right: 5px solid #66ccff;
      border-top: 1px solid #f2f2f6;
      float: right;
      text-align: right;
      padding: 15px 10px;
      width: 274px; }
      .estaticas .menu_estaticas .selected a {
        color: #999999;
        text-decoration: none;
        font-weight: bold; }
        .estaticas .menu_estaticas .selected a:hover {
          color: #999999;
          text-decoration: underline; }

/* Banners */
.banner_300x250 {
  background: #f2f2f6;
  display: block;
  height: 250px;
  float: left;
  margin: 0 0 30px 0;
  width: 300px; }

/* Footer */
.footer {
  background: url("../images/extras/fondo_footer.png") 0 0 repeat;
  float: right;
  margin: 20px 0 0 0;
  width: 100%; }
  .footer .contenido_footer {
    margin: 0 auto;
    text-shadow: 1px 1px 1px white;
    width: 960px; }
    .footer .contenido_footer .participa_alianzas {
      border-bottom: 1px solid #cccccc;
      color: #999999;
      float: left;
      padding: 30px 0;
      width: 960px; }
      .footer .contenido_footer .participa_alianzas .participa {
        float: left;
        margin: 0 10px 0 0;
        width: 374px; }
      .footer .contenido_footer .participa_alianzas .alianzas {
        float: left;
        width: 576px; }
        .footer .contenido_footer .participa_alianzas .alianzas .alianzas_img {
          display: block;
          float: left;
          margin: 20px 50px 0 0; }
        .footer .contenido_footer .participa_alianzas .alianzas .alianzas_img_last {
          display: block;
          float: left;
          margin: 20px 0 0 0; }
    .footer .contenido_footer .loogares {
      border-bottom: 1px solid #cccccc;
      color: #999999;
      float: left;
      padding: 30px 0;
      width: 960px;
      border-top: 1px solid white; }
    .footer .contenido_footer .pais {
      border-bottom: 1px solid #cccccc;
      border-top: 1px solid white;
      color: #999999;
      float: left;
      padding: 30px 0;
      width: 310px; }
    .footer .contenido_footer .idioma {
      border-bottom: 1px solid #cccccc;
      border-top: 1px solid white;
      color: #999999;
      float: left;
      padding: 37px 0;
      width: 310px; }
    .footer .contenido_footer .redes {
      border-bottom: 1px solid #cccccc;
      border-top: 1px solid white;
      color: #999999;
      float: left;
      padding: 26px 0;
      text-align: right;
      width: 340px; }
    .footer .contenido_footer .ano_loogares {
      border-top: 1px solid white;
      color: #999999;
      float: left;
      font-size: 11px;
      text-align: center;
      padding: 25px 0;
      width: 960px; }
    .footer .contenido_footer p.footer_title {
      background: url("../images/extras/flecha_footer.png") no-repeat 0px 3px;
      font-size: 14px;
      font-weight: bold;
      height: 12px;
      padding: 0 0 0 12px;
      width: 12px; }
    .footer .contenido_footer p.footer_title_pais {
      background: url("../images/extras/flecha_footer.png") no-repeat 0px 3px;
      float: left;
      font-size: 14px;
      font-weight: bold;
      height: 12px;
      padding: 0 0 0 12px;
      width: 130px; }
    .footer .contenido_footer p.footer_title_idioma {
      background: url("../images/extras/flecha_footer.png") no-repeat 0px 3px;
      float: left;
      font-size: 14px;
      font-weight: bold;
      height: 12px;
      padding: 0 0 0 12px;
      width: 145px; }
    .footer .contenido_footer .cl {
      background: url("../images/extras/botones_sprite.png") no-repeat 0px -32px;
      height: 13px;
      padding: 0 0 0 25px;
      width: 20px; }
    .footer .contenido_footer .ar {
      background: url("../images/extras/botones_sprite.png") no-repeat 0px -47px;
      height: 13px;
      padding: 0 0 0 25px;
      width: 20px; }
    .footer .contenido_footer .en {
      background: url("../images/extras/botones_sprite.png") no-repeat 0px -64px;
      height: 13px;
      padding: 0 0 0 25px;
      width: 20px; }
    .footer .contenido_footer .es {
      background: url("../images/extras/botones_sprite.png") no-repeat 0px -83px;
      height: 13px;
      padding: 0 0 0 25px;
      width: 20px; }
    .footer .contenido_footer .participa_listado li {
      margin: 20px 0 0 12px; }
      .footer .contenido_footer .participa_listado li a {
        color: #999999;
        text-decoration: none; }
        .footer .contenido_footer .participa_listado li a:hover {
          color: #999999;
          text-decoration: underline; }
    .footer .contenido_footer .loogares_listado li {
      float: left;
      margin: 20px 0 0 12px;
      width: 180px; }
      .footer .contenido_footer .loogares_listado li a {
        color: #999999;
        text-decoration: none; }
        .footer .contenido_footer .loogares_listado li a:hover {
          color: #999999;
          text-decoration: underline; }
    .footer .contenido_footer .pais_listado li {
      float: left;
      margin: 1px 10px 0 0; }
      .footer .contenido_footer .pais_listado li a {
        color: #999999;
        text-decoration: none; }
        .footer .contenido_footer .pais_listado li a:hover {
          color: #999999;
          text-decoration: underline; }
    .footer .contenido_footer .idioma_listado li {
      float: left;
      margin: 1px 10px 0 0; }
      .footer .contenido_footer .idioma_listado li a {
        color: #999999;
        text-decoration: none; }
        .footer .contenido_footer .idioma_listado li a:hover {
          color: #999999;
          text-decoration: underline; }
    .footer .contenido_footer .redes_listado li {
      float: right;
      margin: 0 0 0 10px; }
      .footer .contenido_footer .redes_listado li a {
        color: #999999;
        text-decoration: none; }
        .footer .contenido_footer .redes_listado li a:hover {
          color: #999999;
          text-decoration: underline; }

/* AGREGADO POR EL SUR */
select {
  width: 298px; }

label {
  line-height: 23px;
  display: inline-block; }

.placeholder {
  color: #cccccc; }

small {
  font-size: 10px; }

.fb_hidden_button {
  display: none; }
