/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset para navegadores antiguos */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Colores */
/* Mixin */
body {
  background: url("../images/extras/fondo.gif") repeat-x white;
  color: #444444;
  float: left;
  font-family: Arial;
  font-size: 13px; }

/* Header */
.barra_ciudad {
  background: #444444;
  float: left;
  height: 25px;
  width: 100%; }
  .barra_ciudad .centrado_ciudad {
    margin: 0px auto;
    width: 960px;
    height: 25px; }
    .barra_ciudad .centrado_ciudad .logo_ciudad {
      background: white;
      border: 1px solid #cccccc;
      float: left;
      height: 65px;
      padding: 5px 15px;
      position: absolute;
      width: 100px;
      z-index: 11; }
    .barra_ciudad .centrado_ciudad .menu_ciudad {
      color: white;
      float: left;
      font-size: 12px;
      margin: 6px 10px;
      width: 298px;
      padding-left: 130px; }
      .barra_ciudad .centrado_ciudad .menu_ciudad a {
        color: white;
        text-decoration: none;
        float: left; }
        .barra_ciudad .centrado_ciudad .menu_ciudad a:hover {
          color: white;
          text-decoration: underline; }
      .barra_ciudad .centrado_ciudad .menu_ciudad .flecha_ciudad {
        background: url("../images/extras/botones_sprite.png") -99px -1px;
        display: block;
        float: left;
        height: 3px;
        margin: 5px 0 0 5px;
        width: 6px; }
    .barra_ciudad .centrado_ciudad .login {
      color: white;
      float: left;
      font-size: 11px;
      margin: 5px 10px 5px 0px;
      width: 411px; }
      .barra_ciudad .centrado_ciudad .login a {
        color: white;
        text-decoration: none; }
        .barra_ciudad .centrado_ciudad .login a:hover {
          color: white;
          text-decoration: underline; }
      .barra_ciudad .centrado_ciudad .login .facebook_login {
        background: url("../images/extras/botones_sprite.png") 0px 0px;
        float: right;
        height: 15px;
        width: 48px;
        margin-left: 20px; }
      .barra_ciudad .centrado_ciudad .login .usuario_login {
        float: right;
        display: block;
        margin: 2px 0 0 12px; }
    .barra_ciudad .centrado_ciudad .redes_sociales {
      background: #cccccc;
      float: left;
      font-size: 12px;
      height: 20px;
      padding: 5px 10px 0;
      width: 70px; }
      .barra_ciudad .centrado_ciudad .redes_sociales a {
        color: #444444;
        text-decoration: none; }
        .barra_ciudad .centrado_ciudad .redes_sociales a:hover {
          color: #444444;
          text-decoration: underline; }
      .barra_ciudad .centrado_ciudad .redes_sociales .facebook_btn {
        background: url("../images/extras/botones_sprite.png") -48px 0px;
        float: left;
        height: 16px;
        width: 17px; }
        .barra_ciudad .centrado_ciudad .redes_sociales .facebook_btn:hover {
          background: url("../images/extras/botones_sprite.png") -48px -16px; }
      .barra_ciudad .centrado_ciudad .redes_sociales .twitter_btn {
        background: url("../images/extras/botones_sprite.png") -65px 0px;
        float: left;
        height: 16px;
        margin: 0 0 0 5px;
        width: 17px; }
        .barra_ciudad .centrado_ciudad .redes_sociales .twitter_btn:hover {
          background: url("../images/extras/botones_sprite.png") -65px -16px; }
      .barra_ciudad .centrado_ciudad .redes_sociales .blog {
        float: left;
        display: block;
        margin: 2px 0 0 5px; }

.menu {
  background: white;
  border-bottom: 1px solid #cccccc;
  float: left;
  height: 40px;
  position: absolute;
  top: 25px;
  width: 100%;
  z-index: 10; }
  .menu .centrado_menu {
    margin: 0px auto;
    width: 960px;
    height: 40px; }
    .menu .centrado_menu .logo_ciudad_menu {
      background: white;
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      float: left;
      height: 30px;
      padding: 5px 40px;
      width: 50px; }
    .menu .centrado_menu .menu_categorias {
      color: #444444;
      float: left;
      font-size: 12px;
      text-transform: lowercase;
      width: 584px;
      margin: 0 auto; }
      .menu .centrado_menu .menu_categorias li {
        float: left;
        list-style-type: none; }
        .menu .centrado_menu .menu_categorias li a {
          border-bottom: 1px solid #cccccc;
          color: #444444;
          float: left;
          padding: 14px 6px 14px;
          text-decoration: none;
          z-index: 20; }
          .menu .centrado_menu .menu_categorias li a:hover, .menu .centrado_menu .menu_categorias li a.li-activo {
            background: url("../images/extras/flecha_menu.png") center 34px no-repeat;
            border-bottom: 1px solid white;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            border-top: 3px solid #0099ff;
            color: #444444;
            padding: 11px 5px 14px;
            z-index: 20; }
        .menu .centrado_menu .menu_categorias li ul {
          background: white;
          border-bottom: 1px solid #cccccc;
          border-left: 1px solid #cccccc;
          border-right: 1px solid #cccccc;
          border-top: 1px solid white;
          display: none;
          padding: 14px 0 0 0;
          position: absolute;
          top: 41px;
          width: 200px; }
          .menu .centrado_menu .menu_categorias li ul li {
            display: list-item;
            float: left;
            width: 200px; }
            .menu .centrado_menu .menu_categorias li ul li a {
              border: 0px;
              height: 20px;
              padding: 9px 6px 1px;
              width: 188px; }
              .menu .centrado_menu .menu_categorias li ul li a:hover {
                background: #f6f6f6;
                border: 0px;
                padding: 9px 6px 1px;
                text-decoration: underline;
                width: 188px; }
    .menu .centrado_menu .buscador_box {
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      float: left; }
      .menu .centrado_menu .buscador_box .buscar {
        border: 1px solid #999999;
        float: left;
        height: 30px;
        margin: 4px;
        position: relative; }
        .menu .centrado_menu .buscador_box .buscar:hover {
          border: 1px solid #444444; }
        .menu .centrado_menu .buscador_box .buscar .buscador {
          border: 0px;
          height: 30px;
          float: left;
          padding: 0px 5px;
          width: 191px; }
        .menu .centrado_menu .buscador_box .buscar .caja_icono {
          border-left: 1px solid #999999;
          cursor: pointer;
          float: left;
          height: 16px;
          padding: 7px;
          width: 16px; }
        .menu .centrado_menu .buscador_box .buscar .icono_buscar {
          background: url("../images/extras/botones_sprite.png") -82px 0px;
          float: left;
          height: 15px;
          width: 15px; }
          .menu .centrado_menu .buscador_box .buscar .icono_buscar:hover {
            background: url("../images/extras/botones_sprite.png") -82px -16px;
            float: left;
            height: 15px;
            width: 15px; }
        .menu .centrado_menu .buscador_box .buscar .placeholder {
          color: #999999; }
          .menu .centrado_menu .buscador_box .buscar .placeholder:hover {
            color: #cccccc; }

.fixed {
  position: fixed;
  top: 0; }

/* Contenidos */
.contenedor {
  float: left;
  padding: 90px 0px 20px;
  width: 100%; }
  .contenedor .contenido {
    margin: 0 auto;
    width: 960px;
    position: relative;
    /* Login Usuario */
    /* Registro Usuario */ }
    .contenedor .contenido .titulo {
      font-size: 16px;
      margin: 0 0 30px 0; }
    .contenedor .contenido .columna_izquierda {
      float: left;
      padding: 0 20px 0 0;
      width: 459px; }
    .contenedor .contenido .columna_izquierda_borde {
      border-right: 1px solid #dddddd;
      float: left;
      padding: 0 20px 0 0;
      width: 459px; }
    .contenedor .contenido .columna_derecha {
      float: left;
      padding: 0 0px 0 20px;
      width: 460px; }
    .contenedor .contenido .columna_derecha_borde {
      border-left: 1px solid #dddddd;
      float: left;
      padding: 0 0px 0 20px;
      width: 460px; }
    .contenedor .contenido .login {
      float: left;
      width: 459px; }
      .contenedor .contenido .login .login_error {
        background-color: #ffe5e5;
        border: 1px solid #ff6666;
        float: left;
        line-height: 18px;
        margin: 0 0 20px 0;
        padding: 5px 10px;
        width: 439px; }
      .contenedor .contenido .login .login_form {
        font-size: 12px; }
        .contenedor .contenido .login .login_form div label {
          display: block;
          float: left;
          margin: 5px 0;
          width: 90px; }
        .contenedor .contenido .login .login_form div input {
          border: 1px solid #999999;
          height: 20px;
          margin: 0 0 10px;
          padding: 3px 5px;
          width: 250px; }
          .contenedor .contenido .login .login_form div input:hover {
            border: 1px solid #444444; }
          .contenedor .contenido .login .login_form div input:focus {
            border: 1px solid #0099ff; }
          .contenedor .contenido .login .login_form div input.checkbox {
            float: left;
            margin: 0 0 10px 0;
            width: 20px; }
        .contenedor .contenido .login .login_form div .tip {
          float: left;
          font-size: 11px;
          margin: 0 0 10px;
          width: 360px; }
          .contenedor .contenido .login .login_form div .tip a {
            color: #0099ff;
            text-decoration: none; }
            .contenedor .contenido .login .login_form div .tip a:hover {
              color: #0099ff;
              text-decoration: underline; }
        .contenedor .contenido .login .login_form div .checkbox_tip {
          float: left;
          font-size: 12px;
          margin: 2px 5px 10px;
          width: 250px; }
        .contenedor .contenido .login .login_form .submit {
          float: left;
          width: 459px; }
          .contenedor .contenido .login .login_form .submit .boton_entrar {
            background-image: linear-gradient(bottom, #ff3300 30%, #ff6600 70%);
            background-image: -o-linear-gradient(bottom, #ff3300 30%, #ff6600 70%);
            background-image: -moz-linear-gradient(bottom, #ff3300 30%, #ff6600 70%);
            background-image: -webkit-linear-gradient(bottom, #ff3300 30%, #ff6600 70%);
            background-image: -ms-linear-gradient(bottom, #ff3300 30%, #ff6600 70%);
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, #ff3300), color-stop(0.7, #ff6600));
            border: 1px solid #ff3300;
            cursor: pointer;
            border-radius: 2px;
            -o-border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            color: white;
            font-size: 12px;
            font-weight: bold;
            height: 30px;
            margin: 10px 0 0 0;
            text-shadow: 1px 1px 1px #444444;
            width: 60px; }
            .contenedor .contenido .login .login_form .submit .boton_entrar:hover {
              background-image: linear-gradient(bottom, #ff4400 30%, #ff7700 70%);
              background-image: -o-linear-gradient(bottom, #ff4400 30%, #ff7700 70%);
              background-image: -moz-linear-gradient(bottom, #ff4400 30%, #ff7700 70%);
              background-image: -webkit-linear-gradient(bottom, #ff4400 30%, #ff7700 70%);
              background-image: -ms-linear-gradient(bottom, #ff4400 30%, #ff7700 70%);
              background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, #ff4400), color-stop(0.7, #ff7700));
              border: 1px solid #ff4400;
              cursor: pointer;
              height: 30px;
              text-shadow: 1px 1px 1px #444444;
              width: 60px; }
    .contenedor .contenido .texto_registro {
      font-size: 13px;
      line-height: 18px; }
    .contenedor .contenido a {
      color: white;
      text-decoration: none; }
    .contenedor .contenido .registro {
      float: left;
      width: 459px; }
      .contenedor .contenido .registro .registro_error {
        background-color: #ffe5e5;
        border: 1px solid #ff6666;
        float: left;
        line-height: 18px;
        margin: 0 0 20px 0;
        padding: 5px 10px;
        width: 439px; }
      .contenedor .contenido .registro .registro_form {
        font-size: 12px; }
        .contenedor .contenido .registro .registro_form li label {
          display: block;
          float: left;
          margin: 5px 0;
          width: 120px; }
        .contenedor .contenido .registro .registro_form li input {
          border: 1px solid #999999;
          height: 20px;
          margin: 0 0 10px;
          padding: 3px 5px;
          width: 250px; }
          .contenedor .contenido .registro .registro_form li input:hover {
            border: 1px solid #444444; }
          .contenedor .contenido .registro .registro_form li input.checkbox {
            float: left;
            margin: 0 0 10px 0;
            width: 20px; }
        .contenedor .contenido .registro .registro_form li small.errors {
          margin-right: 76px; }
        .contenedor .contenido .registro .registro_form li .tip_registro {
          float: left;
          font-size: 11px;
          margin: 0 0 10px;
          width: 330px; }
          .contenedor .contenido .registro .registro_form li .tip_registro a {
            color: #0099ff;
            text-decoration: none; }
            .contenedor .contenido .registro .registro_form li .tip_registro a:hover {
              color: #0099ff;
              text-decoration: underline; }
        .contenedor .contenido .registro .registro_form .submit {
          float: left;
          width: 459px; }
          .contenedor .contenido .registro .registro_form .submit .boton_registrar {
            background-image: linear-gradient(bottom, #ff3300 30%, #ff6600 70%);
            background-image: -o-linear-gradient(bottom, #ff3300 30%, #ff6600 70%);
            background-image: -moz-linear-gradient(bottom, #ff3300 30%, #ff6600 70%);
            background-image: -webkit-linear-gradient(bottom, #ff3300 30%, #ff6600 70%);
            background-image: -ms-linear-gradient(bottom, #ff3300 30%, #ff6600 70%);
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, #ff3300), color-stop(0.7, #ff6600));
            border: 1px solid #ff3300;
            cursor: pointer;
            border-radius: 2px;
            -o-border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            color: white;
            font-size: 12px;
            font-weight: bold;
            height: 30px;
            margin: 10px 0 0 0;
            text-shadow: 1px 1px 1px #444444;
            width: 80px; }
            .contenedor .contenido .registro .registro_form .submit .boton_registrar:hover {
              background-image: linear-gradient(bottom, #ff4400 30%, #ff7700 70%);
              background-image: -o-linear-gradient(bottom, #ff4400 30%, #ff7700 70%);
              background-image: -moz-linear-gradient(bottom, #ff4400 30%, #ff7700 70%);
              background-image: -webkit-linear-gradient(bottom, #ff4400 30%, #ff7700 70%);
              background-image: -ms-linear-gradient(bottom, #ff4400 30%, #ff7700 70%);
              background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, #ff4400), color-stop(0.7, #ff7700));
              border: 1px solid #ff4400;
              cursor: pointer;
              height: 30px;
              text-shadow: 1px 1px 1px #444444;
              width: 80px; }
    .contenedor .contenido .caja_registro_facebook {
      background: #edeff4;
      border: 1px solid #3b5998;
      float: left;
      margin: 0 0 30px 0;
      width: 458px; }
      .contenedor .contenido .caja_registro_facebook .registro_facebook_img {
        padding: 10px;
        float: left;
        width: 135px; }
      .contenedor .contenido .caja_registro_facebook .registro_facebook_txt {
        padding: 10px;
        float: left;
        font-size: 13px;
        line-height: 18px;
        width: 283px; }
      .contenedor .contenido .caja_registro_facebook .registro_facebook_btn {
        padding: 10px 129px;
        float: left;
        width: 200px; }
    .contenedor .contenido .boton_registro {
      background-image: linear-gradient(bottom, #ff3300 30%, #ff6600 70%);
      background-image: -o-linear-gradient(bottom, #ff3300 30%, #ff6600 70%);
      background-image: -moz-linear-gradient(bottom, #ff3300 30%, #ff6600 70%);
      background-image: -webkit-linear-gradient(bottom, #ff3300 30%, #ff6600 70%);
      background-image: -ms-linear-gradient(bottom, #ff3300 30%, #ff6600 70%);
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, #ff3300), color-stop(0.7, #ff6600));
      border: 1px solid #ff3300;
      cursor: pointer;
      border-radius: 2px;
      -o-border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      color: white;
      font-size: 25px;
      height: 30px;
      margin: 20px 135px;
      padding: 15px 10px;
      text-align: center;
      text-shadow: 1px 1px 1px #444444;
      width: 175px; }
      .contenedor .contenido .boton_registro:hover {
        background-image: linear-gradient(bottom, #ff4400 30%, #ff7700 70%);
        background-image: -o-linear-gradient(bottom, #ff4400 30%, #ff7700 70%);
        background-image: -moz-linear-gradient(bottom, #ff4400 30%, #ff7700 70%);
        background-image: -webkit-linear-gradient(bottom, #ff4400 30%, #ff7700 70%);
        background-image: -ms-linear-gradient(bottom, #ff4400 30%, #ff7700 70%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, #ff4400), color-stop(0.7, #ff7700));
        border: 1px solid #ff4400;
        cursor: pointer;
        height: 30px;
        text-shadow: 1px 1px 1px #444444;
        width: 175px; }

/* Footer */
.footer {
  background: #f6f6f6;
  float: right;
  margin: 20px 0 0 0;
  width: 100%; }
  .footer .contenido_footer {
    margin: 0 auto;
    text-shadow: 1px 1px 1px white;
    width: 960px; }
    .footer .contenido_footer .participa_alianzas {
      border-bottom: 1px solid #cccccc;
      color: #999999;
      float: left;
      padding: 30px 0;
      width: 960px; }
      .footer .contenido_footer .participa_alianzas .participa {
        float: left;
        margin: 0 10px 0 0;
        width: 374px; }
      .footer .contenido_footer .participa_alianzas .alianzas {
        float: left;
        width: 576px; }
        .footer .contenido_footer .participa_alianzas .alianzas .alianzas_img {
          display: block;
          float: left;
          margin: 20px 50px 0 0; }
        .footer .contenido_footer .participa_alianzas .alianzas .alianzas_img_last {
          display: block;
          float: left;
          margin: 20px 0 0 0; }
    .footer .contenido_footer .loogares {
      border-bottom: 1px solid #cccccc;
      color: #999999;
      float: left;
      padding: 30px 0;
      width: 960px;
      border-top: 1px solid white; }
    .footer .contenido_footer .pais {
      border-bottom: 1px solid #cccccc;
      color: #999999;
      float: left;
      padding: 30px 0;
      width: 960px;
      border-top: 1px solid white; }
    .footer .contenido_footer .ano_loogares {
      border-top: 1px solid white;
      color: #999999;
      float: left;
      font-size: 11px;
      text-align: center;
      padding: 25px 0;
      width: 960px; }
    .footer .contenido_footer p.footer_title {
      background: url("../images/extras/flecha_footer.png") no-repeat 0px 3px;
      font-size: 14px;
      font-weight: bold;
      height: 12px;
      padding: 0 0 0 12px;
      width: 12px; }
    .footer .contenido_footer p.footer_title_pais {
      background: url("../images/extras/flecha_footer.png") no-repeat 0px 3px;
      float: left;
      font-size: 14px;
      font-weight: bold;
      height: 12px;
      padding: 0 0 0 12px;
      width: 130px; }
    .footer .contenido_footer .cl {
      background: url("../images/extras/botones_sprite.png") no-repeat 0px -32px;
      height: 13px;
      padding: 0 0 0 28px;
      width: 20px; }
    .footer .contenido_footer .ar {
      background: url("../images/extras/botones_sprite.png") no-repeat 0px -47px;
      height: 13px;
      padding: 0 0 0 28px;
      width: 20px; }
    .footer .contenido_footer .participa_listado li {
      margin: 20px 0 0 12px; }
      .footer .contenido_footer .participa_listado li a {
        color: #999999;
        text-decoration: none; }
        .footer .contenido_footer .participa_listado li a:hover {
          color: #999999;
          text-decoration: underline; }
    .footer .contenido_footer .loogares_listado li {
      float: left;
      margin: 20px 0 0 12px;
      width: 180px; }
      .footer .contenido_footer .loogares_listado li a {
        color: #999999;
        text-decoration: none; }
        .footer .contenido_footer .loogares_listado li a:hover {
          color: #999999;
          text-decoration: underline; }
    .footer .contenido_footer .pais_listado li {
      float: left;
      margin: 1px 10px 0 0; }
      .footer .contenido_footer .pais_listado li a {
        color: #999999;
        text-decoration: none; }
        .footer .contenido_footer .pais_listado li a:hover {
          color: #999999;
          text-decoration: underline; }

/* Errores */
.errores-container {
  background-color: #ffe5e5;
  border: 1px solid #ff6666;
  float: left;
  display: none;
  line-height: 18px;
  margin: 0 0 20px 0;
  padding: 5px 10px;
  width: 938px; }
  .errores-container p:before {
    content: "»";
    font-weight: bold;
    margin-right: 4px; }

.errors {
  color: #ff6666;
  display: block;
  font-size: 11px;
  float: left;
  line-height: 14px;
  margin: 5px 0 0 110px;
  text-align: left;
  width: 400px; }

.errors.categoria {
  margin-right: 100px; }

.input-error {
  border: 1px solid #ff6666 !important; }

/* AGREGADO POR EL SUR */
input[type=text], textarea, input[type=password] {
  padding: 8px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #cccccc;
  width: 280px;
  outline: none; }

select {
  width: 298px; }

label {
  line-height: 23px;
  display: inline-block; }

.placeholder {
  color: #cccccc; }

.input-active {
  border: 1px solid #0066cc; }

input:focus, textarea {
  outline: none; }

small {
  font-size: 10px; }
