.post {
  width: 640px;
  color: #666666;
  line-height: 20px;
  float: left;
  border-top: 5px solid #333333; }
  .post p {
    margin: 18px 0; }
  .post h1 {
    font-size: 24px;
    line-height: 30px; }
  .post .post_contenido {
    font-size: 14px;
    padding: 20px;
    border: 1px solid #eeeef3; }
    .post .post_contenido .metadata {
      font-size: 10px;
      margin: 10px 0 20px;
      color: #aaaaaa; }
  .post .colaborador_post_lugar {
    overflow: auto;
    border-top: 1px solid #eeeeee;
    padding-top: 20px; }
    .post .colaborador_post_lugar .colaborador_foto_lugar {
      float: left;
      background: #333333;
      width: 100px;
      height: 100px; }
    .post .colaborador_post_lugar .colaborador_texto_lugar {
      padding-left: 120px; }
      .post .colaborador_post_lugar .colaborador_texto_lugar h3 {
        margin-bottom: 10px;
        font-weight: bold; }
  .post .condiciones, .post .detalles {
    margin-top: 5px;
    padding: 20px;
    border: 1px solid #eeeef3; }
  .post .detalles {
    font-size: 14px; }
    .post .detalles .detalles_titulo {
      font-weight: bold;
      color: #7ec9ff;
      font-size: 16px; }
    .post .detalles .detalles_finaliza {
      color: #888888;
      font-weight: bold; }
    .post .detalles .detalles_contenido {
      padding-left: 170px; }
    .post .detalles .detalles_foto {
      height: 150px;
      width: 150px;
      background: #333333;
      display: block;
      float: left;
      margin-top: 10px; }
      .post .detalles .detalles_foto .facebook_lugar {
        background: url("../images/extras/iconos_ficha_lugar.png") no-repeat 0 -71px;
        display: inline-block;
        float: left;
        height: 16px;
        width: 16px; }
      .post .detalles .detalles_foto .twitter_lugar {
        background: url("../images/extras/iconos_ficha_lugar.png") no-repeat 0 -92px;
        display: inline-block;
        float: left;
        height: 16px;
        margin: 0 0 0 10px;
        width: 16px; }
  .post .condiciones ol {
    list-style: decimal;
    padding-left: 20px; }
    .post .condiciones ol li {
      margin-top: 10px; }

.sidebar h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px; }
.sidebar .imagen_blog {
  width: 300px;
  height: 400px;
  display: block;
  background: #333333;
  margin-bottom: 10px; }
.sidebar .gads {
  width: 300px;
  height: 250px;
  display: block;
  background: #333333;
  margin-bottom: 10px; }
