.qtip_subcategorias, .qtip_zonas, .qtip_categorias, .qtip_caracteristicas {
  display: none;
  padding-top: 10px;
  position: relative;
  font-size: 12px;
  font-weight: 400; }
  .qtip_subcategorias a, .qtip_zonas a, .qtip_categorias a, .qtip_caracteristicas a {
    color: #666666;
    text-decoration: none; }
    .qtip_subcategorias a:visited, .qtip_zonas a:visited, .qtip_categorias a:visited, .qtip_caracteristicas a:visited {
      color: #666666; }
  .qtip_subcategorias p, .qtip_zonas p, .qtip_categorias p, .qtip_caracteristicas p {
    color: #cccccc;
    margin-bottom: 20px;
    font-size: 12px; }
  .qtip_subcategorias li, .qtip_zonas li, .qtip_categorias li, .qtip_caracteristicas li {
    color: #999999;
    display: inline-block;
    font-size: 12px;
    *zoom: 1;
    *display: inline;
    width: 170px;
    margin: 0 0 15px;
    vertical-align: middle; }
    .qtip_subcategorias li .totales, .qtip_zonas li .totales, .qtip_categorias li .totales, .qtip_caracteristicas li .totales {
      color: #cccccc;
      font-style: italic; }
  .qtip_subcategorias .filtrar_caracteristicas, .qtip_zonas .filtrar_caracteristicas, .qtip_categorias .filtrar_caracteristicas, .qtip_caracteristicas .filtrar_caracteristicas {
    background: url("../images/extras/cargar_tooltip.png") no-repeat 0 0;
    border: 0px;
    cursor: pointer;
    display: block;
    float: right;
    height: 30px;
    margin: 0 0px 5px;
    width: 85px; }
    .qtip_subcategorias .filtrar_caracteristicas:hover, .qtip_zonas .filtrar_caracteristicas:hover, .qtip_categorias .filtrar_caracteristicas:hover, .qtip_caracteristicas .filtrar_caracteristicas:hover {
      background: url("../images/extras/cargar_tooltip.png") no-repeat 0 -30px; }
