.overlay {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%; }
  .overlay:after {
    content: "";
    background: #cccccc;
    position: absolute;
    opacity: 0.28;
    width: 100%;
    height: 100%;
    padding: 20px;
    top: 0;
    left: 0;
    z-index: 20; }
  .overlay .loader {
    background: fuchsia;
    z-index: 22;
    position: relative;
    color: cyan;
    font-weight: bold;
    margin-left: 20px;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 120px; }

.close_qtip {
  background: url(../images/extras/x.gif) #666666;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 3px;
  cursor: pointer; }

.qtip_subcategorias, .qtip_zonas, .qtip_categorias, .qtip_caracteristicas {
  display: none;
  padding-top: 10px;
  position: relative;
  font-size: 12px;
  font-weight: 400; }
  .qtip_subcategorias a, .qtip_zonas a, .qtip_categorias a, .qtip_caracteristicas a {
    color: #666666;
    text-decoration: none; }
    .qtip_subcategorias a:visited, .qtip_zonas a:visited, .qtip_categorias a:visited, .qtip_caracteristicas a:visited {
      color: #666666; }
  .qtip_subcategorias p, .qtip_zonas p, .qtip_categorias p, .qtip_caracteristicas p {
    color: #999999;
    margin-bottom: 8px;
    font-size: 14px; }
  .qtip_subcategorias li, .qtip_zonas li, .qtip_categorias li, .qtip_caracteristicas li {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 170px;
    margin: 8px 0;
    vertical-align: middle; }
  .qtip_subcategorias .filtrar_caracteristicas, .qtip_zonas .filtrar_caracteristicas, .qtip_categorias .filtrar_caracteristicas, .qtip_caracteristicas .filtrar_caracteristicas {
    background: url("../images/extras/botones_ficha_lugar.png") no-repeat -798px 0;
    border: 0px;
    cursor: pointer;
    height: 30px;
    margin: 20px 0 0;
    width: 100px; }
    .qtip_subcategorias .filtrar_caracteristicas:hover, .qtip_zonas .filtrar_caracteristicas:hover, .qtip_categorias .filtrar_caracteristicas:hover, .qtip_caracteristicas .filtrar_caracteristicas:hover {
      background: url("../images/extras/botones_ficha_lugar.png") no-repeat -798px -30px; }
