.agregar-lugar {
  width: 480px;
  float: left; }
  .agregar-lugar li {
    margin: 4px 0; }
    .agregar-lugar li.no-default {
      display: none; }
  .agregar-lugar label {
    width: 90px;
    display: inline-block; }
  .agregar-lugar span.display-more, .agregar-lugar span.quitar-info {
    font-size: 10px;
    display: block;
    text-align: right;
    margin: 1px 87px 0 0; }
    .agregar-lugar span.display-more a, .agregar-lugar span.quitar-info a {
      color: #0066cc; }
  .agregar-lugar span.quitar-info {
    display: inline-block;
    margin: 0; }
  .agregar-lugar .numero {
    width: 80px; }
  .agregar-lugar .calle {
    width: 177px; }
  .agregar-lugar .subcategorias {
    width: 400px;
    margin: 5px 0 0 92px;
    display: none; }
    .agregar-lugar .subcategorias li {
      display: inline-block;
      margin: 1px; }
      .agregar-lugar .subcategorias li label {
        display: inline-block;
        width: 170px;
        font-size: 10px;
        line-height: 10px;
        float: left; }
        .agregar-lugar .subcategorias li label span:hover {
          border-bottom: 1px dotted #0066cc; }
  .agregar-lugar .caracteristicas {
    width: 400px;
    margin: -20px 0 0 93px; }
    .agregar-lugar .caracteristicas li {
      display: inline-block;
      margin: 1px; }
      .agregar-lugar .caracteristicas li label {
        width: 180px;
        font-size: 10px; }
        .agregar-lugar .caracteristicas li label span:hover {
          border-bottom: 1px dotted #0066cc; }

.agregar-horarios th {
  font-weight: bold; }
.agregar-horarios td, .agregar-horarios th {
  width: 10px;
  padding: 3px; }
.agregar-horarios td select {
  width: 80px; }
.agregar-horarios td label {
  position: absolute;
  margin: 2px 0 0 4px;
  font-size: 10px; }

.mapa_agregar {
  display: block;
  height: 500px;
  width: 480px;
  float: right;
  margin-top: 6px; }
  .mapa_agregar .mapa_info {
    padding: 5px;
    width: 180px;
    margin: 0 auto 10px;
    text-align: center;
    display: block;
    font-size: 11px; }
    .mapa_agregar .mapa_info span {
      color: red;
      font-weight: bold;
      display: block; }
  .mapa_agregar .gmaps {
    background: fuchsia;
    height: 350px;
    width: 478px;
    display: block;
    border: 1px solid #cccccc; }
