.link_azul {
  color: #0066cc;
  text-decoration: none; }
  .link_azul:hover {
    color: #0066cc;
    text-decoration: underline; }

.resultados-wrapper {
  position: relative;
  float: left; }

.listado_resultados {
  margin-top: -30px;
  display: inline-block; }

.resultado-busqueda {
  margin: 0 0 5px;
  display: block;
  width: 600px;
  height: 150px;
  padding: 10px;
  clear: both;
  border-bottom: 1px solid #f2f2f2; }
  .resultado-busqueda .datos-principales {
    float: left;
    padding: 10px;
    height: 150px;
    width: 400px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
    .resultado-busqueda .datos-principales li {
      margin: 8px 0; }
    .resultado-busqueda .datos-principales .info_lugar .nombre_lugar {
      display: block;
      line-height: 20px; }
      .resultado-busqueda .datos-principales .info_lugar .nombre_lugar .indice_resultado {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #f1f0f5;
        text-align: center;
        border-radius: 20px;
        color: #a1a1a1;
        font-size: 11px;
        text-shadow: 0 1px 0 white; }
    .resultado-busqueda .datos-principales .info_lugar img {
      background: #f1f0f5;
      width: 60px;
      height: 60px;
      float: left;
      margin-right: 5px; }
    .resultado-busqueda .datos-principales .info_recomendacion {
      margin: 0; }
      .resultado-busqueda .datos-principales .info_recomendacion span {
        display: inline-block;
        float: left;
        width: 345px;
        text-align: justify; }
        .resultado-busqueda .datos-principales .info_recomendacion span p {
          display: inline; }
      .resultado-busqueda .datos-principales .info_recomendacion img {
        float: left;
        margin-right: 5px;
        width: 20px;
        height: 20px;
        background: #f1f0f5; }
  .resultado-busqueda .datos-secundarios {
    float: left;
    margin-top: 15px;
    height: 120px;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-left: 1px solid #f2f2f2;
    vertical-align: middle; }
    .resultado-busqueda .datos-secundarios li {
      margin: 0 0 8px; }
  .resultado-busqueda:hover {
    background: #fbfcff;
    border-left: 1px solid #f2f2f2; }
