ul {
  margin: 0; }

#titulo-usuario {
  font-size: 1.6em;
  font-weight: bold;
  margin: 10px 0 20px 0;
  letter-spacing: -1px; }

.form-edicion .editar-usuario li {
  margin: 10px 0; }
.form-edicion .editar-usuario .edicion-newsletter label {
  margin-top: 0; }
.form-edicion .editar-usuario label {
  width: 160px;
  display: inline-block;
  font-size: 0.9em;
  margin-top: 5px;
  float: left; }
.form-edicion .editar-usuario input[type=text], .form-edicion .editar-usuario input[type=password], .form-edicion .editar-usuario .edicion-sexo {
  width: 300px; }
.form-edicion .editar-usuario input[type=radio] {
  float: left; }
.form-edicion .editar-usuario .edicion-fecha-nacimiento {
  width: 100%; }
  .form-edicion .editar-usuario .edicion-fecha-nacimiento select {
    border: 1px solid #cccccc;
    line-height: 16px; }
  .form-edicion .editar-usuario .edicion-fecha-nacimiento #form_fecha_nacimiento_year {
    width: 100px; }
  .form-edicion .editar-usuario .edicion-fecha-nacimiento #form_fecha_nacimiento_month {
    width: 150px; }
  .form-edicion .editar-usuario .edicion-fecha-nacimiento #form_fecha_nacimiento_day {
    width: 50px; }
.form-edicion .editar-usuario #form_sexo label {
  margin: 0 10px 0 5px;
  width: auto; }
.form-edicion .editar-usuario small.errors {
  margin-right: 252px; }
