/* Colores */
/* Mixin */
.caja_usuario {
  float: left;
  width: 960px; }
  .caja_usuario .datos_usuario {
    border: 1px solid #f6f6f6;
    display: block;
    float: left;
    padding: 20px;
    width: 918px; }
    .caja_usuario .datos_usuario .imagen_usuario {
      float: left;
      margin: 0 20px 0 0;
      width: 140px; }
    .caja_usuario .datos_usuario .nombre_usuario {
      float: left;
      font-size: 25px;
      font-weight: bold;
      width: 758px; }
    .caja_usuario .datos_usuario .datos_principales_usuario {
      float: left;
      margin: 20px 10px 0 0;
      width: 300px; }
      .caja_usuario .datos_usuario .datos_principales_usuario .fecha_registro {
        color: #cccccc;
        float: left;
        font-size: 12px;
        width: 300px; }
      .caja_usuario .datos_usuario .datos_principales_usuario .sexo_usuario_Hombre {
        background: #ff3300;
        display: block;
        float: left;
        height: 16px;
        margin: 12px 0 0;
        width: 16px; }
      .caja_usuario .datos_usuario .datos_principales_usuario .sexo_usuario_Mujer {
        background: #aa3300;
        display: block;
        float: left;
        height: 16px;
        margin: 12px 0 0;
        width: 16px; }
      .caja_usuario .datos_usuario .datos_principales_usuario .edad_usuario {
        display: block;
        float: left;
        font-size: 14px;
        margin: 13px 0 0 10px;
        width: 274px; }
      .caja_usuario .datos_usuario .datos_principales_usuario .ciudad_pais_usuario {
        display: block;
        float: left;
        font-size: 14px;
        margin: 12px 0 0;
        width: 300px; }
      .caja_usuario .datos_usuario .datos_principales_usuario .link_usuario {
        display: block;
        float: left;
        font-size: 14px;
        margin: 12px 0 0;
        width: 300px; }
        .caja_usuario .datos_usuario .datos_principales_usuario .link_usuario .facebook_link {
          background: #ff3300;
          display: block;
          float: left;
          height: 16px;
          margin: 0 10px 0 0;
          width: 16px; }
        .caja_usuario .datos_usuario .datos_principales_usuario .link_usuario .twitter_link {
          background: #ff3300;
          display: block;
          float: left;
          height: 16px;
          margin: 0 10px 0 0;
          width: 16px; }
        .caja_usuario .datos_usuario .datos_principales_usuario .link_usuario .url_link {
          display: block;
          float: left;
          height: 16px;
          padding: 0 0 0 20px;
          width: 16px; }
          .caja_usuario .datos_usuario .datos_principales_usuario .link_usuario .url_link a {
            color: #0066cc;
            text-decoration: none; }
            .caja_usuario .datos_usuario .datos_principales_usuario .link_usuario .url_link a:hover {
              color: #0066cc;
              text-decoration: underline; }
  .caja_usuario .actividad_usuario_izq {
    display: block;
    float: left;
    font-size: 14px;
    margin: 20px 10px 0 0;
    width: 218px; }
    .caja_usuario .actividad_usuario_izq .recomendaciones_usuario {
      padding: 0 20px 0 0; }
    .caja_usuario .actividad_usuario_izq .primeras_recomendaciones_usuario {
      padding: 10px 20px 0 0; }
    .caja_usuario .actividad_usuario_izq .imagenes_usuario {
      padding: 10px 20px 0 0; }
    .caja_usuario .actividad_usuario_izq .lugares_usuario {
      padding: 10px 20px 0 0; }
  .caja_usuario .actividad_usuario_der {
    display: block;
    float: left;
    margin: 20px 0 0 0;
    width: 218px; }
    .caja_usuario .actividad_usuario_der .lugares_por_visitar_usuario {
      padding: 0 20px 0 0; }
    .caja_usuario .actividad_usuario_der .lugares_visitados_usuario {
      padding: 10px 20px 0 0; }
    .caja_usuario .actividad_usuario_der .lugares_por_recomendar_usuario {
      padding: 10px 20px 0 0; }
    .caja_usuario .actividad_usuario_der .lugares_favoritos_usuario {
      padding: 10px 20px 0 0; }

.menu_actividad_usuario {
  background: #fafafc;
  border-bottom: 1px solid #f6f6f6;
  border-top: 1px solid #f6f6f6;
  border-right: 1px solid #f6f6f6;
  float: left;
  margin: 20px 0 0;
  padding: 75px 0;
  width: 160px; }
  .menu_actividad_usuario li {
    background: #fafafc;
    border-bottom: 1px solid #f6f6f6;
    border-top: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
    float: left;
    padding: 15px 10px 15px 15px;
    width: 135px; }
    .menu_actividad_usuario li:hover {
      border-bottom: 1px solid #cccccc;
      border-left: 5px solid #cccccc;
      float: left;
      padding: 15px 10px;
      width: 135px; }
    .menu_actividad_usuario li a {
      color: #999999 !important;
      text-decoration: none; }
      .menu_actividad_usuario li a:hover {
        color: #999999 !important;
        text-decoration: underline; }
  .menu_actividad_usuario .selected {
    background: white;
    border-bottom: 1px solid #f6f6f6;
    border-left: 5px solid #66ccff;
    border-right: 1px solid white;
    border-top: 1px solid #f6f6f6;
    float: left;
    padding: 15px 10px;
    width: 135px; }
    .menu_actividad_usuario .selected a {
      color: #999999 !important;
      text-decoration: none;
      font-weight: bold; }
      .menu_actividad_usuario .selected a:hover {
        color: #999999 !important;
        text-decoration: underline;
        font-weight: bold; }

.caja_actividad_usuario {
  border-top: 1px solid #f6f6f6;
  float: left;
  margin: 20px 0 0;
  padding: 20px;
  width: 759px; }

.caja_recomendaciones_usuario {
  border-top: 1px solid #f6f6f6;
  float: left;
  margin: 20px 0 0;
  padding: 20px;
  width: 759px; }

.caja_fotos_usuario {
  border-top: 1px solid #f6f6f6;
  float: left;
  margin: 20px 0 0;
  padding: 20px;
  width: 759px; }

.titulo_accion_usuario {
  font-size: 20px;
  font-weight: bold; }
