/* Etiquetas Posts */
body {
  color: #666666;
  line-height: 20px;
  float: left;
  width: 600px; }
  body .post_contenido {
    border: 1px solid #f2f2f6;
    font-size: 13px;
    float: left;
    line-height: 20px;
    padding: 20px;
    width: 600px; }
    body .post_contenido a {
      color: #0066cc;
      text-decoration: none; }
      body .post_contenido a:hover {
        color: #0066cc;
        text-decoration: underline; }
    body .post_contenido .metadata_post {
      color: #999999;
      font-size: 11px;
      margin: 0 0 30px; }
    body .post_contenido .contenido_post {
      white-space: pre-line; }
    body .post_contenido .info_pelicula {
      border-bottom: 1px solid #cccccc;
      border-top: 1px solid #cccccc;
      float: left;
      margin: 0 0 20px 0;
      padding: 20px 0;
      width: 600px; }
      body .post_contenido .info_pelicula img {
        float: left;
        margin: 0 20px 0 0;
        width: 80px; }
      body .post_contenido .info_pelicula ul {
        float: left;
        width: 498px; }
        body .post_contenido .info_pelicula ul .titulo_pelicula {
          margin: 0 0 15px; }
        body .post_contenido .info_pelicula ul .descripcion_pelicula {
          margin: 15px 0 0; }
    body .post_contenido .colaboradores_review {
      border-bottom: 1px solid #cccccc;
      border-top: 1px solid #cccccc;
      float: left;
      margin: 0 0 20px 0;
      padding: 20px 0;
      width: 600px; }
      body .post_contenido .colaboradores_review img {
        float: left;
        margin: 0 20px 0 0;
        width: 100px; }
      body .post_contenido .colaboradores_review p {
        float: left;
        width: 478px;
        white-space: pre-line; }
    body .post_contenido .articulos_review {
      border-top: 1px solid #cccccc;
      float: left;
      margin: 0 0 20px 0;
      padding: 20px 0;
      width: 600px; }
      body .post_contenido .articulos_review img {
        float: left;
        margin: 0 20px 0 0;
        width: 100px; }
      body .post_contenido .articulos_review p {
        float: left;
        width: 478px;
        white-space: pre-line; }
    body .post_contenido .articulos_review_last {
      border-top: 1px solid #cccccc;
      float: left;
      margin: 0 0 20px 0;
      padding: 20px 0;
      width: 600px; }
      body .post_contenido .articulos_review_last img {
        float: left;
        margin: 0 20px 0 0;
        width: 100px; }
      body .post_contenido .articulos_review_last p {
        float: left;
        width: 478px;
        white-space: pre-line; }
  body .detalles, body .condiciones {
    background: url("../images/extras/borde_relieve_posts.png") 0 0 no-repeat;
    font-size: 14px;
    float: left;
    padding: 12px 0 0;
    width: 640px; }
    body .detalles .borde_cajas, body .condiciones .borde_cajas {
      border: 1px solid #f2f2f6;
      float: left;
      padding: 20px; }
      body .detalles .borde_cajas a, body .condiciones .borde_cajas a {
        color: #0066cc;
        text-decoration: none; }
        body .detalles .borde_cajas a:hover, body .condiciones .borde_cajas a:hover {
          color: #0066cc;
          text-decoration: underline; }
      body .detalles .borde_cajas .imagen_detalles, body .condiciones .borde_cajas .imagen_detalles {
        float: left;
        margin: 0 20px 0 0;
        width: 145px; }
        body .detalles .borde_cajas .imagen_detalles a, body .condiciones .borde_cajas .imagen_detalles a {
          color: #0066cc;
          text-decoration: none;
          font-size: 12px;
          margin: 0 0 0 10px; }
          body .detalles .borde_cajas .imagen_detalles a:hover, body .condiciones .borde_cajas .imagen_detalles a:hover {
            color: #0066cc;
            text-decoration: underline; }
        body .detalles .borde_cajas .imagen_detalles img, body .condiciones .borde_cajas .imagen_detalles img {
          height: 145px;
          margin: 0 0 17px 0;
          width: 145px; }
        body .detalles .borde_cajas .imagen_detalles .facebook_lugar, body .condiciones .borde_cajas .imagen_detalles .facebook_lugar {
          background: url("../images/extras/iconos_ficha_lugar.png") no-repeat 0 -71px;
          display: inline-block;
          float: left;
          height: 16px;
          margin: 3px 0 0 0;
          width: 17px; }
        body .detalles .borde_cajas .imagen_detalles .twitter_lugar, body .condiciones .borde_cajas .imagen_detalles .twitter_lugar {
          background: url("../images/extras/iconos_ficha_lugar.png") no-repeat 0 -92px;
          display: inline-block;
          float: left;
          height: 16px;
          margin: 3px 0 0 10px;
          width: 17px; }
      body .detalles .borde_cajas .texto_detalles, body .condiciones .borde_cajas .texto_detalles {
        float: left;
        width: 433px; }
        body .detalles .borde_cajas .texto_detalles p, body .condiciones .borde_cajas .texto_detalles p {
          white-space: pre-line; }
          body .detalles .borde_cajas .texto_detalles p .titulo_detalle, body .condiciones .borde_cajas .texto_detalles p .titulo_detalle {
            color: #66ccff;
            font-weight: bold; }
          body .detalles .borde_cajas .texto_detalles p .titulo_ganadores, body .condiciones .borde_cajas .texto_detalles p .titulo_ganadores {
            color: #ff8a8a;
            font-weight: bold; }
          body .detalles .borde_cajas .texto_detalles p .finaliza_detalle, body .condiciones .borde_cajas .texto_detalles p .finaliza_detalle {
            color: #999999;
            font-size: 13px;
            font-weight: bold; }
          body .detalles .borde_cajas .texto_detalles p a, body .condiciones .borde_cajas .texto_detalles p a {
            color: #0066cc;
            text-decoration: none; }
            body .detalles .borde_cajas .texto_detalles p a:hover, body .condiciones .borde_cajas .texto_detalles p a:hover {
              color: #0066cc;
              text-decoration: underline; }
        body .detalles .borde_cajas .texto_detalles .ganadores_concurso, body .condiciones .borde_cajas .texto_detalles .ganadores_concurso {
          text-align: center;
          margin: 0 0 20px 0;
          width: 433px; }
          body .detalles .borde_cajas .texto_detalles .ganadores_concurso li a, body .condiciones .borde_cajas .texto_detalles .ganadores_concurso li a {
            color: #0066cc;
            text-decoration: none; }
            body .detalles .borde_cajas .texto_detalles .ganadores_concurso li a:hover, body .condiciones .borde_cajas .texto_detalles .ganadores_concurso li a:hover {
              color: #0066cc;
              text-decoration: underline; }
      body .detalles .borde_cajas .texto_condiciones, body .condiciones .borde_cajas .texto_condiciones {
        color: #999999;
        float: left;
        font-size: 12px;
        line-height: 20px;
        width: 598px;
        white-space: pre-line; }
      body .detalles .borde_cajas ol, body .condiciones .borde_cajas ol {
        color: #999999;
        list-style: decimal;
        float: left;
        font-size: 12px;
        margin: 20px 0 20px 20px; }
        body .detalles .borde_cajas ol li, body .condiciones .borde_cajas ol li {
          margin: 0 0 10px; }
      body .detalles .borde_cajas .caja_colaborador, body .condiciones .borde_cajas .caja_colaborador {
        float: left;
        font-size: 12px; }
        body .detalles .borde_cajas .caja_colaborador .imagen_colaborador, body .condiciones .borde_cajas .caja_colaborador .imagen_colaborador {
          float: left;
          width: 100px; }
        body .detalles .borde_cajas .caja_colaborador .info_colaborador, body .condiciones .borde_cajas .caja_colaborador .info_colaborador {
          float: left;
          padding: 0 0 0 20px;
          width: 476px; }
          body .detalles .borde_cajas .caja_colaborador .info_colaborador a, body .condiciones .borde_cajas .caja_colaborador .info_colaborador a {
            color: #0066cc;
            text-decoration: none; }
            body .detalles .borde_cajas .caja_colaborador .info_colaborador a:hover, body .condiciones .borde_cajas .caja_colaborador .info_colaborador a:hover {
              color: #0066cc;
              text-decoration: underline; }
          body .detalles .borde_cajas .caja_colaborador .info_colaborador .chico, body .condiciones .borde_cajas .caja_colaborador .info_colaborador .chico {
            font-size: 11px; }
          body .detalles .borde_cajas .caja_colaborador .info_colaborador .grande, body .condiciones .borde_cajas .caja_colaborador .info_colaborador .grande {
            font-size: 15px; }
          body .detalles .borde_cajas .caja_colaborador .info_colaborador .tag_colaborador, body .condiciones .borde_cajas .caja_colaborador .info_colaborador .tag_colaborador {
            display: block;
            font-size: 11px;
            float: left;
            margin: 0pt 0pt 10px; }
          body .detalles .borde_cajas .caja_colaborador .info_colaborador .imagen_tag_colaborador, body .condiciones .borde_cajas .caja_colaborador .info_colaborador .imagen_tag_colaborador {
            display: block;
            float: left;
            padding: 2px 0pt 0pt;
            width: 12px; }
          body .detalles .borde_cajas .caja_colaborador .info_colaborador .txt_tag_colaborador, body .condiciones .borde_cajas .caja_colaborador .info_colaborador .txt_tag_colaborador {
            display: block;
            float: left;
            padding: 0px 0px 0px 5px;
            width: 429px; }
          body .detalles .borde_cajas .caja_colaborador .info_colaborador .descripcion_colaborador, body .condiciones .borde_cajas .caja_colaborador .info_colaborador .descripcion_colaborador {
            margin: 20px 0; }
          body .detalles .borde_cajas .caja_colaborador .info_colaborador .redes_colaborador a, body .condiciones .borde_cajas .caja_colaborador .info_colaborador .redes_colaborador a {
            color: #444444;
            text-decoration: none;
            font-size: 11px; }
            body .detalles .borde_cajas .caja_colaborador .info_colaborador .redes_colaborador a:hover, body .condiciones .borde_cajas .caja_colaborador .info_colaborador .redes_colaborador a:hover {
              color: #444444;
              text-decoration: underline; }
          body .detalles .borde_cajas .caja_colaborador .info_colaborador .redes_colaborador .icono_colaboradores, body .condiciones .borde_cajas .caja_colaborador .info_colaborador .redes_colaborador .icono_colaboradores {
            display: block;
            float: left;
            padding: 2px 0 0 0;
            width: 4px; }
          body .detalles .borde_cajas .caja_colaborador .info_colaborador .redes_colaborador .icono_twitter, body .detalles .borde_cajas .caja_colaborador .info_colaborador .redes_colaborador .icono_facebook, body .detalles .borde_cajas .caja_colaborador .info_colaborador .redes_colaborador .icono_flickr, body .condiciones .borde_cajas .caja_colaborador .info_colaborador .redes_colaborador .icono_twitter, body .condiciones .borde_cajas .caja_colaborador .info_colaborador .redes_colaborador .icono_facebook, body .condiciones .borde_cajas .caja_colaborador .info_colaborador .redes_colaborador .icono_flickr {
            display: block;
            float: left;
            padding: 2px 0 0 10px;
            width: 16px; }
          body .detalles .borde_cajas .caja_colaborador .info_colaborador .redes_colaborador .link_colaboradores, body .condiciones .borde_cajas .caja_colaborador .info_colaborador .redes_colaborador .link_colaboradores {
            display: block;
            float: left;
            padding: 0 0 0 5px;
            width: auto; }