/* Etiquetas Posts */
body {
  background: #FFFFEE;
  color: #666666;
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
  float: left;
  width: 600px;
}

a {
  color: #0066CC;
  text-decoration: none;
}
