/* Colores */

$amarillo: #FFF08C

$azul: #0066CC
$azul_medio: #0099FF
$azul_claro: #66CCFF

$blanco: #FFF

$gris_faf: #FAFAFC
$gris_f6f: #F2F2F6
$gris_ccc: #CCC
$gris_999: #999
$gris_666: #666
$gris_444: #444

$rojo_claro: #FF8A8A
$rojo_medio: #FF5353
$rojo: #F72121

/* Mixin */

@mixin borde_redondeado
    border-radius: 2px
    -o-border-radius: 2px
    -moz-border-radius: 2px
    -webkit-border-radius: 2px

@mixin borde_redondeado_grande
    border-radius: 8px
    -o-border-radius: 8px
    -moz-border-radius: 8px
    -webkit-border-radius: 8px

@mixin gradiente_botones ($color_1, $color_2)
    background-image: linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -o-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -moz-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -webkit-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -ms-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, $color_1), color-stop(0.7, $color_2))
    border: 1px solid $color_1
    cursor: pointer

@mixin link_azul
    color: $azul !important
    text-decoration: none

@mixin link_azul_hover
    color: $azul !important
    text-decoration: underline

@mixin link_blanco
    color: $blanco !important
    text-decoration: none

@mixin link_blanco_hover
    color: $blanco !important
    text-decoration: underline

@mixin link_gris_444
    color: $gris_444 !important
    text-decoration: none

@mixin link_gris_444_hover
    color: $gris_444 !important
    text-decoration: underline 

@mixin link_gris_666
    color: $gris_666 !important
    text-decoration: none

@mixin link_gris_666_hover
    color: $gris_666 !important
    text-decoration: underline 

@mixin link_gris_999
    color: $gris_999 !important
    text-decoration: none

@mixin link_gris_999_hover
    color: $gris_999 !important
    text-decoration: underline 

@mixin sombra_fuerte
    -box-shadow: -3px 3px 1px $gris_eee
    -o-box-shadow: -3px 3px 1px $gris_eee
    -moz-box-shadow: -3px 3px 1px $gris_eee
    -webkit-box-shadow: -3px 3px 1px $gris_eee

@mixin box-sizing
    box-sizing: border-box
    -o-box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box


/* Home sitio */

.saludos_premios
    background: url('../images/extras/borde_relieve.png') no-repeat 0 81px
    border-top: 1px solid $gris_f6f
    color: $gris_666
    float: left
    font:
        size: 13px
    height: 86px
    line-height: 16px
    margin: 0 0 30px
    width: 960px

    .mensaje
        border-left: 1px solid $gris_f6f
        float: left
        padding: 25px 0 24px 10px
        width: 677px

        p
            color: $gris_999
            display: block
            margin: 5px 0 0

        .texto_destacado
            color: $azul_claro

    .flecha
        background: url('../images/extras/flecha_grande.png') no-repeat 0 0
        float: left
        height: 81px
        width: 31px
        
    .registro
        border-right: 1px solid $gris_f6f
        float: left
        height: 51px
        padding: 15px 10px
        text-align: center
        width: 220px

        a
            @include link_azul

            &:hover
                @include link_azul_hover

        .boton_fb
            background: url('../images/extras/botones_sprite.png') no-repeat -1px -155px
            border: 0px
            cursor: pointer
            height: 30px
            margin: 0 10px 5px
            width: 200px

.contenido_home
    float: left
    font:
        size: 14px
    margin: 0 20px 0 0
    width: 640px

    /* Concursos */
    .campanas_concursos
        color: $gris_666
        float: left
        margin: 0 0 30px
        width: 640px

        a
            text-decoration: none

        li
            border: 1px solid $gris_f6f
            border-bottom: 5px solid $gris_f6f
            float: left
            height: 244px
            width: 204px

            &:hover
                _background: url('../images/extras/fondo_link_concurso.png') no-repeat
                position: relative

                &:hover:after
                    content: ''
                    height: 235px
                    width: 194px
                    display: block
                    position: absolute
                    background: $gris_faf
                    top: 5px
                    left: 5px
                    z-index: -20

            .titulo_concurso
                color: $gris_666
                font:
                    weight: bold
                padding: 10px
                text:
                    align: center

            .concursos
                border-bottom: 5px solid $azul_claro

            .especiales
                border-bottom: 5px solid $amarillo

            .ganadores
                border-bottom: 5px solid $rojo

            .lugar_concurso
                background: $gris_f6f
                color: $gris_666
                font:
                    size: 12px
                    weight: bold
                padding: 10px
                text:
                    align: center

            .sorteo_concurso
                color: $gris_666
                line-height: 18px
                padding: 10px
                text:
                    align: center

        .central
            margin: 0 11px
    
    /* Lugares recientemente recomendados */
    .lugares_recomendados
        border: 1px solid $gris_f6f
        color: $gris_666
        float: left
        margin: 0 0 30px
        width: 638px

        .titulo_recomendados
            border-bottom: 1px solid $gris_f6f
            float: left
            padding: 10px
            width: 618px

        li
            border-right: 1px solid $gris_f6f
            float: left
            height: 169px
            padding: 20px 10px 10px
            width: 192px

            .titulo_categoria
                color: $gris_999
                font:
                    size: 13px

            img
                float: left
                margin: 20px 0 0

            .listado_lugares_recomendados
                color: $gris_666
                float: left
                font:
                    size: 12px
                margin: 20px 0 0 10px
                width: 122px

                li
                    border: none
                    height: auto
                    margin: 0 0 10px
                    padding: 0
                    width: 122px

                a
                    @include link_azul
                    
                    &:hover
                        @include link_azul_hover

        .ultima_categoria
            border: none
    
    /* Promociones en Pedidos Online */
    .caja_promociones
        border: 1px solid $gris_f6f
        color: $gris_666
        float: left
        width: 638px
        margin: 0 0 30px

        .titulo_promociones
            border-bottom: 1px solid $gris_f6f
            float: left
            height: 50px
            width: 638px

            .descuento
                background: url('../images/extras/botones_sprite.png') no-repeat 0 -185px
                float: left
                margin: 10px
                padding: 0 0 0 20px   
                width: 438px
                
            .ver_todos
                @include link_azul
                float: left
                font:
                    size: 12px
                padding: 20px 10px 10px 0
                width: 150px         

        a
            text-decoration: none

        li
            border-right: 1px solid $gris_f6f
            float: left
            height: 130px
            padding: 10px
            width: 192px

            &:hover
                background: url('../images/extras/fondo_link_pedidos.png') no-repeat

            .promocion_delivery_img
                float: left
                width: 50px

            .promocion_delivery_lugar_dias
                float: left
                padding: 0 0 0 10px
                width: 128px

                .promocion_lugar
                    color: $gris_666
                    font:
                        size: 14px
                        weight: bold

                .promocion_dias
                    color: $gris_999
                    font:
                        size: 11px
                    margin: 10px 0 0

            .promocion_delivery_descripcion
                float: left
                padding: 10px 0 0
                width: 188px

                .promocion_icono
                    background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -663px
                    float: left
                    height: 16px
                    width: 16px            

                .promocion_titulo
                    color: $gris_999
                    font:
                        size: 12px
                        weight: bold
                    float: left
                    line-height: 16px
                    margin: 0 0 0 5px
                    width: 167px

        .ultimo_pedido
            border: none

    /* Actividad reciente por ciudad */
    .actividad_reciente
        color: $gris_666
        float: left
        width: 640px

        .encabezado_actividad
            border-bottom: 1px solid $gris_f6f
            float: left
            padding: 0 0 30px
            width: 640px

            .actividad_icono
                background: url('../images/extras/botones_sprite.png') no-repeat 0 -264px
                float: left
                height: 18px
                margin: 5px 0 0
                width: 18px

            h3
                float: left
                margin: 0 0 0 10px
                width: 492px
            
            .ver_mas_actividad
                @include link_azul
                float: left
                font:
                    size: 12px
                margin: 9px 0 0
                text-align: right
                width: 120px

        ul
            float: left
            width: 640px

            li
                border-bottom: 1px solid $gris_f6f
                float: left
                padding: 20px 10px 30px
                width: 618px

                &.last_one
                    border-bottom: none

                .link_usuario
                    float: left
                    width: 50px

                .contenido_actividad
                    float: left
                    margin: 0 0 0 10px
                    width: 558px

                    span
                        color: $gris_999
                        display: block
                        float: left
                        font:
                            size: 11px
                        margin: 0 0 15px
                    p
                        float: left
                        margin: 0 0 15px
                        width: 558px
                        
                        a
                            @include link_azul

                            &:hover
                                @include link_azul_hover

                        span
                            float: none
                            display: inline

                        &.rec_actividad_preview
                            font:
                                size: 12px
                            float: left
                            line-height: 20px
                            margin: 0    
                            width: 558px

                        &.util_actividad
                            width: 555px                        

                .link_lugar
                    float: right

        .ver_mas_actividad_inferior
            @include link_azul
            border-top: 1px solid $gris_f6f
            float: left
            font:
                size: 12px
            padding: 20px 0 30px
            text-align: right
            width: 640px

.sidebar_home
    float: left
    width: 300px

    /* Recomendación Estrella */
    .recomendacion_estrella
        border: 1px solid $gris_f6f
        float: left
        margin: 0 0 30px 0
        width: 298px

        .titulo_estrella
            background: url('../images/extras/botones_sprite.png') no-repeat 0 -239px
            font:
                size: 16px
            height: 26px
            line-height: 28px
            margin: 10px
            padding: 0 0 0 20px

        .informacion
            border-top: 1px solid $gris_f6f
            float: left
            width: 298px

            .imagen_recomendacion
                float: left
                padding: 10px
                width: 298px

                .imagen
                    float: left
                    height: 72px
                    width: 72px

                .textos_usuario
                    float: left
                    margin: 0 0 0 10px
                    width: 197px

                .nombre_usuario
                    @include link_gris_666
                    display: block
                    font:
                        size: 14px
                        weight: bold
                    margin: 0 0 10px

                .invitada_lugar
                    color: $gris_999
                    display: block
                    font:
                        size: 12px
                    line-height: 16px
                    margin: 0 0 10px 0

                    a
                        @include link_azul

                        &:hover
                            @include link_azul_hover
                
        .recomendacion_preview
            color: $gris_999
            float: left
            font:
                size: 12px
            line-height: 18px
            padding: 0px 10px 10px
            width: 278px

            a
                @include link_azul
                
                &:hover
                    @include link_azul_hover

            .tips
                float: left
                font:
                    size: 11px
                    weight: bold
                margin: 20px 0 0
                
    /* Recomendación del Día */
    .recomendacion_dia
        border: 1px solid $gris_f6f
        float: left
        margin: 0 0 30px 0
        width: 298px

        .encabezado
            padding: 10px

        .informacion
            border-top: 1px solid $gris_f6f
            float: left
            width: 298px

            .imagen_estrellas_recomendacion
                float: left
                padding: 10px
                width: 298px

                .imagen
                    float: left
                    height: 72px
                    width: 72px

                .textos_usuario
                    float: left
                    margin: 0 0 0 10px
                    width: 197px


                .nombre_usuario
                    @include link_gris_666
                    display: block
                    font:
                        size: 14px
                        weight: bold
                    margin: 0 0 10px

                .fecha
                    color: $gris_999
                    display: block
                    font:
                        size: 12px
                    margin: 0 0 10px 0
                
        .recomendacion_preview
            color: $gris_999
            float: left
            font:
                size: 12px
            line-height: 18px
            padding: 0px 10px 10px
            width: 278px

            a
                @include link_azul
                
                &:hover
                    @include link_azul_hover

            .tips
                float: left
                font:
                    weight: bold
                margin: 20px 0 0

            .tips_icon
                background: url('../images/extras/botones_sprite.png') no-repeat 0 -213px
                float: left
                height: 10px
                margin: 24px 0 0 5px
                width: 10px  

                &:hover
                    background: url('../images/extras/botones_sprite.png') no-repeat 0 -228px

            .qtip_recomendacion_del_dia
                display: none

    /* Notas y Colaboradores */
    .colaboradores
        border: 1px solid $gris_f6f
        float: left
        margin: 0 0 30px 0
        width: 298px

        .encabezado
            padding: 10px

        img
            float: left
            height: 160px
            width: 135px

        .detalles_nota
            border-bottom: 1px solid $gris_f6f
            border-top: 1px solid $gris_f6f
            float: left
            height: 158px
            width: 163px

            .nombre_colaborador
                background: $gris_faf
                color: $gris_999
                float: left
                font:
                    size: 12px
                text-align: center
                padding: 10px
                width: 143px

            .titulo_nota
                color: $gris_666
                float: left
                font:
                    size: 14px
                margin: 10px

            .texto_nota
                color: $gris_999
                float: left
                font:
                    size: 12px
                line-height: 17px
                margin: 0 10px

                a
                    @include link_azul

                    &:hover
                        @include link_azul_hover
        
        .diapositivas
            float: left
            height: 20px
            padding: 10px
            width: 278px
                
.loogarenos_conectados
    border: 1px solid $gris_f6f
    float: right
    margin: 30px 0
    width: 958px
    
    .encabezado
        padding: 10px
     
    .loogarenos_conectado_ahora
        border-top: 1px solid $gris_f6f
        float: left
        padding: 10px 5px
        width: 948px
                
        li
            float: left
            margin: 0 5px
            width: 180px

            .imagen_usuario
                float: left
                width: 20px

            .nombre_usuario
                @include link_gris_666
                float: left
                font:
                    size: 12px
                    weight: bold
                margin: 4px 0 0 10px
                width: 148px

                &:hover
                    @include link_gris_666_hover

.actividad_extendida
    color: $gris_666

    h3
        padding: 10px
        border-bottom: 1px solid $gris_f6f

    ul
        li
            padding: 10px
            float: left
            border-bottom: 1px solid $gris_f6f
            width: 618px

            &.last_one
                border-bottom: none

            .link_usuario
                float: left

            .contenido_actividad
                float: left
                margin: 0 0 0 10px

                span
                    font-size: 11px
                p
                    margin: 5px 0 0 0
                    

                    &.rec_actividad_preview
                        font-size: 11px    
                        width: 555px
                    &.util_actividad
                        width: 555px                        

            .link_lugar
                float: right