/* Colores */

$amarillo: #FFF08C

$azul: #0066CC
$azul_oscuro: #B2E5FF
$azul_medio: #0099FF
$azul_claro: #66CCFF
$azul_muy_claro: #FAFCFF
$azul_participantes: #D2F2FF

$blanco: #FFF

$gris_faf: #FAFAFC
/* $gris_f6f, anterior #F2F2F6 */
$gris_f6f: #E5E5E5
$gris_ccc: #CCC
$gris_999: #999
$gris_666: #666
$gris_444: #444

$rojo_claro: #FF8A8A
$rojo_medio: #FF5353
$rojo: #F72121

/* Mixin */

@mixin borde_redondeado
    border-radius: 2px
    -o-border-radius: 2px
    -moz-border-radius: 2px
    -webkit-border-radius: 2px

@mixin borde_redondeado_grande
    border-radius: 8px
    -o-border-radius: 8px
    -moz-border-radius: 8px
    -webkit-border-radius: 8px

@mixin gradiente_botones ($color_1, $color_2)
    background-image: linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -o-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -moz-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -webkit-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -ms-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, $color_1), color-stop(0.7, $color_2))
    border: 1px solid $color_1
    cursor: pointer

@mixin link_azul
    color: $azul !important
    text-decoration: none

@mixin link_azul_hover
    color: $azul !important
    text-decoration: underline

@mixin link_blanco
    color: $blanco !important
    text-decoration: none

@mixin link_blanco_hover
    color: $blanco !important
    text-decoration: underline

@mixin link_gris_444
    color: $gris_444 !important
    text-decoration: none

@mixin link_gris_444_hover
    color: $gris_444 !important
    text-decoration: underline 

@mixin link_gris_666
    color: $gris_666 !important
    text-decoration: none

@mixin link_gris_666_hover
    color: $gris_666 !important
    text-decoration: underline 

@mixin link_gris_999
    color: $gris_999 !important
    text-decoration: none

@mixin link_gris_999_hover
    color: $gris_999 !important
    text-decoration: underline 

@mixin sombra_fuerte
    -box-shadow: -3px 3px 1px $gris_eee
    -o-box-shadow: -3px 3px 1px $gris_eee
    -moz-box-shadow: -3px 3px 1px $gris_eee
    -webkit-box-shadow: -3px 3px 1px $gris_eee

@mixin box-sizing
    box-sizing: border-box
    -o-box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box


/* Home sitio */

.saludos_premios
    background: $azul_muy_claro url('../images/extras/borde_relieve.png') no-repeat 0 81px
    border-top: 1px solid $azul_oscuro
    color: $gris_666
    float: left
    font:
        size: 13px
    height: 86px
    line-height: 16px
    margin: 0 0 30px
    width: 960px

    .mensaje
        border-left: 1px solid $azul_oscuro
        float: left
        padding: 25px 0 24px 10px
        width: 677px

        p
            color: $gris_999
            display: block
            margin: 5px 0 0

        .texto_destacado
            color: $azul_claro

    .flecha
        background: url('../images/extras/flecha_grande.png') no-repeat 0 0
        float: left
        height: 81px
        width: 31px
        
    .registro
        border-right: 1px solid $azul_oscuro
        float: left
        height: 51px
        padding: 15px 10px
        text-align: center
        width: 220px

        a
            @include link_azul

            &:hover
                @include link_azul_hover

        .boton_fb
            background: url('../images/extras/botones_sprite.png') no-repeat -1px -155px
            border: 0px
            cursor: pointer
            height: 30px
            margin: 0 10px 5px
            width: 200px

/* Concursos */
.campanas_concursos
    color: $gris_666
    float: left
    margin: 0 0 30px
    width: 960px
    
    .concursos_titulo
        background: url('../images/extras/titulos_pattern.gif') $blanco repeat 0 0
        float: left
        height: 30px
        padding: 10px
        width: 940px

        .titulo
            float: left
            margin: 0 20px 0 0
            width: 735px

            img
                float: left
                margin: 4px 5px 4px 0

        a
            background: url('../images/extras/concursos_todos.png') no-repeat 0 0
            float: left
            height: 26px
            margin: 2px 0
            width: 185px
            
    .concursos_slide
        background: $gris_faf
        border-bottom: 1px solid $gris_f6f
        float: left
        padding: 10px
        width: 940px

        .concursos_selector
            float: left
            
            .prev_concurso
                background: url('../images/home/concursos_anterior.gif') no-repeat 0 0
                border: 0px
                cursor: pointer
                float: left
                height: 250px
                width: 26px

                &:hover
                    background: url('../images/home/concursos_anterior_hover.gif') no-repeat 0 0

            .next_concurso
                background: url('../images/home/concursos_siguiente.gif') no-repeat 0 0
                border: 0px
                cursor: pointer
                float: left
                height: 250px
                width: 26px            

                &:hover
                    background: url('../images/home/concursos_siguiente_hover.gif') no-repeat 0 0

        .bx-wrapper
            float: left
            margin: 0 10px
            width: 868px !important
                
            .bx-window
                width: 868px !important

                a
                    background: url('../images/extras/borde_relieve_concursos.gif') no-repeat 0px 240px
                    border-top: 6px solid $gris_666
                    float: left
                    height: 245px
                    margin: 0 10px 0 0
                    width: 206px !important

                    &:hover
                        background: url('../images/extras/borde_relieve_concursos_over.gif') no-repeat 0px 240px

                    li
                        border-bottom: 1px solid $gris_ccc
                        border-left: 1px solid $gris_ccc
                        border-right: 1px solid $gris_ccc
                        float: left
                        height: 239px
                        width: 204px

                        .lugar_concurso
                            background: $gris_f6f
                            color: $gris_666
                            font:
                                size: 12px
                                weight: bold
                            padding: 8px
                            text:
                                align: center
                                shadow: 1px 1px 1px $blanco

                        .sorteo_concurso
                            color: $gris_666
                            font:
                                size: 13px
                            line-height: 18px
                            padding: 10px
                            text:
                                align: center
                        
                        .cantidad_participantes_izq
                            background: url('../images/extras/borde_izq_participantes.png') no-repeat 0 0
                            float: left
                            height: 26px
                            margin: 0 0 0 18px
                            width: 6px

                        .cantidad_participantes_der
                            background: url('../images/extras/borde_der_participantes.png') no-repeat 0 0
                            float: left
                            height: 26px
                            margin: 0 18px 0 0
                            width: 6px

                        .cantidad_participantes
                            background: $azul_participantes
                            color: $gris_666
                            font:
                                size: 11px
                            float: left
                            height: 12px
                            padding: 7px 5px
                            text-align: center

                            .numero_participantes
                                background: $gris_666
                                border-radius: 8px
                                -o-border-radius: 8px
                                -moz-border-radius: 8px
                                -webkit-border-radius: 8px
                                color: $blanco
                                padding: 3px 6px

.contenido_home
    float: left
    font:
        size: 14px
    margin: 0 20px 0 0
    width: 640px

    /* Lugares recientemente recomendados */
    .lugares_recomendados
        color: $gris_666
        float: left
        margin: 0 0 30px
        width: 638px

        .titulo_recomendados
            float: left
            padding: 10px
            width: 618px

        .caja_lugares_recomendados
            border: 1px solid $gris_f6f
            float: left
            width: 636px
            

            li
                border-right: 1px solid $gris_f6f
                float: left
                height: 169px
                padding: 20px 10px 10px
                width: 192px

                .titulo_categoria
                    color: $gris_999
                    font:
                        size: 13px
                    float: left
                    text-decoration: none
                    width: 192px

                img
                    float: left
                    margin: 20px 0 0

                .listado_lugares_recomendados
                    color: $gris_666
                    float: left
                    font:
                        size: 12px
                    margin: 20px 0 0 10px
                    width: 122px

                    li
                        border: none
                        height: auto
                        line-height: 14px
                        margin: 0 0 8px
                        padding: 0
                        width: 122px

                        .numeracion
                            float: left
                            width: 15px

                        .ultimo_lugar_recomendado
                            @include link_azul
                            float: left
                            width: 107px
                                                
                            &:hover
                                @include link_azul_hover

            .ultima_categoria
                border: none
                padding: 20px 9px 10px
    
    /* Promociones en Pedidos Online */
    .caja_promociones
        border: 1px solid $gris_f6f
        color: $gris_666
        float: left
        width: 638px
        margin: 0 0 30px

        .titulo_promociones
            border-bottom: 1px solid $gris_f6f
            float: left
            height: 50px
            width: 638px

            .descuento
                background: url('../images/extras/botones_sprite.png') no-repeat 0 -185px
                float: left
                margin: 10px
                padding: 0 0 0 20px   
                width: 438px
                
            .ver_todos
                @include link_azul
                float: left
                font:
                    size: 12px
                padding: 20px 10px 10px 0
                width: 150px         

        a
            text-decoration: none

        li
            border-right: 1px solid $gris_f6f
            float: left
            height: 130px
            padding: 10px
            width: 192px

            &:hover
                background: url('../images/extras/fondo_link_pedidos.png') no-repeat

            .promocion_delivery_img
                float: left
                width: 50px

            .promocion_delivery_lugar_dias
                float: left
                padding: 0 0 0 10px
                width: 128px

                .promocion_lugar
                    color: $gris_666
                    font:
                        size: 14px
                        weight: bold

                .promocion_dias
                    color: $gris_999
                    font:
                        size: 11px
                    margin: 10px 0 0

            .promocion_delivery_descripcion
                float: left
                padding: 10px 0 0
                width: 188px

                .promocion_icono
                    background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -663px
                    float: left
                    height: 16px
                    width: 16px            

                .promocion_titulo
                    color: $gris_999
                    font:
                        size: 12px
                        weight: bold
                    float: left
                    line-height: 16px
                    margin: 0 0 0 5px
                    width: 167px

        .ultimo_pedido
            border: none

    /* Actividad reciente por ciudad */
    .actividad_reciente
        color: $gris_666
        float: left
        width: 640px

        .encabezado_actividad
            border-bottom: 1px solid $gris_f6f
            float: left
            width: 640px

            .actividad_icono
                background: url('../images/extras/botones_sprite.png') no-repeat 0 -264px
                float: left
                height: 18px
                margin: 15px 0 0 10px
                width: 18px

            h4
                float: left
                margin: 10px 0 0 10px
                width: 472px
            
            .ver_mas_actividad
                @include link_azul
                float: left
                font:
                    size: 12px
                margin: 19px 10px 0 0
                text-align: right
                width: 120px

        ul
            float: left
            width: 640px

            li
                border-bottom: 1px solid $gris_f6f
                float: left
                padding: 20px 10px 30px
                width: 618px

                &.last_one
                    border-bottom: none

                .link_usuario
                    float: left
                    width: 50px

                .contenido_actividad
                    float: left
                    margin: 0 0 0 10px
                    width: 558px

                    span
                        color: $gris_999
                        display: block
                        float: left
                        font:
                            size: 11px
                        margin: 0 0 15px
                    p
                        float: left
                        margin: 0 0 15px
                        width: 558px
                        
                        a
                            @include link_azul

                            &:hover
                                @include link_azul_hover

                        span
                            float: none
                            display: inline

                        &.rec_actividad_preview
                            font:
                                size: 12px
                            float: left
                            line-height: 20px
                            margin: 0    
                            width: 558px

                        &.util_actividad
                            width: 555px                        

                .link_lugar
                    float: right

        .ver_mas_actividad_inferior
            @include link_azul
            border-top: 1px solid $gris_f6f
            float: left
            font:
                size: 12px
            padding: 20px 0 30px
            text-align: right
            width: 640px

.sidebar_home
    float: left
    width: 300px

    /* Recomendación Estrella */
    .recomendacion_estrella
        float: left
        margin: 0 0 30px 0
        width: 298px

        .titulo_estrella
            color: $gris_666
            background: url('../images/extras/botones_sprite.png') no-repeat 0 -239px
            font:
                size: 16px
                weight: bold
            height: 26px
            line-height: 28px
            margin: 10px
            padding: 0 0 0 20px
            text-shadow: 1px 1px 1px $blanco

        .informacion
            border-left: 1px solid $gris_f6f
            border-right: 1px solid $gris_f6f
            border-top: 1px solid $gris_f6f
            float: left
            width: 296px

            .imagen_recomendacion
                float: left
                padding: 10px
                width: 298px

                .imagen
                    background: url('../images/extras/golden_frame.png') no-repeat 0 0
                    float: left
                    height: 72px
                    padding: 4px 0 0 4px
                    width: 72px

                .textos_usuario
                    float: left
                    margin: 0 0 0 10px
                    width: 197px

                .nombre_usuario
                    @include link_gris_666
                    display: block
                    font:
                        size: 14px
                        weight: bold
                    margin: 0 0 10px

                .invitada_lugar
                    color: $gris_999
                    display: block
                    font:
                        size: 12px
                    line-height: 16px
                    margin: 0 0 10px 0

                    a
                        @include link_azul

                        &:hover
                            @include link_azul_hover
                
        .recomendacion_preview
            border-bottom: 1px solid $gris_f6f
            border-left: 1px solid $gris_f6f
            border-right: 1px solid $gris_f6f
            color: $gris_999
            float: left
            font:
                size: 12px
            line-height: 18px
            padding: 0px 10px 10px
            width: 276px

            a
                @include link_azul
                
                &:hover
                    @include link_azul_hover

            .tips
                float: left
                font:
                    size: 11px
                    weight: bold
                margin: 20px 0 0
                
    /* Recomendación del Día */
    .recomendacion_dia
        float: left
        margin: 0 0 30px 0
        width: 298px

        .encabezado
            padding: 10px

        .informacion
            border-left: 1px solid $gris_f6f
            border-right: 1px solid $gris_f6f
            border-top: 1px solid $gris_f6f
            float: left
            width: 296px

            .imagen_estrellas_recomendacion
                float: left
                padding: 10px
                width: 298px

                .imagen
                    float: left
                    height: 72px
                    width: 72px

                .textos_usuario
                    float: left
                    margin: 0 0 0 10px
                    width: 197px


                .nombre_usuario
                    @include link_gris_666
                    display: block
                    font:
                        size: 14px
                        weight: bold
                    margin: 0 0 10px

                .fecha
                    color: $gris_999
                    display: block
                    font:
                        size: 12px
                    margin: 0 0 10px 0
                
        .recomendacion_preview
            border-bottom: 1px solid $gris_f6f
            border-left: 1px solid $gris_f6f
            border-right: 1px solid $gris_f6f
            color: $gris_999
            float: left
            font:
                size: 12px
            line-height: 18px
            padding: 0px 10px 10px
            width: 276px

            a
                @include link_azul
                
                &:hover
                    @include link_azul_hover

            .tips
                float: left
                font:
                    weight: bold
                margin: 20px 0 0

            .tips_icon
                background: url('../images/extras/botones_sprite.png') no-repeat 0 -213px
                float: left
                height: 10px
                margin: 24px 0 0 5px
                width: 10px  

                &:hover
                    background: url('../images/extras/botones_sprite.png') no-repeat 0 -228px

            .qtip_recomendacion_del_dia
                display: none

    /* Notas y Colaboradores */


    .colaboradores
        float: left
        margin: 0 0 30px 0
        width: 298px
        overflow: hidden

        .encabezado
            padding: 10px

        .slider li
            visibility: hidden
        
        .bx-window
            border-left: 1px solid $gris_f6f
            border-right: 1px solid $gris_f6f
            width: 296px !important

        img
            border-bottom: 1px solid $gris_f6f
            border-top: 1px solid $gris_f6f
            float: left
            height: 158px
            width: 135px

        .detalles_nota
            border-bottom: 1px solid $gris_f6f
            border-top: 1px solid $gris_f6f
            float: left
            height: 158px
            width: 163px

            .nombre_colaborador
                background: $gris_faf
                color: $gris_999
                float: left
                font:
                    size: 12px
                text-align: center
                padding: 10px
                *padding: 10px 4px
                width: 143px
                *width: 155px

            .titulo_nota
                color: $gris_666
                float: left
                font:
                    size: 14px
                line-height: 18px
                margin: 10px
                *margin: 10px 4px
                text-decoration: none

                &:hover
                    text-decoration: underline

            .texto_nota
                color: $gris_999
                float: left
                font:
                    size: 12px
                line-height: 16px
                margin: 0 10px
                *margin: 0 4px

                a
                    @include link_azul

                    &:hover
                        @include link_azul_hover

    .pages
        border-bottom: 1px solid $gris_f6f
        border-left: 1px solid $gris_f6f
        border-right: 1px solid $gris_f6f
        padding: 14px
        text-align: center

    .pages li
        display: inline

        .slide-change
            width: 8px
            height: 8px
            display: inline-block
            *zoom: 1
            *display: inline
            cursor: pointer
            background: url('../images/extras/boton-colaboradores-inactivo.png') no-repeat center
        
        .active
            background: url('../images/extras/boton-colaboradores-activo.png') no-repeat center


.loogarenos_conectados
    float: right
    margin: 30px 0
    width: 958px
    
    .encabezado
        padding: 10px
     
    .loogarenos_conectado_ahora
        border: 1px solid $gris_f6f
        float: left
        padding: 10px 5px
        width: 946px
                
        li
            float: left
            height: 35px
            line-height: 12px
            margin: 10px 5px
            width: 179px

            .imagen_usuario
                float: left
                width: 20px

            .nombre_usuario
                @include link_gris_666
                float: left
                font:
                    size: 12px
                    weight: bold
                margin: 4px 0 0 10px
                width: 148px

                &:hover
                    @include link_gris_666_hover

/* Actividad reciente extendida por ciudad */
.actividad_extendida
    color: $gris_666
    float: left
    width: 640px

    .encabezado_actividad
        border-bottom: 1px solid $gris_f6f
        float: left
        padding: 0 0 30px
        width: 640px

        .actividad_icono
            background: url('../images/extras/botones_sprite.png') no-repeat 0 -264px
            float: left
            height: 18px
            margin: 5px 0 0
            width: 18px

        h1
            float: left
            margin: 0 0 0 10px
            width: 412px
        
        .filtrar_actividad
            float: left
            font:
                size: 12px
            margin: 4px 0 0
            text-align: right
            width: 200px

            select
                width: 200px

    ul
        float: left
        width: 640px

        li
            border-bottom: 1px solid $gris_f6f
            float: left
            padding: 20px 10px 30px
            width: 618px

            &.last_one
                border-bottom: none

            .link_usuario
                float: left
                width: 50px

            .contenido_actividad
                float: left
                margin: 0 0 0 10px
                width: 558px

                span
                    color: $gris_999
                    display: block
                    float: left
                    font:
                        size: 11px
                    margin: 0 0 15px
                p
                    float: left
                    margin: 0 0 15px
                    width: 558px
                    
                    a
                        @include link_azul

                        &:hover
                            @include link_azul_hover

                    span
                        float: none
                        display: inline

                    &.rec_actividad_preview
                        font:
                            size: 12px
                        float: left
                        line-height: 20px
                        margin: 0    
                        width: 558px

                    &.util_actividad
                        width: 555px                        

            .link_lugar
                float: right

    .ver_mas_actividad_inferior
        @include link_azul
        border-top: 1px solid $gris_f6f
        float: left
        font:
            size: 12px
        padding: 20px 0 30px
        text-align: right
        width: 640px

.paginacion_actividad
    border-bottom: 1px solid $gris_f6f
    border-top: 1px solid $gris_f6f
    color: $gris_666
    display: block
    float: left
    font:
        size: 12px
    padding: 10px 0
    width: 778px

    p
        float: left
        display: block
        margin: 2px 0 0

    ul
        border: 0px
        float: left
        font:
            size: 12px
        margin: 0 0 0 10px
        padding: 0px
        width: 560px
    
        li
            border: 1px solid $gris_ccc
            float: left
            height: 5px
            margin: 0 0 0 2px
            padding: 2px 5px 8px
        
            a
                @include link_gris_666
        
        .pagina-actual
            background: $azul
            border: 1px solid $azul
            float: left
            height: 5px
            margin: 0 0 0 2px
            padding: 2px 5px 8px

            a
                @include link_blanco