.agregar-lugar
    width: 480px
    float: left

    li
        margin: 4px 0

        &.no-default
            display: none

    label
        width: 90px
        display: inline-block

    span.display-more, span.quitar-info
        font-size: 10px
        display: block
        text-align: right
        margin: 1px 87px 0 0

        a
            color: #0066cc
    
    span.quitar-info
        display: inline-block
        margin: 0

    
    .numero
        width: 80px

    .calle
        width: 177px

    .subcategorias
        width: 400px
        margin: 5px 0 0 92px
        display: none

        li
            display: inline-block
            margin: 1px
            
            label
                display: inline-block
                width: 170px
                font-size: 10px  
                line-height: 10px
                float: left

                span:hover
                    border-bottom: 1px dotted #0066cc
                
    .caracteristicas
        width: 400px
        margin: -20px 0 0 93px

        ul
            li
                display: inline-block
                margin: 1px
            
            label
                width: 180px 
                font-size: 10px 

                span:hover
                    border-bottom: 1px dotted #0066cc

.agregar-horarios
    th
        font-weight: bold

    td, th
        width: 10px
        padding: 3px

    td

        select
            width: 80px
        
        label
            position: absolute
            margin: 2px 0 0 4px
            font-size: 10px

.mapa_agregar
    display: block
    height: 500px
    width: 480px
    float: right
    margin-top: 6px

    .mapa_info
        padding: 5px
        width: 180px
        margin: 0 auto 10px
        text-align: center
        display: block
        font-size: 11px

        span
            color: red
            font-weight: bold
            display: block

    .gmaps
        background: #ddd
        height: 350px
        width: 478px
        display: block
        border: 1px solid #ccc
