/* Colores */

$azul: #0066CC
$blanco: #FFF
$error: #F66
$gris_333: #333
$gris_444: #444
$gris_666: #666
$gris_686: #686868
$gris_999: #999
$gris_ccc: #CCC
$gris_ddd: #DDD
$gris_eee: #EEE
$gris_f6f: #F6F6F6
$rojo: #FF3300

/* Mixin */

@mixin borde_redondeado
    border-radius: 2px
    -o-border-radius: 2px
    -moz-border-radius: 2px
    -webkit-border-radius: 2px

@mixin gradiente_botones ($color_1, $color_2)
    background-image: linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -o-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -moz-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -webkit-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -ms-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, $color_1), color-stop(0.7, $color_2))
    border: 1px solid $color_1
    cursor: pointer

@mixin link_azul
    color: $azul
    text-decoration: none

@mixin link_azul_hover
    color: $azul
    text-decoration: underline

@mixin link_gris_444
    color: $gris_444
    text-decoration: none

@mixin link_gris_444_hover
    color: $gris_444
    text-decoration: underline 

@mixin link_gris_666
    color: $gris_666
    text-decoration: none

@mixin link_gris_666_hover
    color: $gris_666
    text-decoration: underline 

@mixin link_gris_999
    color: $gris_999
    text-decoration: none

@mixin link_gris_999_hover
    color: $gris_999
    text-decoration: underline 

@mixin sombra_fuerte
    -box-shadow: -3px 3px 1px $gris_eee
    -o-box-shadow: -3px 3px 1px $gris_eee
    -moz-box-shadow: -3px 3px 1px $gris_eee
    -webkit-box-shadow: -3px 3px 1px $gris_eee

/* Agregar / Editar Lugar */
    
.agregar-lugar
    font:
        size: 13px
    float: left
    width: 510px

    li
        display: block
        float: left
        margin: 0 0 15px 0

        &.no-default
            display: none

        span
        
            a
            
            .cargar_mapa
                @include gradiente_botones (#FF3300, #FF6600)
                @include borde_redondeado
                color: $blanco
                display: block
                font:
                    size: 13px
                    weight: bold
                height: 14px
                padding: 8px 10px
                text-shadow: 1px 1px 1px $gris_444
                width: 80px

                &:hover
                    @include gradiente_botones (#FF4400, #FF7700)
                    color: $blanco
                    height: 14px
                    padding: 8px 10px
                    text-decoration: none
                    text-shadow: 1px 1px 1px $gris_444
                    width: 80px
    
    .lugar-existe
        @include borde_redondeado
        border: 1px solid $gris_ccc
        display: none
        font:
            size: 11px
        float: left
        margin: 10px 10px 0 100px
        padding: 10px
        width: 348px
   
        h5
            color: $rojo
            font:
                size: 13px
                weight: bold
            line-height: 18px
            margin: 0 0 15px 0
        
        p
            font:
                size: 12px
            text-align: left

            a
                @include link_azul
                font:
                    weight: bold

                &:hover
                    @include link_azul_hover
                    font:
                        weight: bold

    label
        display: block
        float: left
        margin: 3px 10px 3px 0
        width: 100px

    .label_numero
        margin: 3px 0 3px 5px
        width: 30px

    .subcategoria_titulo
        float: left
        line-height: 18px
        margin: 15px 10px 0 0
        width: 100px

    .alinear_subcategorias
        float: left
        margin: 15px 10px 0 0
        width: 390px

    .lista_subcategorias
        float: left
        margin: 0 10px 0 0
        width: 185px

    .subcategoria
        float: left
        font:
            size: 11px
        line-height: 13px
        margin: 0 0 10px 0
        width: 200px

    .subcategoria_input
        float: left
        height: 12px
        margin: 1px 0
        width: 12px
    
    .subcategoria_span
        float: left
        margin: 0 0 0 5px
        width: 180px

    input
        border: 1px solid $gris_999
        float: left
        height: 20px
        padding: 3px 5px
        width: 290px
        
        &:hover
            border: 1px solid $gris_444

        &:focus
            border: 1px solid $azul
    
    select
        border: 1px solid $gris_999
        float: left
        height: 26px
        padding: 3px 5px
        width: 300px

    .quitar_info
        display: block
        float: left
        margin: 7px 0 7px 10px

        a
            @include link_azul

            &:hover
                @include link_azul_hover

    .agregar_info
        display: block
        font:
            size: 11px
        float: left
        margin: 0 0 0 110px

        a
            @include link_azul

            &:hover
                @include link_azul_hover

    .calle
        display: block
        float: left
        width: 160px
    
    .numero
        display: block
        float: left
        width: 80px

    .codigo_area
        color: $gris_ccc
        display: block
        float: left
        font:
            size: 18px
        margin: 6px 5px 6px 0
        width: 35px

    .telefono
        display: block
        float: left
        width: 250px

    .horario
        display: block
        float: left
        margin: 7px 0
        width: 20px

    .horario_tip
        display: block
        float: left
        font:
            size: 11px
        margin: 8px 0
        width: 360px

    table
        margin: 0 10px 0 110px
        width: 580px

        th, td
            float: left
            font:
                weight: normal
            text-align: left
            padding: 0 0 5px 0
            width: 85px

            &.horario-pm
                display: none
        
        .th-doble
            float: left
            width: 170px
        
        td

            select
                height: 20px
                width: 75px

        .jornada-doble
            float: left
            width: 150px

            .jornada-doble-checkbox
                float: left
                margin: 3px 0
                width: 15px

            .jornada-doble-tip
                float: left
                font:
                    size: 11px
                padding: 4px 0 4px 5px
                width: 130px
        
        tr
            float: left
            width: 580px
        
        .agregar-horarios-tip
            font:
                size: 11px
            line-height: 18px
            width: 580px

        .separacion_horario
            border-bottom: 1px solid $gris_ccc
            float: left
            margin: 0 0 10px 0
            width: 580px
            
    .guardar-datos
        @include gradiente_botones (#FF3300, #FF6600)
        @include borde_redondeado
        color: $blanco
        display: block
        font:
            size: 13px
            weight: bold
        height: 35px
        margin: 0 0 0 110px
        padding: 8px 10px
        text-shadow: 1px 1px 1px $gris_444
        width: 140px

        &:hover
            @include gradiente_botones (#FF4400, #FF7700)
            color: $blanco
            height: 35px
            padding: 8px 10px
            text-decoration: none
            text-shadow: 1px 1px 1px $gris_444
            width: 140px

    .caracteristica_titulo
        float: left
        line-height: 18px
        margin: 15px 10px 0 0
        width: 100px

    .alinear_caracteristicas
        float: left
        margin: 15px 10px 0 0
        width: 390px

    .lista_caracteristicas
        float: left
        margin: 0 10px 0 0
        width: 185px

    .caracteristica
        float: left
        font:
            size: 11px
        line-height: 13px
        margin: 0 0 10px 0
        width: 200px

    .caracteristica_input
        float: left
        height: 12px
        margin: 1px 0
        width: 12px

    .caracteristica_span
        float: left
        margin: 0 0 0 5px
        width: 180px

    .obligatorio_tip
        display: block
        float: left
        font:
            size: 13px
        margin: 10px 0 20px 110px
        width: 400px

/* Agregar mapa */

.mapa
    display: block
    float: left
    height: 500px
    width: 450px

    .mapa_ubicacion
        display: block
        font-size: 11px
        margin: 0 auto 10px
        text-align: center
        padding: 5px
        width: 180px

        span
            color: red
            font-weight: bold
            display: block

    .gmaps
        background: #ddd
        border: 1px solid $gris_ccc
        display: block
        height: 350px
        width: 448px

/* Ficha lugares */

.lugar_info
    border: 1px solid $gris_f6f
    border-bottom: 1px solid $gris_ccc
    float: left
    padding: 20px
    width: 598px

    .titulo_lugar
        display: block
        float: left
        font:
            size: 24px
        margin: 0 0 15px 0
        width: 598px

    .estrellas
        display: block
        float: left
        margin: 0 0 20px 0
        width: 598px

    .n_recomendaciones
        font:
            size: 11px
            style: italic
    
    .foto_lugar_box
        font:
            size: 12px
        float: left
        line-height: 16px
        width: 146px

        .foto_lugar
            @include sombra_fuerte
            border: 1px solid $gris_ccc
            display: block
            float: left
            margin: 0 0 20px 0
            padding: 7px

            a
                display: block
                float: left
                height: 130px
                width: 130px
    
    .datos_principales_lugar
        float: left
        margin: 0 0 0 10px
        width: 442px
        
        .direccion_lugar
            display: block
            float: left
            font:
                size: 16px
            margin: 0 0 20px 0
            width: 442px

        .telefono_lugar
            background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -51px
            display: block
            float: left
            font:
                size: 14px
            height: 15px
            margin: 0 0 20px 0
            padding: 0 0 0 25px
            width: 442px

        .url_lugar
            display: block
            float: left
            font:
                size: 14px
            margin: 0 0 20px 0
            width: 442px
        
        .redes_sociales_lugar
            display: block
            float: left
            margin: 0 0 20px 0
            width: 442px

            a

            .facebook_lugar
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -71px
                display: inline-block
                float: left
                height: 16px
                width: 16px
                
            .twitter_lugar
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -92px
                display: inline-block
                float: left
                height: 16px
                margin: 0 0 0 10px
                width: 16px

        .precio_lugar
            display: block
            float: left
            font:
                size: 14px
            margin: 0 0 20px 0
            width: 442px

            .precio_tip
                color: $gris_686

    .datos_secundarios_lugar
        float: left
        margin: 20px 0 0 0
        width: 598px

        .subtitulos_lugar
            display: block
            font:
                size: 11px
            margin: 3px 0 4px 0

        .minusculas
            text-transform: lowercase

        .primero_en_recomendar_lugar
            background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -113px
            display: block
            float: left
            font:
                size: 11px
            height: 16px
            padding: 2px 0 0 20px
            width: 126px

            a
                @include link_azul

                &:hover
                    @include link_azul_hover

        .categoria_lugar
            display: block
            float: left
            font:
                size: 12px
            margin: 0 0 0 10px
            width: 216px

            .categoria_lugar_box
                display: block
                float: left
                margin: 0 0 10px 0
                width: 216px

            .horario_lugar_box
                display: block
                float: left
                width: 216px

            a
                @include link_azul

                &:hover
                    @include link_azul_hover

        .sector_lugar
            display: block
            float: left
            font:
                size: 12px
            margin: 0 0 0 10px
            width: 216px

            .sector_lugar_box
                display: block
                float: left
                margin: 0 0 10px 0
                width: 216px

            .subcategoria_lugar_box
                display: block
                float: left
                width: 216px

            a
                @include link_azul

                &:hover
                    @include link_azul_hover

    .caracteristicas_lugar
        display: block
        float: left
        margin: 20px 0 0 0
        width: 598px

        ul.caracteristicas_lugar_listado
            display: block
            float: left
            width: 608px
            
            li
                font:
                    size: 11px
                display: inline-block
                margin: 0 10px 10px 0
                width: 139px

            .aire-acondicionado
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -176px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px

            .apto-para-ninos
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -260px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

            .delivery
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -155px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px

            .descuentos-en-pedido-online
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -533px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

            .discapacitados
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -323px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

            .estacionamiento-autos
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -344px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

            .estacionamiento-bicicletas
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -449px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

            .fumadores
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -134px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px

            .gay-friendly
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -407px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

            .happy-hour
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -428px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

            .no-fumadores
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -218px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

            .pago-con-cheque-de-restaurante
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -197px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

            .pago-con-redcompra
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -281px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

            .pago-con-tarjeta
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -470px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

            .para-llevar
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -239px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

            .pedido-online
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -512px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

            .reserva
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -491px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

            .reserva-online
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -386px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

            .terraza
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -365px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

            .wifi
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -302px
                display: block
                float: left
                height: 16px
                padding: 2px 0 0 20px
                width: 119px                        

.actividad_lugar
    background: $gris_f6f
    border-bottom: 1px solid $gris_ccc
    display: block
    float: left
    height: 50px
    padding: 0 20px
    width: 600px

    .flota_derecha
        float: right
            
    .recomienda_lugar
        background: url('../images/extras/botones_ficha_lugar.png') no-repeat 0 0
        display: block
        float: left
        height: 30px
        margin: 10px 0
        width: 160px      
        
    .quiero_ir_lugar
        background: url('../images/extras/botones_ficha_lugar.png') no-repeat -160px 0
        display: block
        float: left
        height: 21px
        margin: 15px 0px 14px 10px
        width: 85px 
    
    .quiero_ir_valor
        background: $gris_999
        color: $blanco
        display: block
        font:
            size: 11px
            weight: bold
        float: left
        height: 10px
        margin: 15px 0
        text-shadow: 1px 1px 1px $gris_333
        padding: 4px 5px 6px

    .estuve_alla_lugar
        background: url('../images/extras/botones_ficha_lugar.png') no-repeat -262px 0
        display: block
        float: left
        height: 21px
        margin: 15px 0px 14px 10px
        width: 101px      

    .estuve_alla_valor
        background: $gris_999
        color: $blanco
        display: block
        font:
            size: 11px
            weight: bold
        float: left
        height: 10px
        margin: 15px 0
        text-shadow: 1px 1px 1px $gris_333
        padding: 4px 5px 6px

    .favoritos_lugar    
        background: url('../images/extras/botones_ficha_lugar.png') no-repeat -385px 0
        display: block
        float: left
        height: 21px
        margin: 15px 0px 14px 10px
        width: 90px      

    .favoritos_valor
        background: $gris_999
        color: $blanco
        display: block
        font:
            size: 11px
            weight: bold
        float: left
        height: 10px
        margin: 15px 0
        text-shadow: 1px 1px 1px $gris_333
        padding: 4px 5px 6px

.opciones_lugar
    border: 1px solid $gris_f6f
    display: block
    float: left
    margin: 10px 0 0
    width: 638px

    ul.opciones_lugar_f6f
        display: block
        float: left
        padding: 15px 20px
        width: 598px

        li
            font:
                size: 11px
            display: inline
            margin: 0 15px 0 0

            a
                @include link_gris_666
                color: $gris_666 !important

                &:hover
                    @include link_gris_666_hover

            .dueno_lugar
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -3px
                height: 10px
                padding: 0 0 0 12px
                width: 10px

            .editar_lugar
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -19px
                height: 10px
                padding: 0 0 0 13px
                width: 10px

            .cerro_lugar
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -19px
                height: 10px
                padding: 0 0 0 13px
                width: 10px

            .compartir_lugar
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -34px
                height: 10px
                padding: 0 0 0 13px
                width: 10px
            
            .imprimir_lugar
                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -19px
                height: 10px
                padding: 0 0 0 13px
                width: 10px

/* Mapa ficha lugar */

.mapa_sidebar
    float: left
    height: 300px
    margin: 0 0 20px 0
    width: 300px    

/* Recomendaciones */

.titulo_recomendaciones
    display: block
    float: left
    font:
        size: 20px
    margin: 0 0 20px 0
    padding: 30px 0 0
    width: 640px

.ordenar_por_recomendaciones
    float: left
    font:
        size: 14px
    margin: 0 0 20px 0
    width: 640px

    li
        display: inline-block
        float: left
        margin: 0 5px 0 0

.resultados_por_pagina
    float: left
    margin: 0 0 30px 0
    width: 640px

    .seleccionar_resultados_por_pagina
        float: left
        width: 45px

    .resultados_por_pagina_txt
        float: left
        font:
            size: 11px
        margin: 5px 0 0 5px

.recomendacion
    border-top: 1px solid $gris_f6f
    float: left
    padding: 20px 0
    width: 640px

    .foto_recomendacion
        float: left
        width: 60px

    .texto_recomendacion
        float: left
        margin: 0 0 0 10px
        width: 570px
            
        .nombre_recomendacion
            display: block
            float: left
            font:
                size: 14px
            margin: 0 0 10px 0
            width: 470px
            
        .util_recomendacion
            display: block
            float: left
            font:
                size: 14px
            margin: 0 0 10px 0
            text-align: right
            width: 100px

        .fecha_recomendacion
            color: $gris_999
            display: block
            float: left
            font:
                size: 11px
            margin: 0 0 10px 0
            width: 570px
            
        .estrellas_recomendacion
            display: block
            float: left
            margin: 0 0 20px 0
            width: 570px

        .texto_recomendacion_usuario
            display: block
            float: left
            font:
                size: 14px
            line-height: 22px
            margin: 0 0 20px 0
            width: 570px

        .tags_recomendacion
            display: block
            float: left
            font:
                size: 12px
            line-height: 18px
            margin: 0 0 20px 0
            width: 570px

            a
                @include link_azul

                &:hover
                    @include link_azul_hover

        .opciones_recomendacion
            display: block
            float: left
            font:
                size: 12px
            text-align: right
            width: 570px

            a
                @include link_gris_444

                &:hover
                    @include link_gris_444_hover
        
.paginacion_recomendacion
    border-bottom: 1px solid $gris_f6f
    border-top: 1px solid $gris_f6f
    display: block
    float: left
    font:
        size: 12px
    padding: 10px 0
    width: 640px

/* Otros lugares */

.otros_lugares
    border: 1px solid $gris_f6f
    border-bottom: 0px
    display: block
    float: left
    margin: 0 0 20px 0
    width: 298px
        
    .titulo_otros_lugares
        display: block
        float: left
        font:
            size: 20px
        margin: 20px 10px 10px
        width: 298px

    .otro_lugar
        border-bottom: 1px solid $gris_f6f
        display: block
        float: left
        padding: 20px 10px
        width: 278px

        .otro_lugar_img
            display: block
            float: left
            height: 50px
            width: 50px

        .otro_lugar_info
            display: block
            float: left
            margin: 0 0 0 10px
            width: 218px

    /* AGREGADO POR EL SUR */

    .subcategorias
        width: 400px
        margin: 5px 0 0 92px
        display: none

        li
            display: inline-block
            margin: 1px
            
            label
                display: inline-block
                width: 170px
                font-size: 10px  
                line-height: 10px
                float: left

                span:hover
                    border-bottom: 1px dotted #0066cc
                
    .caracteristicas
        width: 400px
        margin: -20px 0 0 93px

        ul
            li
                display: inline-block
                margin: 1px
            
            label
                width: 180px 
                font-size: 10px 

                span:hover
                    border-bottom: 1px dotted #0066cc

/* Galería de fotos de lugar */
#agregar_foto_lugar
    a
        color: $azul
        &:hover
            @include link_azul_hover
    h1
        border-bottom: 1px solid #ccc
        margin-bottom: 10px
        padding-bottom: 10px
        font-weight: bold
        font-size: 1.4em

    p
        margin-bottom: 30px

    .agregar_paso_1
        p
            font-weight: bold
            margin-bottom: 10px

        ul
            li
                margin: 10px 0
                
                label
                    width: 82px
                    font-size: 11px

                &.opcional
                    display: none

                a
                    font-size: 11px


    .agregar_paso_2
        p
            font-weight: bold
            margin-bottom: 20px

        ul
            li
                margin: 10px 0
                padding-left: 36px
                padding-bottom: 20px

                img
                    float: left
                    border: 1px solid #444
                    border-radius: 2px
                    -moz-border-radius: 2px
                    padding: 1px

                label
                    display: block
                    margin-left: 60px
                    font-size: 11px
                    line-height: normal

                input
                    &[type=text]
                        margin-left: 10px
                        width: 362px

#editar_foto_lugar
    a
        color: $azul
        &:hover
            @include link_azul_hover
    h1
        border-bottom: 1px solid #ccc
        margin-bottom: 10px
        padding-bottom: 10px
        font-weight: bold
        font-size: 1.4em

    ul
        li
            margin: 10px 0
            padding-left: 36px
            padding-bottom: 20px

            img
                float: left
                border: 1px solid #444
                border-radius: 2px
                -moz-border-radius: 2px
                padding: 1px

            label
                display: block
                margin-left: 64px
                font-size: 11px
                line-height: normal

            input
                &[type=text]
                    margin-left: 10px
                    width: 362px
                &[type=submit]
                    margin-left: 64px

#galeria
    a
        color: $azul
        &:hover
            @include link_azul_hover
    h1
        border-bottom: 1px solid #ccc
        margin-bottom: 30px
        padding-bottom: 10px
        font-weight: bold
        font-size: 1.4em

    #contenido-galeria
        float: left
        width: 64.6%

        .foto-galeria
            text-align: center
            margin-bottom: 10px

            img
                cursor: pointer
            
            
        .foto-info
            font-size: 11px
            
            .fecha
                display: block               
            ul
                margin-bottom: 20px

                li
                    &.autor
                        float: left
                    
                    &.opciones
                        float: right  
                        
                    &.anterior
                        float: left
                    &.siguiente
                        float: right




    #sidebar-galeria
        float: right
        width: 31.2%

        .fotos-pagina
            width: 100%
            height: 200px
            border: 1px solid #ccc
            margin: 30px 0 20px 0

        .banner
            width: 100%
            height: 300px
            border: 1px solid #ccc
            
                        
