ul{
	margin:0;
}
p {
	margin:0;
}
#main-usuario a, #menu-usuario a {
	color:#333;
}

#main-usuario li.selected a , #menu-usuario li.selected a {
	color:white;
}

input[type=text], input[type=password]{
	border:1px solid #ccc;
	background:white;
	height:18px;
	line-height:16px;
}

/* Perfil de usuario */

#menu-usuario {
	border-bottom:1px solid #ccc;
	height:32px;
}

#menu-usuario ul {
	float:right;
	border:1px solid #ccc;
	border-bottom-width:0;

}

#menu-usuario ul li{
	border-right:1px solid #ccc;
	height:32px;
	line-height:32px;
	float:left;
}

#menu-usuario ul li a {	
	padding:10px;
}

#menu-usuario ul li.no-right-border {
	border-right-width:0;
}

#main-usuario {
	padding-top:10px;
}

#data-usuario {
	float:left;
	width:22%;
	height:100%;
	border-right:1px solid #ccc;
}

#data-usuario ul {
	margin-bottom:30px;
}

#data-usuario ul li {
	display:block;
	font-size:0.9em;
}

#data-usuario p {
	font-size:0.9em;
	margin-bottom:30px;
}

#image-usuario {
	width:96px;
	height:96px;
	border:1px solid #444;
	border-radius:2px;
	-moz-border-radius:2px;
}

.editar-link {
	font-weight:bold;
	font-size:0.9em;
}

.bold{
	font-weight:bold;
}

#content-usuario {
	width:76%;
	float:right;
}

/* Edición de usuario */

h1.edicion-titulo {
	font-size:1.4em;
	font-weight:bold;
}

#menu-edicion {
	border-bottom:1px solid #ccc;
	height:32px;
	margin-top:20px;
}

#menu-edicion ul {
	float:left;
}

#menu-edicion ul li{
	border:1px solid #ccc;
	border-bottom:none;	
	margin-right:3px;
	height:32px;
	line-height:32px;
	float:left;
}

#menu-edicion ul li a {
	padding:10px;
}

.edicion {
	margin-top:30px;
}

.form-edicion div {
	margin:10px 0;
}

.form-edicion div label {
	width:160px;
	float:left;
	font-size:0.9em;
	margin-top:5px;
}

.form-edicion input[type=radio] {
	float:left;
}

.form-edicion div input[type=text], .form-edicion div input[type=password] {
	width:300px;
}

.edicion-fecha-nacimiento #form_fecha_nacimiento_year {
	width:100px;
}

.edicion-fecha-nacimiento #form_fecha_nacimiento_month {
	width:150px;
}

.edicion-fecha-nacimiento #form_fecha_nacimiento_day {
	width:50px;
}

#form_sexo label {
	margin-top:3px;
	width:auto;
	margin-right:10px;
}

.edicion-fecha-nacimiento select {
	border: 1px solid #ccc;
	line-height:16px;
}

/* Registro de usuario */

#registro-corriente .form-registro div{
	margin:10px 0;
}

#registro-corriente .form-registro div label{
	width:110px;
	float:left;
	font-size:0.8em;
	margin-top:5px;
}

#registro-corriente .form-registro div input[type=text], #registro-corriente .form-registro div input[type=password] {
	width:250px;
}

#registro-facebook .caja-facebook {
	width:458px;
	height:90px;
	background:#ccc;
	border:1px solid black;
	margin-bottom:30px;
}

#registro-facebook .caja-facebook .imagen-registro-facebook {
	float:left;
	width:135px;
	padding:10px;
	height:27px;
}

#registro-facebook .caja-facebook .texto-registro-facebook {
	float:right;
	width:283px;
	padding:10px;
	font-size:0.9em;
}

#registro-facebook .caja-facebook .facebook-boton {
	text-align:center;
	padding:10px;
}

#registro-facebook .caja-facebook .caja-facebook-boton {
	float:left;
	width:100%;
}

/* Login de usuario */

.form-login div {
	margin:10px 0;
}

.form-login div label {
	width:82px;
	float:left;
	font-size:0.8em;
	margin-top:5px;
}

.form-login div input[type=text], .form-login div input[type=password] {
	width:220px;
}

.form-login div input[type=checkbox] {
	float:left;
	margin-right:5px;
}

.form-login div.recordarme span {
	margin-top:2px;
}

#login-registro p.texto-login-registro {
	font-size:0.9em;
}

#login-registro a.registrar-boton {
	margin:10px auto;
	color:black;
	text-decoration:none;
}

#login-registro a.registrar-boton div {
	background:#ccc;
	width:222px;
	height:45px;
	margin:15px auto;
	padding-top: 20px;
	text-align:center;
	-moz-border-radius:3px;
	border-radius:3px;
	font-size:1.2em;
	font-weight:bold;
}

/* Extras */

.errores-form {
	color:red;
	font-size:0.9em;
}

.columna-izquierda {
	float:left;
	width:48%;
	border-right:1px solid #ccc;
}

.columna-derecha {
	float:right;
	width:50%;
}

h3.titulo {
	margin-bottom:30px;
	padding-bottom:10px;
}

div span.tip {
	font-size:0.8em;
	width:260px;
	float:left;
	margin: 0 0 10px 0;
}

div.submit {
	float:left;
}

.placeholder{
	color: #ccc;
}

li.selected{
	background-color:#000066;
	color:white;
	font-weight:bold;
}