/* Colores */

$azul: #0066CC
$azul_claro: #66CCFF
$blanco: #FFF
$error: #F66
$gris_333: #333
$gris_444: #444
$gris_666: #666
$gris_686: #686868
$gris_999: #999
$gris_ccc: #CCC
$gris_ddd: #DDD
$gris_eee: #EEE
$gris_f6f: #F6F6F6
$gris_faf: #FAFAFC
$rojo: #FF3300

/* Mixin */

@mixin borde_redondeado
    border-radius: 2px
    -o-border-radius: 2px
    -moz-border-radius: 2px
    -webkit-border-radius: 2px

@mixin gradiente_botones ($color_1, $color_2)
    background-image: linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -o-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -moz-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -webkit-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -ms-linear-gradient(bottom, $color_1 30%, $color_2 70%)
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, $color_1), color-stop(0.7, $color_2))
    border: 1px solid $color_1
    cursor: pointer

@mixin link_azul
    color: $azul !important
    text-decoration: none

@mixin link_azul_hover
    color: $azul !important
    text-decoration: underline

@mixin link_gris_444
    color: $gris_444 !important
    text-decoration: none

@mixin link_gris_444_hover
    color: $gris_444 !important
    text-decoration: underline 

@mixin link_gris_666
    color: $gris_666 !important
    text-decoration: none

@mixin link_gris_666_hover
    color: $gris_666 !important
    text-decoration: underline 

@mixin link_gris_999
    color: $gris_999 !important
    text-decoration: none

@mixin link_gris_999_hover
    color: $gris_999 !important
    text-decoration: underline 

@mixin sombra_fuerte
    -box-shadow: -3px 3px 1px $gris_eee
    -o-box-shadow: -3px 3px 1px $gris_eee
    -moz-box-shadow: -3px 3px 1px $gris_eee
    -webkit-box-shadow: -3px 3px 1px $gris_eee

.caja_usuario
    float: left
    width: 960px

    .datos_usuario
        border: 1px solid $gris_f6f
        display: block
        float: left
        padding: 20px
        width: 918px

        .imagen_usuario
            float: left
            margin: 0 20px 0 0
            width: 140px

        .nombre_usuario
            float: left
            font:
                size: 25px
                weight: bold
            width: 758px
        
        .datos_principales_usuario
            float: left
            margin: 20px 10px 0 0
            width: 300px

            .fecha_registro
                color: $gris_ccc
                float: left
                font:
                    size: 12px
                width: 300px

            .sexo_usuario_Hombre
                background: #FF3300
                display: block
                float: left
                height: 16px
                margin: 12px 0 0
                width: 16px

            .sexo_usuario_Mujer
                background: #AA3300
                display: block
                float: left
                height: 16px
                margin: 12px 0 0
                width: 16px

            .edad_usuario
                display: block
                float: left
                font:
                    size: 14px
                margin: 13px 0 0 10px
                width: 274px

            .ciudad_pais_usuario
                display: block
                float: left
                font:
                    size: 14px
                margin: 12px 0 0
                width: 300px

            .link_usuario
                display: block
                float: left
                font:
                    size: 14px
                margin: 12px 0 0
                width: 300px

                .facebook_link
                    background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -71px
                    display: inline-block
                    float: left
                    height: 16px
                    margin: 0 10px 0 0
                    width: 16px

                .twitter_link
                    background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -92px
                    display: inline-block
                    float: left
                    height: 16px
                    margin: 0 0 0 10px
                    margin: 0 10px 0 0
                    width: 16px
                
                .url_link
                    @include link_azul
                    display: block
                    float: left
                    height: 16px
                    padding: 0 0 0 20px
                    width: 16px

                    &:hover
                        @include link_azul_hover

    .actividad_usuario_izq
        display: block
        float: left
        font:
            size: 14px
        margin: 20px 10px 0 0
        width: 218px

        .recomendaciones_usuario
            padding: 0 20px 0 0

        .primeras_recomendaciones_usuario
            padding: 10px 20px 0 0

        .imagenes_usuario
            padding: 10px 20px 0 0

        .lugares_usuario
            padding: 10px 20px 0 0

    .actividad_usuario_der
        display: block
        float: left
        margin: 20px 0 0 0
        width: 218px

        .lugares_por_visitar_usuario
            padding: 0 20px 0 0

        .lugares_visitados_usuario
            padding: 10px 20px 0 0

        .lugares_por_recomendar_usuario
            padding: 10px 20px 0 0

        .lugares_favoritos_usuario
            padding: 10px 20px 0 0

.menu_actividad_usuario
    background: $gris_faf
    border-bottom: 1px solid $gris_f6f
    border-top: 1px solid $gris_f6f
    border-right: 1px solid $gris_f6f
    float: left
    margin: 20px 0 0
    padding: 75px 0
    width: 160px

    li
        background: $gris_faf
        border-bottom: 1px solid $gris_f6f
        border-top: 1px solid $gris_f6f
        border-right: 1px solid $gris_f6f
        float: left
        padding: 15px 10px 15px 15px
        width: 135px

        &:hover
            border-bottom: 1px solid $gris_ccc
            border-left: 5px solid $gris_ccc
            float: left
            padding: 15px 10px
            width: 135px

        a
            @include link_gris_999

            &:hover
                @include link_gris_999_hover
                
    .selected
        background: $blanco
        border-bottom: 1px solid $gris_f6f
        border-left: 5px solid $azul_claro
        border-right: 1px solid $blanco
        border-top: 1px solid $gris_f6f
        float: left
        padding: 15px 10px
        width: 135px

        a
            @include link_gris_999
            font:
                weight: bold

            &:hover
                @include link_gris_999_hover
                font:
                    weight: bold

.caja_actividad_usuario
    border-top: 1px solid $gris_f6f
    float: left
    margin: 20px 0 0
    padding: 20px
    width: 759px

.caja_recomendaciones_usuario
    border-top: 1px solid $gris_f6f
    color: gris_444
    float: left
    margin: 20px 0 0
    padding: 20px
    width: 759px

    ul
        border-bottom: 1px solid $gris_f6f
        color: $gris_666
        font:
            size: 14px
        float: left
        list-style: none
        margin: 40px 0 0
        padding: 0 0 20px 0
        width: 651px

        li
            float: left
            margin: 0 5px 0 0

            a
                @include link_azul

                &:hover
                    @include link_azul_hover

            .orden_separacion
                color: $gris_ccc
                margin: 0 5px
    
    .caja_recomendaciones_lugar_usuario
        border-bottom: 1px solid $gris_f6f
        float: left
        display: block
        padding: 30px 0
        width: 651px

        &:hover
            border-bottom: 1px solid $gris_ccc        

        .imagen_recomendaciones_lugar_usuario
            float: left
            display: block
            height: 50px
            width: 50px

        .textos_recomendacion_lugar_usuario
            float: left
            display: block
            margin: 0 0 0 20px
            width: 581px
        
        .nombre_lugar_recomendacion
            color: $gris_444
            display: block
            font:
                size: 14px
            float: left
            width: 581px
        
        .categorias_lugar_recomendacion
            display: block
            font:
                size: 11px
            float: left
            margin: 15px 0 0
            width: 581px
            
            a
                @include link_azul

                &:hover
                    @include link_azul_hover

        .fecha_lugar_recomendacion
            color: $gris_999
            display: block
            font:
                size: 11px
            float: left
            margin: 15px 0 0
            width: 581px

        .estrella_lugar_recomendacion
            display: block
            float: left
            margin: 15px 0 0
            width: 581px

        .texto_lugar_recomendacion
            display: block
            float: left
            font:
                size: 14px
            line-height: 22px
            margin: 20px 0 0
            width: 581px
        
        .tags_lugar_recomendacion
            display: block
            float: left
            font:
                size: 12px
            margin: 30px 0 0
            width: 581px
        
        .caja_opciones_lugar_recomendacion
            display: block
            float: left
            height: 12px
            width: 581px
            margin: 20px 0 0

            .opciones_lugar_recomendacion
                display: none
                float: right
                font:
                    size: 12px

                .editar_lugar_recomendacion
                    background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -19px
                    float: right
                    height: 11px
                    margin: 0 0 0 20px
                    padding: 0 0 0 13px

                    &:hover
                        background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -19px
                        float: right
                        height: 11px
                        margin: 0 0 0 20px
                        padding: 0 0 0 13px

                .borrar_lugar_recomendacion
                    background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -553px
                    float: right
                    height: 11px
                    margin: 0 0 0 20px
                    padding: 0 0 0 13px

                    &:hover
                        background: url('../images/extras/iconos_ficha_lugar_hover.png') no-repeat 0 -553px
                        float: right
                        height: 11px
                        margin: 0 0 0 20px
                        padding: 0 0 0 13px
                                        
                a
                    @include link_gris_444

                    &:hover
                        @include link_gris_444_hover

.caja_fotos_usuario
    border-top: 1px solid $gris_f6f
    float: left
    margin: 20px 0 0
    padding: 20px
    width: 759px

    ul
        color: $gris_666
        font:
            size: 14px
        float: left
        list-style: none
        margin: 40px 0 0
        padding: 0 0 20px 0
        width: 651px

        li
            float: left
            margin: 0 5px 0 0

            a
                @include link_azul

                &:hover
                    @include link_azul_hover

            .orden_separacion
                color: $gris_ccc
                margin: 0 5px

    .caja_fotos_lugar_usuario
        float: left
        display: block
        padding: 30px 0

        .listado_foto_lugar_usuario
            border: 0px
            float: left
            display: block
            margin: 0px
            padding: 0px
            width: 780px
            
            li
                border-bottom: 1px solid $gris_f6f
                display: block
                float: left
                height: 85px
                margin: 0 20px 50px 0
                width: 240px

                &:hover
                    border-bottom: 1px solid $gris_ccc

                .imagen_lugar_perfil_usuario
                    display: block
                    float: left
                    margin: 0 10px 20px 0
                    width: 50px
                
                .textos_imagen_lugar_perfil_usuario
                    display: block
                    float: left
                    width: 180px

                    .nombre_lugar_imagen_lugar_perfil_usuario
                        @include link_gris_444
                        display: block
                        float: left
                        font:
                            size: 12px
                        line-height: 16px
                        width: 180px

                        &:hover
                            @include link_gris_444_hover

                    .fecha_imagen_lugar_perfil_usuario
                        color: $gris_ccc
                        display: block
                        float: left
                        font:
                            size: 11px
                        margin: 5px 0 0
                        width: 180px

                    .caja_opciones_lugar_imagen
                        display: block
                        float: left
                        height: 12px
                        width: 240px
                        margin: 15px 0 0

                        .opciones_lugar_imagen
                            color: $gris_666
                            display: none
                            float: left
                            font:
                                size: 11px

                            .editar_lugar_imagen
                                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -19px
                                float: left
                                height: 11px
                                margin: 0 5px 0 0
                                padding: 0 0 0 13px

                                &:hover
                                    background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -19px

                            .borrar_lugar_imagen
                                background: url('../images/extras/iconos_ficha_lugar.png') no-repeat 0 -553px
                                float: left
                                height: 11px
                                margin: 0 5px 0 0
                                padding: 0 0 0 13px

                                &:hover
                                    background: url('../images/extras/iconos_ficha_lugar_hover.png') no-repeat 0 -553px
                                                    
                            a
                                @include link_gris_666

                                &:hover
                                    @include link_gris_666_hover
                                            
.titulo_accion_usuario
    font:
        size: 20px
        weight: bold











