ul
    margin: 0

.form-edicion
    .editar-usuario
        float:left

        li
            margin: 10px 0

        label
            width: 160px
            display: inline-block
            font-size: 0.9em
            margin-top: 5pxç
        small.errors
            margin-right: 266px

