{% extends "LoogaresCampanaBundle:Layout:base_campanas.html.twig" %}

{% block content %}

<div class="listados_campanas">
	<p class="breadcrumb"><a href="{{ path('_reportes', {'slug': slug}) }}">Inicio</a> » <a href="{{ path('_reporte_campanas', {'slug': slug}) }}">Mis campañas</a> » <span class="selected">Descuentos</span></p>

	<ul class="botones_campana_dscto">
		<li class="boton_be">
			<a href="{{ path('_reporte_concursos_listado', { 'slug':slug, 'id': id }) }}">
				<div class="icono_be">Beneficios Exclusivos</div>
			</a>
		</li>
		<li class="boton_dscto">
			<div class="icono_gc">Descuentos</div>
		</li>
	</ul>

	<div class="descuento_info">
		<div class="descuento_image">
			<div class="valor_descuento">15%</div>
		</div>
		<div class="fecha_y_condiciones">
			<p><strong>Fecha de inicio y término</strong></p>
			<p>Tomar la fecha desde la BD</p><br />
			<p><strong>Condiciones:</strong></p>
			<p>Tomar la información de las condiciones desde la BD</p>
		</div>
		<div class="icono_identificador"></div>
	</div>

	<div class="premiados">
		<p># Premiados</p><br />
		<p>A continuación se detallan todos los Loogareños que estarán recibiendo tus Gift Cards.<br />
			Una vez que un Loogareño ha asistido, marcarlo con el checkbox y hacer click en Gift Card canjeada.</p>
		<ul class="lista_de_ganadores">
		{#% for ganador in ganadores %#}
			<li class="ganador">
				<input type="checkbox" class="checkbox"></input>
				<div class="imagen_usuario">
					<img src="" height="30" width="30" />
				</div>
				<div class="usuario_info">
					<a href="#" target="_blank">Camila Constanza Cerda Acevedo</a>
					<p class="codigo">Código: <strong>lolol</strong></p>
				</div>
			</li>

			<li class="ganador">
				<input type="checkbox" class="checkbox"></input>
				<div class="imagen_usuario">
					<img src="" height="30" width="30" />
				</div>
				<div class="usuario_info">
					<a href="#" target="_blank">Carlos Marcías Lindstrom</a>
					<p class="codigo">Código: <strong>lolol</strong></p>
				</div>
			</li>

			<li class="ganador">
				<input type="checkbox" class="checkbox"></input>
				<div class="imagen_usuario">
					<img src="" height="30" width="30" />
				</div>
				<div class="usuario_info">
					<a href="#" target="_blank">Carla Soto</a>
					<p class="codigo">Código: <strong>lolol</strong></p>
				</div>
			</li>
		{#% endfor %#}
		</ul>

		<a class="boton_canjeada"></a>
	</div>

</div>
{% endblock %}