<script src="{{asset('assets/js/chosen.jquery.min.js')}}"></script>
<script>$(document).ready(function(){$('[name=filtro]').chosen();});</script>
<div class="caja_actividad_usuario">
	<h2 class="titulo_accion_usuario">
		{{(usuario.loggeadoCorrecto is defined and usuario.loggeadoCorrecto) ? 'usuario.actividad.titulo'|transchoice(1) : 'usuario.actividad.titulo'|transchoice(0)~" "~usuario.nombre~" "~usuario.apellido}}
	</h2>
	{% set full = 0 %}
	{% include 'LoogaresUsuarioBundle:Usuarios:actividad_usuario_full.html.twig' %}

</div>