{% include 'LoogaresUsuarioBundle:Usuarios:menu_edicion.html.twig' %}

<div class="caja_edicion_password">

	<form action="" method="post" >
		<div class="form-edicion">	
			<ul class="editar-usuario">
				<li>
					<label>Facebook Connect</label
					<span>
						{% if fbdata == null %}
							{{'usuario.edicion.conexiones.facebook.conectado.texto'|trans}}<br/>
							<a href="" class="facebook_connect">{{'usuario.edicion.conexiones.facebook.conectado.texto_link'|trans}}</a>
							<span class="fb_hidden_button">{{ facebook_login_button({'autologoutlink': false}) }}</span>
						{% else %}
							Actualmente tienes Facebook conectado al corre {{fbdata.email}}
						{% endif %}
					</span>
				</li>
			</ul>
	    </div>		    
	</form>
</div>
