{% extends 'LoogaresUsuarioBundle::layout.html.twig' %}

{% block title %}{% trans %}usuario.login.titulo{% endtrans %}{% endblock %}
{% block content %}
    <div class="columna_izquierda_borde">
        <h1 class="titulo">{% trans %}usuario.login.titulo{% endtrans %}</h3>

        {% include 'LoogaresUsuarioBundle:Usuarios:login_form.html.twig' %}
    </div>

    <div class="columna_derecha">
        <h2 class="titulo">{% trans %}usuario.login.registro.titulo{% endtrans %}</h3>
        <p class="texto_registro">{% trans %}usuario.login.registro.texto{% endtrans %}</p>
        
        <a href="{{path('registroUsuario')}}">
            <div class="boton_registro">{% trans %}usuario.login.registro.boton{% endtrans %}</div>
        </a>

    </div>

{% endblock %}