<body>
    <div style="font-family:Arial,sans-serif">
        <table align="center" cellpadding="0" cellspacing="0" width="600" style="width:600px">
            <tr>
                <td width="160"><img src="/images/mail/logo-loogares.jpg" width="160" height="100" /></td>
                <td valign="middle" width="440"><hr /></td>
            </tr>
            <tr>
                <td style="font-size:12px; color:#000; font-family:Arial,sans-serif" colspan="2">
                    <br />
                    ¡Felicitaciones {{usuario.nombre}} {{usuario.apellido}}!<br />
                    <br />
                    Estás a punto de convertirte en un Loogareño, haz clic <a href="{{url('confirmarUsuario', { 'hash': usuario.hashConfirmacion })}}">acá</a> para confirmar tu cuenta.<br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td style="font-size:11px; color:#999; font-family:Arial,sans-serif" colspan="2">
                    <hr />
                    <br />
                    El equipo de <b><a href="www.loogares.com" style="color:#06f; text-decoration:none">Loogares.com</a></b><br />
                    <br />
                    Por favor no respondas a este mail automático. Si quieres contactarnos escríbenos a
                    <a href="mailto:contacto@loogares.com" style="color:#06f; text-decoration:none">contacto@loogares.com</a><br />
                    <br />
                    &copy; 2010. Loogares.com
                </td>

            </tr>
        </table>
    </div>
</body>