{% extends 'LoogaresUsuarioBundle::layout.html.twig' %}

{% block title %}{{'usuario.olvidar.mensaje.titulo_pag'|trans}} | {{parent()}}{% endblock %}

{% block content %}
<div class="confirmar_registro">
    <h1 class="titulo_gigante">{{'usuario.olvidar.mensaje.titulo'|trans}}</h1>
    <p class="titulo">{% trans %}usuario.olvidar.mensaje.subtitulo{% endtrans %}</p>
    <img src="{{ asset('assets/images/extras/olvidar_password.png') }}" height="193" width="427" />
    <p>
    	{% trans with {'%open_tag%': "<a href="~path('root')~" class='link_azul'>", '%close_tag%' : '</a>'}%}usuario.olvidar.mensaje.inicio{% endtrans %}
    </p>
</div>
{% endblock %}