{% extends 'LoogaresUsuarioBundle::layout.html.twig' %}

{% block title %}Confirma tu cuenta | {{parent()}}{% endblock %}

{% block content %}
	<div>
    <h3>{{usuario.nombre}} {{usuario.apellido}}, ¡Estás a sólo segundos de convertirte en Loogareño!</h3>
    <p>
        <strong>Confírmanos tu cuenta en el E-mail que acabamos de mandarte y estarás listo (revisa la casilla de spam, por si acaso).<br />
        
        ¡Te esperamos!<br /></strong>
        <br />
        Volver a la <a href="/">Página de inicio</a>
    </p>
</div>
{% endblock %}