<div class="caja_lugares_usuario">
<form action="{{ path('accionNotificaciones', {'param': app.security.token.user.slug}) }}" method="post">
<ul>
{% for data in notificaciones %}
	<li>
		{{data.tipoNotificacion.nombre}}
		{% if data.notificacion.estado == 1 %}
			<input type="checkbox" name="notificacion[]" value="{{data.tipoNotificacion.nombre}}" checked="checked"/>
		{% else %}
			<input type="checkbox" name="notificacion[]" value="{{data.tipoNotificacion.nombre}}"/>
		{% endif %}
	</li>
{% endfor %}
</ul>
<input type="submit" value="Guardar"/>
</form>
</div>