<body>
    <div style="font-family: Arial; font-size: 16px;">
        <table align="center" cellpadding="0" cellspacing="0" width="650" style="width:650px">
            <tr>
                <td width="650"><center><img style="margin: 0 0 10px;" src="{{ asset('assets/images/mails/logo_mails.png') }}" width="180" height="128" /></center></td>
            </tr>
            <tr>
                <td style="background: #FFF; border-top: 5px solid #66CCFF; border-bottom: 1px solid #FAFAFC; border-left: 1px solid #FAFAFC; border-right: 1px solid #FAFAFC; box-shadow: 0px 5px 25px #F7F7F7; color: #666; padding: 30px 20px; width: 610px;">
                    <strong>{% trans with {'%nombre%': 'usuario.nombre', '%apellido%' : 'usuario.apellido'}%}usuario.registro.confirmar.mail.titulo{% endtrans %}</strong>
                    <br />
                    <br />
                    {% trans %}usuario.registro.confirmar.mail.texto{% endtrans %}
                    <br />
                    <br />
                    <a style="cursor: pointer;" href=""><img style="margin: 0 220px" src="{{ asset('assets/images/mails/confirmar_cuenta.jpg') }}" height="30" width="166" /></a>
                    <br />
                    <br />
                    <br />
                    <br />
                    {% trans %}usuario.registro.confirmar.mail.texto_bajada{% endtrans %}
                </td>
            </tr>
            <tr>
                <td style="color: #CCC; font-size: 11px; padding: 20px">
                    <br />
                    {% trans with {'%open_tag%': '<b><a href="http://www.loogares.com" style="color: #0066CC; text-decoration: none;">', '%close_tag%' : '</a></b>'}%}usuario.mail.equipo{% endtrans %}<br />
                    <br />
                    {% trans with {'%open_a%': '<a href="mailto:contacto@loogares.com" style="color: #0066CC; text-decoration: none;">', '%close_a%' : '</a>'}%}usuario.mail.contacto{% endtrans %}
                    <br />
                    <br />
                    <span style="display: block; text-align: center;">&copy; {{'usuario.mail.firma'|trans}}</span>
                </td>
            </tr>
        </table>
    </div>
</body>