<body>
    <div style="font-family: Arial; font-size: 14px;">
        <table align="center" cellpadding="0" cellspacing="0" width="650" style="width:650px">
            <tr>
                <td width="650"><center><img style="margin: 0 0 10px;" src="{{ assets.logo }}" width="180" height="128" /></center></td>
            </tr>
            <tr>
                <td style="background: #FFF; border-top: 5px solid #66CCFF; border-bottom: 1px solid #FAFAFC; border-left: 1px solid #FAFAFC; border-right: 1px solid #FAFAFC; box-shadow: 0px 5px 25px #F7F7F7; color: #666; font-size: 14px; line-height: 22px; padding: 30px 20px; width: 610px;">
                    <strong>
                        {% if mail.tipo == 'util-recomendacion'%}
                            {{(mail.recomendacion.usuario.nombre is empty and mail.recomendacion.usuario.apellido is empty) ? mail.recomendacion.usuario.slug : mail.recomendacion.usuario.nombre~' '~mail.recomendacion.usuario.apellido}},
                        {% else %}
                            {{(mail.usuarioAnterior.nombre is empty and mail.usuarioAnterior.apellido is empty) ? mail.usuarioAnterior.slug : mail.usuarioAnterior.nombre~' '~mail.usuarioAnterior.apellido}},
                        {% endif %}
                    </strong>
                    <br />
                    <br />
                    {% set nombreUsuario = (mail.usuario.nombre is empty and mail.usuario.apellido is empty) ? mail.usuario.slug : mail.usuario.nombre~' '~mail.usuario.apellido %}

                    {% if mail.tipo == 'util-recomendacion'%}
                        {%trans with {
                                    '%usuario%' : "<a style='color: #0066CC; text-decoration: none;' href='"~url('showUsuario', {'param' : (mail.usuario.slug is empty) ? mail.usuario.id : mail.usuario.slug })~"'>"~nombreUsuario~"</a>", 
                                    '%open_rec%' : "<a style='color: #0066CC; text-decoration: none;' href='"~url('_recomendacion', {'slug' : mail.recomendacion.lugar.slug, 'usuarioSlug' : (mail.recomendacion.usuario.slug is empty) ? mail.recomendacion.usuario.id : mail.recomendacion.usuario.slug })~"'>", 
                                    '%close_rec%' : "</a>", 
                                    '%lugar%' : "<a style='color: #0066CC; text-decoration: none;' href="~url('_lugar', {'slug' : mail.recomendacion.lugar.slug})~">"~mail.recomendacion.lugar.nombre~"</a>"}
                        %}lugar.notificaciones.util_recomendacion.mail.primero{% endtrans %}  
                        <br />
                        <br />
                        {%trans with {'%open_tag%' : "<a style='color: #0066CC; text-decoration: none;' href='"~url('_recomendacion', {'slug' : mail.recomendacion.lugar.slug, 'usuarioSlug' : (mail.recomendacion.usuario.slug is empty) ? mail.recomendacion.usuario.id : mail.recomendacion.usuario.slug })~"'>", '%close_tag%' : "</a>"}%}lugar.notificaciones.util_recomendacion.mail.segundo{% endtrans %}
                    {% else %}
                        {%trans with {
                                    '%usuario%' : "<a style='color: #0066CC; text-decoration: none;' href='"~url('showUsuario', {'param' : (mail.usuario.slug is empty) ? mail.usuario.id : mail.usuario.slug })~"'>"~nombreUsuario~"</a>",
                                    '%lugar%' : "<a style='color: #0066CC; text-decoration: none;' href="~url('_lugar', {'slug' : mail.recomendacion.lugar.slug})~">"~mail.recomendacion.lugar.nombre~"</a>"}
                        %}lugar.notificaciones.despues_recomendacion.mail.primero{% endtrans %}
                        <br />
                        <br />
                        {%trans with {'%open_tag%' : "<a style='color: #0066CC; text-decoration: none;' href='"~url('_recomendacion', {'slug' : mail.recomendacion.lugar.slug, 'usuarioSlug' : (mail.recomendacion.usuario.slug is empty) ? mail.recomendacion.usuario.id : mail.recomendacion.usuario.slug })~"'>", '%close_tag%' : "</a>"}%}lugar.notificaciones.despues_recomendacion.mail.segundo{% endtrans %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="color: #CCC; font-size: 11px; padding: 20px">
                    <br />
                    {% trans with {'%open_tag%': '<b><a href="http://www.loogares.com" style="color: #0066CC; text-decoration: none;">', '%close_tag%' : '</a></b>'}%}usuario.mail.equipo{% endtrans %}<br />
                    <br />
                    {% trans with {'%open_a%': '<a href="mailto:contacto@loogares.com" style="color: #0066CC; text-decoration: none;">', '%close_a%' : '</a>'}%}usuario.mail.contacto{% endtrans %}
                    <br />
                    <br />
                    <span style="display: block; text-align: center;">&copy; {{'usuario.mail.firma'|trans}}</span>
                </td>
            </tr>
        </table>
    </div>
</body>