#DS Store de Mac
*.DS_Store

#Carpeta Cache
app/cache/*

#Entidades
src/Loogares/LugarBundle/Entity/*
!src/Loogares/LugarBundle/Entity/Lugar.php
!src/Loogares/LugarBundle/Entity/ImagenLugar.php
!src/Loogares/LugarBundle/Entity/Caracteristica.php
!src/Loogares/LugarBundle/Entity/Categoria.php
!src/Loogares/LugarBundle/Entity/SubCategoria.php
!src/Loogares/LugarBundle/Entity/TipoCategoria.php
src/Loogares/UsuarioBundle/Entity/*
!src/Loogares/UsuarioBundle/Entity/Usuario.php
src/Loogares/ExtraBundle/Entity/*
src/Loogares/AdminBundle/Entity/*
src/Loogares/BlogBundle/Entity/*
!src/Loogares/BlogBundle/Entity/Concurso.php
src/Loogares/MailBundle/Entity/*

#Imagenes
web/assets/images
web/assets/media/cache/*
web/media/cache/*
web/assets/images
web/assets/media/cache
web/assets/media

#Logs
app/logs/*

#Parametros
app/config/parameters.ini

nbproject
migrar
web/mails
web/images

#Paginas de error
vendor/symfony/src/Symfony/Bundle/TwigBundle/Resources/views/Exception/exception_full.html.twig
vendor/symfony/src/Symfony/Bundle/TwigBundle/Resources/views/layout.html.twig
vendor/facebook

# Log de dompdf
vendor/dompdf/lib/fonts/log.htm

st
#AptanaStudio
.project
