{% extends "::base.html.twig" %}

{% block title %}{{parent()}} | {{'general.home.title'|trans}}{% endblock %}

{% block content %}

	<div class="estaticas">

		<div class="contenido">
			<h1 class="titulo">Códigos de conducta</h1>

			<p><strong>Más que simples comentarios, buenas recomendaciones</strong></p><br />

			<p><strong>Loogares.com</strong> basa su contenido en el conocimiento de sus usuarios como medio informativo. Estamos convencidos de que las vivencias de los usuarios son más valiosas que cualquier otra, buscando de este modo un intercambio de experiencias y la oportunidad de aprender de los demás.</p><br />

			<p><strong>Recomienda siempre siendo buena onda y educado</strong></p><br />

			<p>En <strong>Loogares.com</strong> respetamos todas las opiniones y experiencias de los usuarios, por lo que esperamos lo mismo de parte de nuestros usuarios. Mantener una comunicación respetuosa y educada es la base de un intercambio de experiencias y recomendaciones. Por lo que no permitiremos violaciones, amenazas u ofensas a los derechos personales de los demás, las que serán inmediatamente sancionadas.</p><br />

			<p>Es necesario que tengas en cuenta que las opiniones expresadas de forma escrita pueden percibirse de manera distinta a las conversaciones directas. No siempre la ironía se percibe bien, ya que el lector no puede ver tu sonrisa sarcástica, ni escuchar el tono en que estás expresando tus ideas. Pueden ocurrir malos entendidos a pesar de las buenas intenciones, por lo que revisa bien tus recomendaciones antes de enviarlas.</p><br />

			<p><strong>Sé sincero</strong></p><br />

			<p>En <strong>Loogares.com</strong> somos muy estrictos al momento de controlar que se cumplan estas normas y de asegurar la libre expresión. Por lo que nos reservamos el derecho de excluir a los usuarios que no demuestren respeto sin previo aviso y de borrar sus recomendaciones si es necesario.</p><br />

			<p><strong>Crea diálogo con otros usuarios</strong></p><br />

			<p>Todas las opiniones expresadas en <strong>Loogares.com</strong> invitan al diálogo entre usuarios. Ojalá sepas aprovechar está oportunidad para conocer y complementar distintas opiniones. Si estás o no de acuerdo con alguna recomendación, ten la libertad de escribir tu propia recomendación basada siempre en tu experiencia personal.</p><br />

			<p><strong>No permitimos recomendaciones con fines comerciales</strong></p><br />

			<p>No está permitido escribir recomendaciones de un negocio propio, sea como individuo privado o bajo otra identidad. Cualquier intento obvio de promoción encontrado en las recomendaciones, será borrado inmediatamente.</p><br />

			<p>En caso de que recomiendes algún lugar del cual eres amigo, familiar o conocido, deberás dejar clara tu relación de forma abierta, para una información mas abierta y transparente.</p><br />

			<p>Aquellos locales comerciales que sean descubiertos pagando por recomendaciones positivas serán sancionados, al igual que los usuarios que se presten para este tipo de prácticas prohibidas.</p><br />

			<p><strong>Recomendaciones de los usuarios</strong></p><br />

			<p>Para <strong>Loogares.com</strong>, cualquier recomendación tiene credibilidad en principio, sean recomendaciones o críticas. Es por esto que sugerimos ciertas formas de crear las recomendaciones y críticas:</p><br />

			<ul>
				<li>Debes ser objetivo y constructivo. Aún si estas molesto por algo, la idea es darle la oportunidad a los demás usuarios para conocer tus motivos de un modo que ellos puedan tomar una decisión y para que los locales puedan aprender y mejorar.</li>
				<li>Que quede claro que tu recomendación es una opinión personal, ya que las críticas en Internet pueden tener un gran impacto al estar disponibles para que todo el mundo las lea. <strong>Loogares.com</strong> no busca dañar a los negocios, sino que por el contrario, busca ayudar a los usuarios y a los negocios para tomar mejores decisiones.</li>
				<li>Afirma información sólo si es verdadera.</li>
				<li>Las recomendaciones no deben contener fines comerciales ni promocionales.</li>
				<li>Las recomendaciones no deben contener insultos o palabras ofensivas.</li>
				<li>Las recomendaciones no deben contener amenazas o difamaciones.</li>
			</ul><br />

			<p><strong>Respuesta a recomendaciones por parte de los negocios</strong></p><br />

			<p>Si un negocio es criticado por parte de un usuario de <strong>Loogares.com</strong>, esto no corresponde a material ofensivo automáticamente. Los negocios tienen la oportunidad de responder estas críticas para aclarar malos entendidos y así lograr que un cliente insatisfecho se vuelva en un cliente satisfecho. Las críticas deben ser consideradas como oportunidades. Por lo general los clientes insatisfechos se quejan con sus amigos y conocidos, sin que el propietario del negocio sepa que ha habido problemas o tenga la oportunidad de corregirlo. <strong>Loogares.com</strong> ayuda a los locales a mejorar para sus usuarios.</p><br />

			<p>Para esto los negocios pueden:</p><br />

			<p>* Demostrar que están abiertos a las críticas. Piensa que la forma en que enfrentas las críticas dice más sobre tu negocio que las críticas en sí mismas. * Animar a los clientes satisfechos a expresar su opinión en <strong>Loogares.com</strong>. Mientras más críticas positivas tengan, menos importante será una negativa.
			Por último y no menos importante, por más que algún dueño de un local comercial se encuentre molesto por considerar que una crítica es injusta, éste no debe responda con amenazas o insultos. En esos casos nos reservamos el derecho de eliminar el negocio de <strong>Loogares.com</strong> completamente y a comunicar dicha exclusión. Esto también aplica para ataques contra la competencia.</p><br />

			<p><strong>Si le das mal uso a <strong>Loogares.com</strong>, serás penalizado</strong></p><br />

			<p>Cualquier violación a las normas aquí expresadas o a las regulaciones contenidas en los Términos de uso, Políticas de privacidad, Copyright u otras, supondrán la inmediata expulsión del individuo y de las recomendaciones y aportes que él o ella haya publicado.</p><br />

			<p><strong>Infórmanos si se está haciendo mal uso de <strong>Loogares.com</strong></strong></p><br />

			<p>Si encuentras alguna violación de nuestras normas básicas de conducta, no dudes en informarnos. Si algún contenido es reportado como ?material ofensivo?, se enviará automáticamente un informe al administrador responsable. En cualquier caso, explica tus razones. Investigaremos cada caso en profundidad y borraremos el contenido en caso de que la queja sea justificada.</p><br />

			<p>Las amenazas o el abuso en contenidos del sitio de <strong>Loogares.com</strong> puede llevar a tomar medidas legales o civiles.</p><br />
			
		</div>

		{% include 'LoogaresExtraBundle:Static:menu.html.twig' %}

	</div>

{% endblock %}