{% block content %}

	<div class="">
		<ul>
			<li>Qué es Loogares.com</li>
			<li>¿Eres el dueño de un lugar?</li>
			<li>Publicidad</li>
			<li>Contacto</li>
			<li>Prensa</li>
			<li>Trabaja con nosotros</li>
			<li>Términos de uso</li>
			<li>Políticas de privacidad</li>
			<li>Copyright</li>
			<li>Códigos de conducta</li>
		</ul>
	</div>

{% endblock %}