{% extends "::base.html.twig" %}

{% block title %}{{'extra.estaticas.politicas_de_privacidad.titulo'|trans}} | {{parent()}}{% endblock %}

{% block meta %}
	<meta name="description" content="" />

	<!-- Metadata para FB -->
	<meta property="og:title" content="{{'extra.estaticas.politicas_de_privacidad.titulo'|trans}} | Loogares.com" />

	<meta property="og:description" content="" />
{% endblock %}

{% block content %}

	<div class="estaticas">

		<div class="contenido">
			<h1 class="titulo">{{'extra.estaticas.politicas_de_privacidad.titulo'|trans}}</h1>

			<p><strong>Introducción</strong></p><br />

			<p><strong>Loogares.com</strong> pone a disposición de los usuarios de Internet el sitio web <strong>Loogares.com</strong> de forma gratuita.</p><br />

			<p>Las directrices contenidas en este documento se aplican únicamente a las visitas hechas por usted a www.<strong>Loogares.com</strong> y a www.loogares.cl, en adelante indistintamente “<strong>Loogares.com</strong>”. Mientras que los sitios vinculados a <strong>Loogares.com</strong> (incluso los de otras filiales de <strong>Loogares.com</strong> y los accesibles mediante avisos publicitarios o banners) pueden tener otras políticas al respecto.</p><br />

			<p>Ya que el sitio opera como una plataforma donde los usuarios participan recomendando experiencias a otros usuarios y agregando diversos tipos de información, éstos son requeridos para aportar información personal e identificable.</p><br />

			<p>Para los efectos de nuestra política, entenderemos como usuario de <strong>Loogares.com</strong> ya sea una persona natural o jurídica, o una agrupación sin personalidad legal, y en lo aplicable, también se extenderán a sus agentes, representantes, mandatarios, comisionistas y/o usuarios internos, que accedan en nombre y representación del usuario o como agentes oficiosos del mismo.</p><br />

			<p><strong>Consentimiento</strong></p><br />

			<p>Al proveer en nuestro sitio cualquier tipo de información personal e identificable, estas optando por:</p><br />

			<ul>
				<li>Aceptar todas las condiciones contenidas en las presentes <em>Políticas de privacidad</em></li>
				<li>Acordar que la información provista pueda almacenarse, usarse y tratarse para los fines establecidos aquí, incluso para fines comerciales.</li>
				<li>Autorizar que dicha información se pueda compilar, compendiar, compartir, comunicar, transmitir y usar de cualquier manera o forma, de conformidad con las condiciones establecidas aquí y con las de las leyes aplicables.</li>
				<li>Reconocer que toda la información provista por ti es verdadera y válida.</li>
				<li>Atendida las características propias de Internet, consientes expresamente en que mantengamos tu información personal sea recolectada, transferida, procesada y almacenada en servidores ubicados en cualquier parte del planeta.</li>
			</ul><br />

			<p><strong>Recolección de información</strong></p><br />

			<p>El servidor web de <strong>Loogares.com</strong> reconoce y almacena automáticamente datos tales como la combinación dirección IP/nombre de dominio del visitante, y otros datos de cualquier sitio que haga referencia a <strong>Loogares.com</strong>. Para ello podríamos utilizar diversas tecnologías.</p><br />

			<p><strong>Uso de cookies</strong></p><br />

			<p>El acceso a <strong>Loogares.com</strong> puede implicar la utilización de cookies. Las cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada usuario para que el servidor recuerde cierta información que posteriormente pueda utilizar. Esta información nos permite identificarte como un usuario concreto y permite guardar tus preferencias personales, así como información técnica, como pueden ser visitas o páginas concretas que visites.</p><br />

			<p>Aquellos usuarios que no deseen recibir cookies o quieran ser informados antes de que se almacenen en su computadora, pueden configurar su navegador a tal efecto.</p><br />

			<p>La mayor parte de los navegadores de hoy en día permiten la gestión de las cookies de 3 formas diferentes:</p><br />

			<p>1. Las cookies no se aceptan nunca.</p>
			<p>2. El navegador pregunta al usuario si se debe aceptar cada cookie.</p>
			<p>3. Las cookies se aceptan siempre.</p><br />
			
			<p>El navegador también puede incluir la posibilidad de especificar mejor qué cookies tienen que ser aceptadas y cuáles no. En concreto, el usuario puede normalmente aceptar alguna de las siguientes opciones:</p><br />

			<p>1. Rechazar las cookies de determinados dominios.</p>
			<p>2. Rechazar las cookies de terceros.</p>
			<p>3. Aceptar cookies como no persistentes (se eliminan cuando el navegador se cierra).</p>
			<p>4. Permitir al servidor crear cookies para un dominio diferente.</p><br />

			<p><strong>Cookie DART</strong></p><br />

			<p>1. Google, como proveedor asociado, utiliza cookies para publicar anuncios en <strong>Loogares.com</strong>.</p>
			<p>2. Los usuarios pueden inhabilitar el uso de las cookie DART a través del anuncio de Google y accediendo a la política de privacidad de la red de contenido.</p><br />

			<p>Además, los navegadores pueden también permitir a los usuarios ver y borrar cookies individualmente.</p><br />

			<p>Si necesitas más información sobre las cookies puedes visitar Wikipedia.</p><br />

			<p><strong>Recolección y combinación de la información personal</strong></p><br />

			<p>Adicionalmente, <strong>Loogares.com</strong> podría solicitarte ?información personal?, como por ejemplo tu nombre, nombre de usuario, dirección de correo electrónico, país, ciudad, número de teléfono, género, fecha de nacimiento o algún identificador persistente (por ejemplo, un número de cliente guardado en un cookie), para permitirte participar como usuario.</p><br />

			<p>Como usuario, acuerdas que podemos combinar la información provista por ti en <strong>Loogares.com</strong> con otra información recolectada, ya sea tuya o de terceros, a quienes hayas previamente autorizado a usar tu información, a fin de adaptarte de un modo más efectivo a nuestro sitio web, a nuestros servicios y nuestras propuestas.</p><br />

			<p><strong>Protección de tu información personal</strong></p><br />

			<p>A menos que sea para los fines solicitados por ti y originalmente acordados, no compartiremos ninguna información personal que facilites en <strong>Loogares.com</strong> con terceros. No obstante lo anterior, nos autorizas expresamente por este medio a compartir la información personal provista:</p><br />

			<ul>
				<li>Con otra empresa a la que nos encontremos afiliados.</li>
				<li>Con tu consentimiento.</li>
				<li>Como pueda requerirlo la ley o una orden judicial.</li>
				<li>Con personas o empresas que contrataremos para realizar las operaciones internas del sitio web o nuestro negocio.</li>
				<li>Con terceros apropiados, incluso agencias estatales involucradas en alguna investigación penal, en la prevención de fraudes o en otras acciones legales, o si creemos razonablemente necesario hacerlo para proteger a nuestra empresa, sus clientes o el público.</li>
			</ul><br />

			<p>Para los efectos de este párrafo, estas acordando por este medio que los terceros mencionados aquí pueden hallarse localizados en el extranjero, sin limitaciones de locación.</p><br />

			<p>A menos que lo indiques de modo contrario, nos autorizas a comunicarnos contigo para proveerte información sobre productos, servicios, promociones, concursos u otras actividades o propuestas que puedan interesarte.</p><br />

			<p>Estas acordando que podamos compartir, con tu consentimiento, tu información personal con terceros específicos, que no pertenecen necesariamente a empresas de <strong>Loogares.com</strong> pero que pueden desear ponerse en contacto contigo sobre productos, servicios u otras propuestas de interés para ti. Cada uno de esos terceros puede tener su propia política de privacidad, por lo que te rogamos consultes las <em>Políticas de privacidad</em> respectivas de cada uno de esos terceros a fin de aclarar más al respecto. Para tales efectos, buscaremos tu consentimiento en el lugar donde la información se recolecte, para lo cual utilizará un método de “optar por incluirse” u otros medios (por ejemplo una solicitud por correo electrónico). Si aceptas recibir comunicaciones de cualquiera de esos terceros, necesitarás comunicarte con ellos directamente en caso que decidas luego que no deseas recibir más sus comunicaciones. Hasta que nosotros te avisemos, salvo como se indica arriba para la decisión inicial hecha con tu consentimiento de compartir tu información personal con las filiales de <strong>Loogares.com</strong> o terceros específicos fuera de las empresas de <strong>Loogares.com</strong>, los cambios o las enmiendas a tu información personal deben comunicarse directamente a nosotros o a cada una de las filiales de <strong>Loogares.com</strong> u otras empresas, ya que esos cambios, enmiendas o eliminaciones no los intercambiaremos nosotros, ni otras filiales de <strong>Loogares.com</strong> ni terceros entre sí.</p><br />

			<p><strong>Uso y divulgación de la información anónima reunida</strong></p><br />

			<p>Estás acordando que podamos recolectar, reunir y mantener información anónima sobre los visitantes al sitio, por ejemplo, los pasatiempos, intereses, hábitos de compra, preferencias musicales y otros datos por el estilo relativos a los visitantes. Estos datos pudieran utilizarse luego para adaptar el contenido y la publicidad del sitio a fin de entregarle una mejor experiencia al visitante. Declaras estar en conocimiento y consiente a que podamos también compartir la información reunida sobre nuestros visitantes con anunciantes, socios de negocio, patrocinadores y otros terceros, por ejemplo, para informarles el porcentaje de visitantes hombres/mujeres pertenecientes a una gama de edades determinada.</p><br />

			<p>Respecto de la recolección y tratamiento de datos realizada mediante mecanismos automatizados con el objeto de generar registros de actividad de los visitantes y registros de audiencia, <strong>Loogares.com</strong> sólo utiliza dicha información para la elaboración de informes que cumplan con los objetivos señalados. En ningún caso se realizan operaciones que permitan asociar dicha información a algún usuario identificado o identificable.</p><br />

			<p><strong>Seguridad</strong></p><br />

			<p><strong>Loogares.com</strong> cuenta con medidas de seguridad tecnológicas y procedimientos internos que dificultan el acceso no autorizado a tu información personal. A pesar de eso, en razón del estado actual de la tecnología, no podemos garantizar que el acceso no autorizado no ocurrirá jamás.</p><br />

			<p><strong>Cambios a la política de privacidad</strong></p><br />

			<p><strong>Loogares.com</strong> se reserva el derecho de cambiar esta política en cualquier momento, por lo que te rogamos volver a visitar esta página con la frecuencia que desees. Los cambios a la política de privacidad tienen efecto en el momento en que los mismos se publican en este sitio web.</p><br />
			
		</div>

		{% include 'LoogaresExtraBundle:Static:menu.html.twig' %}

	</div>

{% endblock %}