{% extends "::base.html.twig" %}

{% block title %}{{'extra.estaticas.prensa.titulo'|trans}} | {{parent()}}{% endblock %}

{% block meta %}
	<meta name="description" content="" />

	<!-- Metadata para FB -->
	<meta property="og:title" content="{{'extra.estaticas.prensa.titulo'|trans}} | Loogares.com" />

	<meta property="og:description" content="" />
{% endblock %}

{% block content %}

	<div class="estaticas">

		<div class="contenido">
			<h1 class="titulo">{{'extra.estaticas.prensa.titulo'|trans}}</h1>

			<p><strong>12/04/26 - Webprendedor</strong></p>
			<p><a target="_blank" href="http://www.webprendedor.com/2012/04/26/loogares-com-quiere-conquistar-el-mercado-latinoamericano-de-recomendaciones/">Loogares.com quiere conquistar el mercado latinoamericano de recomendaciones</a></p><br />

			<p><strong>12/04/23 - Start-Up Chile Blog</strong></p>
			<p><a target="_blank" href="http://www.startupchile.org/loogares-com-arrives-to-buenos-aires">Loogares.com arrives to Buenos Aires</a></p><br />

			<p><strong>12/04/20 - Kiss My Bit</strong></p>
			<p><a target="_blank" href="http://www.kissmybit.com/loogares-com-ahora-tambien-en-buenos-aires/">Loogares.com ahora también en Buenos Aires</a></p><br />

			<p><strong>12/04/19 - TechValley</strong></p>
			<p><a target="_blank" href="http://www.techvalley.com.ar/noticias/loogares-com-llega-a-buenos-aires-123/">Loogares.com llega a Buenos Aires</a></p><br />

			<p><strong>12/04/12 - Pulso Social</strong></p>
			<p><a target="_blank" href="http://pulsosocial.com/2012/04/12/loogares-com-la-guia-online-de-ocio-y-salidas-para-latinoamerica">Loogares.com, la guía online de ocio y salidas para Latinoamérica</a></p><br />

			<p><strong>09/02/12 - NXTP Labs</strong></p>
			<p><a target="_blank" href="http://nxtplabs.com/es/noticias/novedades/215-mercadotransporte-the-ally-for-online-shoppers-.html">Para salir con los que saben: Loogares.com</a></p><br />

			<p><strong>02/02/12 - Start-Up Chile Blog</strong></p>
			<p><a target="_blank" href="http://www.startupchile.org/loogares-com-raises-capital-from-nxtp-labs-incubator/">Loogares.com raises capital from NXTP Labs Incubator</a></p><br />

			<p class="ano">2011</p><br />

			<p><strong>19/12/11 - AndesBeat</strong></p>
			<p><a target="_blank" target="_blank" href="http://andesbeat.com/2011/12/19/loogares-builds-south-americas-yelp/">Loogares.com online entertainment guide nears 10,000 reviews</a></p><br />

			<p><strong>28/11/11 - Diario Financiero</strong></p>
			<p><a target="_blank" href="http://www.df.cl/guia-de-ocio-de-buenos-aires/prontus_df/2011-11-25/213517.html">Guía de ocio de Buenos Aires</a></p><br />

			<p><strong>11/11/11 - La Tercera</strong></p>
			<p><a target="_blank" href="http://diario.latercera.com/2011/11/11/01/contenido/santiago/32-90036-9-santiago-20-las-web-que-invitan-a-moverse-por-la-ciudad.shtml">Salir a descubrir Santiago</a></p><br />

			<p><strong>12/10/11 - Pymesur</strong></p>
			<p><a target="_blank" href="http://pymesur.cl/reportajes/emprendedores-seleccionados-de-start-up-chile-entre-65-paises-que-crearon-una-plataforma-turistica-ciudadana.html">Emprendedores seleccionados de Start-Up Chile entre 65 países que crearon una plataforma turística ciudadana</a></p><br />

			<p><strong>07/10/11 - Kiss My Bit</strong></p>
			<p><a href="http://www.kissmybit.com/loogares-com-la-revelacion-de-start-up-chile/">Loogares.com, la revelación de Start-Up Chile</a></p><br />

			<p><strong>27/09/11 - Nativo Digital</strong></p>
			<p><a href="http://www.nativodigital.cl/2011/09/el-emprendimiento-chileno-loogares-com-se-suma-a-start-up-chile">El emprendimiento chileno Loogares.com se suma a Start-Up Chile</a></p><br />

			<p><strong>27/09/11 - Revista City</strong></p>
			<p><a href="http://www.cityen.cl/Novedades/Loogares.com-uno-de-los-proyectos-seleccionados-en-Start-Up-Chile.html">Loogares.com, uno de los proyectos seleccionados en Start-Up Chile</a></p><br />

			<p><strong>13/09/11 - LUN</strong></p>
			<p><a target="_blank" href="http://www.lun.com/Pages/NewsDetail.aspx?dt=2011-09-13&PaginaId=19&BodyId=0">Hasta la Iphonda en guía online</a></p><br />

			<p><strong>11/08/11 - Ser Digital</strong></p>
			<p><a target="_blank" href="http://www.serdigital.cl/2011/08/11/loogares-busca-comparte-y-recomienda-lugares/">Loogares.com: Busca, comparte y recomienda lugares</a></p><br />

			<p><strong>18/07/11 - Arriesgo</strong></p>
			<p><a target="_blank" href="http://www.arriesgo.cl/2011/loogares-com-el-punto-de-partida-para-emprender-el-rumbo/">Loogares.com: El punto de partida para emprender el rumbo</a></p><br />

			<p><strong>18/07/11 - Kiss My Bit</strong></p>
			<p><a target="_blank" href="http://www.kissmybit.com/2011/07/loogares-com-la-guia-online-del-turismo-y-el-ocio/">Loogares.com: La guía online del turismo y el ocio</a></p><br />

			<p><strong>13/06/11 - FayerWayer</strong></p>
			<p><a target="_blank" href="http://www.fayerwayer.com/2011/06/chile-loogares-com-apuesta-por-convertirse-en-la-mayor-guia-de-ciudades/">Loogares.com apuesta por convertirse en la mayor guía de ciudades</a></p><br />

			<p class="ano">2010</p><br />

			<p><strong>24/08/10 - Para Ti</strong></p>
			<p><a target="_blank" href="http://parati.taconeras.net/2010/08/24/una-nueva-forma-de-conocer-la-ciudad/">Una nueva forma de conocer la ciudad!</a></p><br />
			
		</div>

		{% include 'LoogaresExtraBundle:Static:menu.html.twig' %}

	</div>

{% endblock %}