{% extends "::base.html.twig" %}

{% block title %}{{parent()}} | {{'general.home.title'|trans}}{% endblock %}

{% block content %}

	<div class="estaticas">

		<div class="contenido">
			<h1 class="titulo">Términos de uso</h1>

			<p><strong>Introducción</strong></p><br />

			<p><strong>Loogares.com</strong> pone a disposición de los usuarios de Internet el sitio web <strong>Loogares.com</strong> de forma gratuita.</p><br />

			<p>El acceso a y/o uso del sitio web      es totalmente voluntario y atribuye a quien lo realiza la condición de usuario. Todo usuario acepta, desde el mismo momento en el que accede, sin ningún tipo de reserva, el contenido de los presentes <em>"Términos de uso"</em>, las <em>"Políticas de privacidad"</em>, de <em>"Copyright"</em> y otras políticas que puedan complementarlas, sustituirlas o modificarlas en algún sentido en relación con los servicios y contenidos del sitio. Por lo que el usuario deberá leer detenidamente cada una de las normas antes del acceso y de utilización de cualquier servicio del sitio web, bajo su entera responsabilidad.</p><br />

			<p><strong>Loogares.com</strong> se reserva la posibilidad de modificar, sin previo aviso, el contenido de los <em>"Términos de uso"</em> de manera que se recomienda al usuario leer los términos cada vez que éste acceda y utilice el sitio de <strong>Loogares.com</strong> o cada vez que estime conveniente.</p><br />

			<p>A su vez <strong>Loogares.com</strong> se reserva la posibilidad de modificar sin previo aviso, el diseño, presentación y/o configuración de este sitio web, así como algunos o todos los servicios, y añadir servicios nuevos.</p><br />

			<p>En cualquier caso, <strong>Loogares.com</strong> se reserva el derecho de, en cualquier momento y sin necesidad de previo aviso, denegar el acceso a este sitio a aquellos usuarios que incumplan cualesquiera de estas condiciones legales o de las particulares que les sean de aplicación.</p><br /><br />

			<p><strong>Objetivo</strong></p><br />

			<p>Los presentes Términos de uso regulan el acceso y el uso del sitio web de <strong>Loogares.com</strong>.</p><br />

			<p>La finalidad de <strong>Loogares.com</strong> es la de ser un sitio web basado en las comunidades web 2.0, con los elementos sociales que esto conlleva. Ser un punto de encuentro entre usuarios que quieran encontrar lugares donde salir recomendados por otros usuarios. Una comunidad que gire en torno a la ciudad y las actividades que se puedan realizar en la misma, desarrollada por sus propios usuarios.</p><br />

			<p><strong>Loogares.com</strong> sólo facilitará a los demás usuarios los datos y/o información proporcionados por el usuario cuando estos datos y/o información no vulneren disposiciones legales o los presentes Términos de uso.</p><br />

			<p><strong>Loogares.com</strong> podrá eliminar del sitio web contenidos ilegales sin previo aviso.</p><br />

			<p>El usuario reconoce que técnicamente no es posible lograr disponibilidad del sitio web de <strong>Loogares.com</strong> al 100%. Sin embargo, <strong>Loogares.com</strong> se esforzará por mantener disponible el sitio web de la forma más constante posible. Especialmente por razones de mantenimiento, seguridad o capacidad, así como a causa de acontecimientos sobre los que no puede influir <strong>Loogares.com</strong> (por ejemplo anomalías de redes públicas de comunicación, cortes de electricidad, etc.) pueden producirse breves anomalías o la suspensión pasajera de los servicios del sitio web.</p><br /><br />

			<p><strong>Obligaciones de los usuarios en el sitio web</strong></p><br />

			<p>El usuario se compromete a hacer un uso diligente del mismo y de los servicios accesibles desde este sitio web, con total sujeción a la Ley, a las buenas costumbres y a los presentes Términos de uso y, en su caso, condiciones particulares, así como manteniendo el debido respeto a los demás usuarios.</p><br />

			<p>Con carácter general, la prestación de los servicios no exige la previa suscripción o registro de los usuarios. No obstante, <strong>Loogares.com</strong> condiciona la utilización de algunos de los servicios sin el correspondiente registro de usuario, seleccionando éste, el identificador y la contraseña que se compromete a conservar y a usar con la diligencia debida.</p><br />

			<p>Para formar parte de la Comunidad de <strong>Loogares.com</strong>, el usuario deberá ser mayor de 14 años de edad.</p><br />

			<p>El uso de la contraseña es personal e intransferible, no estando permitida la cesión, ni siquiera temporal, a terceros. En tal sentido, el usuario deberá adoptar las medidas necesarias para la custodia de la contraseña por él seleccionada, evitando el uso de la misma por terceros. De este modo, el usuario es el único responsable de la utilización que de su contraseña se realice, con completa indemnidad para <strong>Loogares.com</strong>. En el supuesto de que el usuario conozca o sospeche del uso de su contraseña por terceros deberá poner tal circunstancia en conocimiento de <strong>Loogares.com</strong> con la mayor brevedad. El usuario cuenta con la posibilidad de modificar su contraseña cuando lo estime conveniente. En el caso de haber olvidado la misma, existe la posibilidad de recuperarla mediante un proceso facilitado por el sitio web.</p><br />

			<p>El citado registro se efectuará en la forma expresamente indicada en el propio servicio.</p><br />

			<p>Toda la información que facilite el usuario a través de los servicios deberá ser veraz y exacta. A estos efectos, el usuario garantiza la autenticidad de todos aquellos datos que comunique como consecuencia del formulario de registro necesario para la suscripción de los servicios.</p><br />

			<p>De igual forma, será responsabilidad del usuario mantener toda la información facilitada a <strong>Loogares.com</strong> permanentemente actualizada de forma que responda, en cada momento, a la situación real del usuario. En todo caso el usuario será el único responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios que cause a <strong>Loogares.com</strong> o a terceros por la información que facilite.</p><br />

			<p>El usuario se obliga a respetar las leyes aplicables y los derechos de terceros al utilizar los contenidos y servicios del sitio web. Asimismo queda prohibida la reproducción, distribución, transmisión, adaptación o modificación, por cualquier medio y en cualquier forma, de los contenidos del sitio web (textos, diseños, gráficos, informaciones, bases de datos, archivos de sonido y/o imagen, logos, etc.) y demás elementos de este sitio web, salvo autorización previa de sus legítimos titulares o cuando así resulte permitido por la ley.</p><br />

			<p>En especial, al usuario le estará prohibido: utilizar contenidos injuriosos o calumniosos, con independencia de que esos contenidos afecten a otros usuarios o a otras personas o empresas, utilizar contenidos pornográficos o que vulneren las leyes de protección de menores, o hacer publicidad, ofrecer o distribuir productos pornográficos o que vulneren las leyes de protección de menores, molestar a otros usuarios (especialmente mediante spam), utilizar contenidos protegidos legalmente (por ejemplo por la legislación relativa a la propiedad intelectual, a marcas, a patentes, a modelos de utilidad o a modelos estéticos) sin tener derecho a ello, o hacer publicidad, ofrecer o distribuir bienes o servicios protegidos legalmente, así como realizar o fomentar acciones contrarias a la libre competencia, incluidas las encaminadas a la captación de clientes progresiva (como sistemas en cadena, de bola de nieve o piramidales).</p><br />

			<p>Se prohíbe al usuario las siguientes acciones:</p><br />

			<ul>
				<li>Utilizar mecanismos, software o scripts en relación con la utilización del sitio web.</li>
				<li>Bloquear, sobrescribir, modificar o copiar, a no ser que ello sea necesario para la correcta utilización de los servicios de los sitios web. Por ejemplo, el copiado mediante tecnologías de buscador tipo “Robot/Crawler” no es necesario para la correcta utilización de los servicios del sitio web, por lo que está prohibido expresamente.</li>
				<li>Difundir y reproducir públicamente contenidos del sitio web de <strong>Loogares.com</strong> o de otros usuarios, sin la autorización previa.</li>
				<li>Toda acción apta para perjudicar la funcionalidad de la infraestructura de <strong>Loogares.com</strong>, especialmente para sobrecargarla.</li>
				<li>A utilizar cualquiera de los materiales e informaciones contenidos en este sitio web con fines ilícitos y expresamente prohibidos en los presentes Términos de uso, así como a las condiciones particulares que en su caso se habiliten y que resulten contrarios a los derechos e intereses de <strong>Loogares.com</strong>, sus miembros y/o terceros, y deberá responder frente a los mismos en caso de contravenir o incumplir dichas obligaciones y/o que, de cualquier modo (incluida la introducción o difusión de “virus informáticos”), dañe, inutilice, sobrecargue, deteriore o impida la normal utilización de los materiales e informaciones contenidos en el sitio web, los sistemas de información o los documentos, archivos y toda clase de contenidos almacenados en cualquier equipo informático (hacking) de <strong>Loogares.com</strong>, de sus miembros o de cualquier usuario.</li>
				<li>El usuario es consciente de, y acepta voluntariamente, que el uso del servicio tiene lugar, en todo caso, bajo su única y exclusiva responsabilidad.</li>
				<li>El usuario responderá de los daños y perjuicios de toda naturaleza que <strong>Loogares.com</strong> pueda sufrir como consecuencia del incumplimiento de cualesquiera de las obligaciones a las que queda sometido por virtud de estos Términos de uso o de la ley en relación con la utilización de servicio.</li>
			</ul><br />

			El usuario tiene el derecho a rescindir en todo momento y de forma reglamentaria su afiliación a <strong>Loogares.com</strong> sin previo aviso. Asimismo, <strong>Loogares.com</strong> tiene derecho a rescindir en todo momento su afiliación.</p><br />

			<p><strong>Loogares.com</strong> tiene derecho a rescindir su afiliación sin previo aviso si infringe de alguna forma estos Términos de uso. Si <strong>Loogares.com</strong> ha rescindido su afiliación a causa de una infracción contra estas condiciones de uso, sólo podrá registrarse de nuevo si <strong>Loogares.com</strong> lo autoriza expresamente. No está permitido que los miembros de <strong>Loogares.com</strong> le faciliten el uso a antiguos miembros a los que <strong>Loogares.com</strong> les haya rescindido su afiliación sin previo aviso.</p><br />

			<p>Su derecho a rescindir su afiliación en <strong>Loogares.com</strong> por motivos importantes no se ve afectado por estos Términos de uso.</p><br /><br />

			<p><strong>Facebook Connect</strong></p><br />

			<p>Todas las actividades del usuario en Facebook y Facebook Connect respectivamente, y todas las actividades que realice el usuario estando conectado a Facebook y Facebook Connect respectivamente, quedan cubiertas por la Declaración de derechos y responsabilidades de Facebook, la política de privacidad de Facebook y otros términos de uso de Facebook (<a href="http://www.facebook.com/terms.php">http://www.facebook.com/terms.php</a>; <a href="http://www.facebook.com/policy.php">http://www.facebook.com/policy.php</a>)</p><br />

			<p><strong>Loogares.com</strong> no se hará responsable de ningún contenido difundido y puesto a disposición en Facebook poniendo un enlace a Facebook Connect en la sitio web.</p><br />

			<p>Esta sección se aplica a la información recogida por <strong>Loogares.com</strong> a través del login de Facebook Connect del usuario.</p><br />

			<p>Si el usuario dispone de una cuenta en Facebook, <strong>Loogares.com</strong> le permite identificarse en la sitio web utilizando Facebook Connect, una aplicación de Facebook Inc. que permite a la sitio web trabajar como otras aplicaciones de plataforma que pueden encontrarse en Facebook.com. Una vez que el usuario permite a la sitio web conectarse con Facebook.com, el usuario podrá utilizar su información de identificación en Facebook.com para identificarse en la sitio web, y el usuario podrá publicar su actividad en la sitio web, en su perfil de Facebook.com. Cada vez que el usuario haga algo en la sitio web que desee publicar en Facebook.com, como recomendar un lugar, entre otros, <strong>Loogares.com</strong> preguntará si desea publicar dicha actividad en su muro de Facebook.com. <strong>Loogares.com</strong> no generará ni publicará ningún evento ni recomendación en Facebook.com sobre las acciones del usuario en la sitio web sin su previo consentimiento.</p><br />

			<p>Por otra parte, utilizando Facebook Connect, el usuario permite a <strong>Loogares.com</strong> acceder a su información en Facebook.com (incluida la información de su perfil, sus amigos y su configuración de privacidad) por lo que él puede utilizar su información de Facebook.com en la sitio web, y <strong>Loogares.com</strong> puede ayudarle a mejorar su utilización del sitio y las opciones de la sitio web (por ejemplo, recomendando, programando o difundiendo publicidad que <strong>Loogares.com</strong> estime sea del mayor interés para el usuario); y permitir al usuario interactuar con sus amigos en Facebook.com en la sitio web. Para que Facebook Connect pueda funcionar, el usuario está de acuerdo para permitir que Facebook.com compruebe sus cookies Facebook cuando esté visitando la sitio web, y permite a Facebook.com recibir información relativa a las acciones que realiza en la sitio web (que <strong>Loogares.com</strong> solo enviará con el consentimiento del usuario). La información compartida con Facebook se transmitirá a y se almacenará en Facebook.com en servidores en los Estados Unidos.</p><br />

			<p>Si llegado el momento, el usuario ya no quiere que la sitio web publique información sobre él, o quiere limitar de otra forma las interactuaciones de la sitio web con su cuenta en Facebook.com, puede, en todo momento, desactivar la opción cambiando la configuración de aplicación en Facebook.com.</p><br /><br />

			<p><strong>Políticas para la publicación de lugares</strong></p><br />

			<p>Estas políticas buscan que los lugares publicados en <strong>Loogares.com</strong> existan realmente y que su información sea válida y acorde a los lineamientos editoriales del sitio.</p><br />

			<p><strong>Loogares.com</strong> se reserva el derecho de no publicar o remover aquellos lugares que, tras ser estudiadas, den evidencia de:</p><br />

			<p>1. No existir, estar cerrados o no estar disponibles para los usuarios.</p>
			<p>2. No poseer un lugar físico que los usuarios puedan visitar y luego recomendar.</p>
			<p>3. No pertenecer a alguna de las categorías existentes en <strong>Loogares.com</strong>.</p>
			<p>4. No pertenecer a las áreas geográficas de cobertura de <strong>Loogares.com</strong>.</p>
			<p>5. Existir previamente en la base de datos de <strong>Loogares.com</strong>.</p>
			<p>6. No cumplir con el resto de los Términos de uso publicados en esta página.</p><br />
			
			<p><strong>Políticas para la publicación de recomendaciones</strong></p><br />

			<p>Estas políticas buscan preservar la validez y objetividad de las recomendaciones que se escriban en <strong>Loogares.com</strong>, para que representen en todo momento una ayuda real para la toma de decisiones al momento de buscar información sobre lugares de ocio y turismo.</p><br />

			<p><strong>Loogares.com</strong> se reserva el derecho de no publicar o remover aquellas recomendaciones que, tras ser estudiadas, den evidencia de:</p><br />

			<p>1. No estar basadas en experiencias y hechos reales en el lugar recomendado.</p>
			<p>2. No estar basadas en experiencias personales del autor de la recomendación en el lugar recomendado.</p>
			<p>3. No aportar información mínima suficiente (descriptiva, crítica y objetiva) respecto al lugar mencionado.</p>
			<p>4. No estar escritas por un cliente o alguien no relacionado de manera directa con el lugar recomendado, pudiendo alterar la veracidad u objetividad tanto de la recomendación como del lugar en cuestión.</p>
			<p>5. No estar haciendo mención al lugar recomendado, sino a otro distinto de manera equivocada o intencional.</p>
			<p>6. No cumplir con el resto de los Términos de uso publicados en esta página.</p><br />
			
			<p>Para mayor información respecto a como hacer una correcta recomendación, revisar los Códigos de conducta.</p><br />

			<p><strong>Política en la publicación de fotografías</strong></p><br />

			<p><strong>Fotografía de perfil de usuario</strong></p><br />
			
			<p>La fotografía en la ficha de perfil de un usuario sirve para identificarlo claramente respecto del resto de los miembros de <strong>Loogares.com</strong>. Por ello, es recomendable incluir fotografías personales, es decir, que contengan fotografías de uno mismo; no obstante también se aceptarán fotos que identifiquen los gustos de los usuarios y que les ayuden a expresarse (ej. mascotas, grupos de amigos, paisajes, objetos o creaciones artísticas).</p><br />

			<p><strong>Loogares.com</strong> no admite la inclusión de cualquier tipo de imágenes por parte de sus miembros, por lo que se reserva el derecho de eliminar, aún sin previo aviso, aquellas imágenes que a su juicio considere inapropiadas de acuerdo con los objetivos y la naturaleza del sitio.</p><br />

			<p>Una fotografía puede ser rechazada por diversos motivos:</p><br />

			<p>1. Por ser inadecuada con los objetivos de <strong>Loogares.com</strong>.</p>
			<p>2. No se admitirán fotografías o imágenes de contenido ofensivo, violento, ideológico, xenófobo, erótico, obsceno y/o sexual.</p>
			<p>3. Por razones de seguridad y privacidad de datos, no se admitirán fotografías o imágenes que contengan información como: nombres, números de teléfono, direcciones de correo electrónico, o URL de páginas web.</p>
			<p>4. Por presentar problemas de visualización o ser de poca calidad visual.</p>
			<p>5. Por no haberse cargado correctamente en la página.</p><br />

			<p><strong>Loogares.com</strong> no puede confirmar la propiedad de los derechos de autor de las imágenes que se incluyan en los perfiles. En caso de mostrar a una tercera persona, deberá contar con su autorización expresa, bajo la responsabilidad exclusiva del usuario implicado.</p><br />

			<p><strong>Loogares.com</strong> se reserva el derecho de recortar nunca manipular las imágenes para adecuarlas a la política de publicación de fotografías aquí descrita.</p><br />

			<p>Todas las fotografías de <strong>Loogares.com</strong> están sujetas a posteriores revisiones y eliminaciones.</p><br />

			<p>Si el usuario encuentra en el sitio web alguna foto que no cumpla esta política, puede comunicárselo al equipo de <strong>Loogares.com</strong> en la siguiente dirección electrónica: <a href="mailto:contacto@loogares.com">contacto@loogares.com</a>.</p><br />

			<p><strong>Fotografía de lugares</strong></p><br />

			<p>La fotografía en la ficha de un lugar sirve para identificarlo claramente respecto del resto de los lugares existentes en <strong>Loogares.com</strong>. Por ello, sólo se aceptarán fotografías que pertenezcan al lugar en mención.</p><br />

			<p><strong>Loogares.com</strong> no admite la inclusión de cualquier tipo de imágenes por parte de sus usuarios, por lo que se reserva el derecho de eliminar, aún sin previo aviso, aquellas imágenes que a su juicio considere inapropiadas de acuerdo con los objetivos y la naturaleza del sitio.</p><br />

			<p>Una fotografía puede ser rechazada por diversos motivos:</p><br />

			<p>1. Por ser inadecuada con los objetivos de <strong>Loogares.com</strong>.</p>
			<p>2. No se admitirán fotografías o imágenes de contenido ofensivo, violento, ideológico, xenófobo, erótico, obsceno y/o sexual.</p>
			<p>3. Por razones de seguridad y privacidad de datos, no se admitirán fotografías o imágenes que contengan información como: nombres, números de teléfono, direcciones de correo electrónico, o URL de sitios web.</p>
			<p>4. Por presentar problemas de visualización o ser de poca calidad visual.</p>
			<p>5. Por no haberse cargado correctamente en la página.</p>
			<p>6. Por no pertenecer al lugar en mención.</p><br />

			<p><strong>Loogares.com</strong> no puede confirmar la propiedad de los derechos de autor de las imágenes que se incluyan en los perfiles. En caso de mostrar a una tercera persona, deberá contar con su autorización expresa, bajo la responsabilidad exclusiva del usuario implicado.</p><br />

			<p><strong>Loogares.com</strong> se reserva el derecho de recortar -nunca manipular- las imágenes para adecuarlas a la política de publicación de fotografías aquí descrita.</p><br />

			<p>Todas las fotografías de <strong>Loogares.com</strong> están sujetas a posteriores revisiones y eliminaciones.</p><br />

			<p>Si el usuario encuentra en el sitio web alguna foto que no cumpla esta política, puede comunicárselo al equipo de <strong>Loogares.com</strong> en la siguiente dirección electrónica: <a href="mailto:contacto@loogares.com">contacto@loogares.com</a>.</p><br />

			<p><strong>Política en la aprobación de perfiles</strong></p><br />

			<p>Esta política está diseñada para regular el contenido de los perfiles, a fin de asegurar un ambiente general de calidad con un contenido, idioma e intenciones apropiados para la seguridad de todos los usuarios.</p><br />

			<p>No se aprobarán los perfiles que contengan:</p><br />

			<p>1. Lenguaje sexualmente explícito o referencias / sugerencias sexuales.</p>
			<p>2. Contenido difamatorio, abusivo, agresivo o violento.</p>
			<p>3. Lenguaje ofensivo u obsceno (incluyendo palabras soeces).</p>
			<p>4. Terminología blasfema o racialmente ofensiva.</p><br />

			<p><strong>Loogares.com</strong>, a discreción, se reserva el derecho a rechazar usuarios en el caso de que la información publicada no garantice, en opinión de <strong>Loogares.com</strong>, un nivel de confianza, seguridad y crédito suficiente para su inclusión en la comunidad de usuarios de <strong>Loogares.com</strong>.</p><br />

			<p>En este sentido, <strong>Loogares.com</strong> se reserva el derecho a poder eliminar sin previo aviso a usuarios registrados que no respondan a los principios de calidad y veracidad del sitio.</p><br />

			<p><strong>Loogares.com</strong> no puede controlar todos y cada uno de los contenidos publicados, de manera que no puede asumir la responsabilidad sobre los contenidos. De todas maneras, periódicamente se realizan controles para asegurar los principios de calidad de <strong>Loogares.com</strong> así como las normas aquí indicadas.</p><br />

			<p>Si el usuario advierte algún contenido inapropiado en el sitio web, deberá contactarse con nosotros a través de nuestro servicio de atención al usuario: <a href="mailto:contacto@loogares.com">contacto@loogares.com</a>.</p><br />

			<p>Cualquier usuario que proporcione información o realice actividades que contravengan la legalidad vigente asumirá la responsabilidad exclusiva de los perjuicios y consecuencias derivadas de la misma, eximiendo a <strong>Loogares.com</strong> de cualquier responsabilidad.</p><br />

			<p><strong>Responsabilidad y difusión de contenidos, datos y/o información de los usuarios</strong></p><br />

			<p>El usuario autoriza expresamente a <strong>Loogares.com</strong> para que difunda su perfil y los contenidos que haya aportado al sitio web. El usuario cede a <strong>Loogares.com</strong> de forma permanente e irrevocable todos los derechos y royalties del contenido que cree y publique en <strong>Loogares.com</strong>.</p><br />

			<p>El usuario autoriza expresamente a <strong>Loogares.com</strong> a modificar algunos contenidos con el objeto de respetar el diseño gráfico del sitio web o de los demás soportes de comunicación utilizados en la plataforma de <strong>Loogares.com</strong>.</p><br />

			<p>Estos derechos o licencia de utilización se conceden para todo el mundo y durante la vigencia legal de la protección de los derechos del usuario.</p><br />

			<p><strong>Loogares.com</strong> no tiene obligación de controlar y no controla la utilización que los usuarios hacen del servicio y, por consiguiente, no garantiza que los usuarios utilicen los mismos de conformidad con lo establecido en los Términos de uso, ni que hagan un uso diligente y/o prudente de los mismos.</p><br />

			<p>Asimismo, <strong>Loogares.com</strong> tampoco tiene la obligación de verificar y no verifica la identidad de los usuarios, ni la veracidad, vigencia, exhaustividad y/o autenticidad de los datos que los usuarios proporcionan sobre sí mismos.</p><br />

			<p>Sin perjuicio de lo anterior, <strong>Loogares.com</strong> se reserva la facultad de limitar, total o parcialmente, el acceso a los servicios a determinados usuarios, así como de cancelar, suspender, bloquear o eliminar determinado tipo de contenidos mediante la utilización de instrumentos tecnológicos aptos al efecto, si tuviese conocimiento efectivo de que la actividad o la información almacenada es ilícita o de que lesiona bienes o derechos de un tercero. En este sentido, <strong>Loogares.com</strong> podrá establecer los filtros necesarios a fin de evitar que a través del servicio puedan verterse en la red contenidos ilícitos o nocivos.</p><br />

			<p>El usuario concede a <strong>Loogares.com</strong>, por el hecho de publicar su opinión y sus fotos en el sitio web, un derecho indefinido de comunicación pública en Internet de las opiniones publicadas y las fotos aportadas, facultando a <strong>Loogares.com</strong> en el mantenimiento de las opiniones realizadas y las fotos publicadas aún después de haber causado la baja el usuario. Este derecho de comunicación pública podrá ser revocado por el usuario, solicitando a <strong>Loogares.com</strong> el borrado de sus opiniones y la retirada de sus fotos.</p><br />

			<p>Los usuarios autorizan expresamente a <strong>Loogares.com</strong> para que pueda publicar los mensajes y conversaciones de los usuarios en cualquier parte del sitio web y en ubicaciones externas al mismo que guarden relación con el sitio web y con la temática sobre la que verse el mensaje o la conversación.</p><br />

			<p><strong>Exclusión de garantías y responsabilidad</strong></p><br />

			<p>Salvo en aquellos casos expresamente descritos en los Términos de uso y el resto del marco normativo del sitio web, <strong>Loogares.com</strong>, no se responsabiliza por los daños y perjuicios de toda naturaleza que puedan deberse a la falta de exactitud, exhaustividad y actualidad, así como a errores u omisiones de los que pudieran adolecer las informaciones y servicios contenidos en este sitio web u otros contenidos a los que se pueda acceder a través del mismo, ni asume ningún deber o compromiso de verificar ni de vigilar sus contenidos e informaciones.</p><br />

			<p>Asimismo, <strong>Loogares.com</strong> no garantiza la disponibilidad, continuidad ni la infalibilidad del funcionamiento del sitio web, y en consecuencia, excluye, en la máxima medida permitida por la legislación vigente, cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a la falta de disponibilidad o de continuidad del funcionamiento del sitio web y de los servicios habilitados en el mismo, así como a los errores en el acceso a las distintas páginas web o aquellas desde las que, en su caso, se presten dichos servicios.</p><br />

			<p><strong>Loogares.com</strong> no asume responsabilidad alguna por los contenidos, opiniones, datos y/o información aportados por los usuarios del sitio web, ni tampoco añade, apoya, sanciona, verifica o afirma las opiniones, puntos de vista, recomendaciones, descripciones visuales, comentarios o afirmaciones realizadas por usuarios, anunciantes o terceros, así como reseñas realizadas en publicaciones, en Internet o en cualquier parte.</p><br />

			<p>Cualquier información o material disponible en <strong>Loogares.com</strong> incluido por cualquier usuario, anunciante, organizaciones o terceros, incluyendo pero no limitándose a opiniones, comentarios, promociones, recomendaciones, evaluaciones o imágenes; constituye exclusivamente el punto de vista de quién la realiza y es responsabilidad de sus autores y en ningún caso constituye el punto de vista, opinión o aceptación de <strong>Loogares.com</strong>.</p><br />

			<p>Asimismo, <strong>Loogares.com</strong> no será responsable de las opiniones vertidas por los usuarios a través del portal, los foros, comunidades y otras herramientas de participación u opinión.</p><br />

			<p><strong>Loogares.com</strong> no indemniza a ninguna persona o entidad por quejas, acciones, afirmaciones u otros motivos que se desprendan de ellas o estén relacionados con las opiniones de los usuarios. El usuario que publique cualquier contenido en <strong>Loogares.com</strong> acepta que dicha información será un riesgo que correrá por su cuenta, y que <strong>Loogares.com</strong> no tendrá ninguna responsabilidad sobre dicha esa información.</p><br />

			<p><strong>Enlaces, links a páginas de terceros</strong></p><br />

			<p><strong>Loogares.com</strong> incluye dentro de sus contenidos enlaces con sitios pertenecientes y/o gestionados por terceros con el objeto de facilitar el acceso a información disponible a través de Internet.</p><br />

			<p><strong>Loogares.com</strong> no asume ninguna responsabilidad derivada de la existencia de enlaces entre los contenidos de este sitio y contenidos situados fuera del mismo o de cualquier otra mención de contenidos externos a este sitio. Tales enlaces o menciones tienen una finalidad exclusivamente informativa y, en ningún caso, implican el apoyo, aprobación, comercialización o relación alguna entre <strong>Loogares.com</strong> y el usuario de la página web con la que se establezca.</p><br />

			<p><strong>Legislación aplicable y jurisdicción</strong></p><br />

			<p>Los presentes Términos de uso y el resto de las condiciones del sitio web se regirán por la legislación chilena.</p><br />

			Para cuantas cuestiones pudieran suscitarse o acciones ejercitarse derivadas de la prestación de los servicios y contenidos de <strong>Loogares.com</strong> y sobre la interpretación, aplicación, cumplimiento o incumplimiento de lo aquí establecido, <strong>Loogares.com</strong> y el usuario, con renuncia expresa a cualquier otro fuero que pudiera corresponderles, se someten a la jurisdicción de los Juzgados y Tribunales de Chile.</p><br />
			
		</div>

		{% include 'LoogaresExtraBundle:Static:menu.html.twig' %}

	</div>

{% endblock %}