{% extends "::base.html.twig" %}

{% block title %}{{'extra.estaticas.trabaja_con_nosotros.titulo'|trans}} | {{parent()}}{% endblock %}

{% block meta %}
	<meta name="description" content="" />

	<!-- Metadata para FB -->
	<meta property="og:title" content="{{'extra.estaticas.trabaja_con_nosotros.titulo'|trans}} | Loogares.com" />

	<meta property="og:description" content="" />
{% endblock %}

{% block content %}

	<div class="estaticas">

		<div class="contenido">
			<h1 class="titulo">{{'extra.estaticas.trabaja_con_nosotros.titulo'|trans}}</h1>

			<h2 class="sub_titulo_busqueda">WE WANT YOU! ¿Te la puedes?</h2><br />

			<p></p><br />

			<p>En <strong>Loogares.com</strong> siempre estamos buscando talentos de diferentes áreas para integrarlos al equipo y sumarlos a la familia de profesionales y amigos que somos. Queremos trabajar con los mejores.</p><br />

			<p>Actualmente estamos buscando:</p><br />

			<p><a href="#1">Especialista en ventas</a></p>
			<p><a href="#2">Web Developer</a></p>
			<p><a href="#3">Mobile Developer</a></p>
			<p><a href="#4">Periodistas / Blogueros Colaboradores</a></p><br/>
			
			<p>Escríbenos ahora mismo a <a href="mailto:contacto@loogares.com">contacto@loogares.com</a> para contarnos de ti y tu interés por ser parte de <strong>Loogares.com</strong>. ¡Te estamos esperando!</p><br />

			<a name="1"></a><br/>

				<p>///</p><br/><br/>

				<h3 class="sub_titulo_busqueda"><strong>Especialista en ventas</strong></h3><br/>

				<p>Te buscamos a ti, hombre o mujer con perso, que quieres integrarte a un equipo de gente joven (26 años es el promedio de edad del equipo), que buscas ser parte de un proyecto nacido en Santiago y que está expandiéndose internacionalmente.</p><br/>

				<p>¿Eres bueno para trabajar mucho sin quejarte ni sangrar, seco para las ventas (capaz de vender humo si quieres), una bala para los negocios, ambicioso por las metas, bueno para escuchar, más convincente que Tony Kamo, más hablador que Bielsa, pero menos aburrido que una comida con tus suegros? Entonces es probable que seas uno de los nuestros.</p><br/>
				
				<p><strong>Qué harás en Loogares.com</strong></p><br/>

				<p>Vender, vender, vender. Deberás venderles nuestras campañas de difusión a los mejores lugares de Santiago manteniendo un contacto constante y forjando una relación con ellos.</p><br/>
				
				<p>Trabajo Full-time - Sueldo fijo + comisiones</p><br/>
				
				<p><strong>Contactarse con:</strong></p><br/>

				<p>Jordi Casanueva<br/>
				Mail: <a href="mailto:jordi.casanueva@loogares.com">jordi.casanueva[at]loogares.com</a><br/>
				Twitter: <a href="http://www.twitter.com/albertomarcias">@Ramzaa</a></p><br/>

			<a name="2"></a><br/>
				
				<p>///</p><br/><br/>

				<h3 class="sub_titulo_busqueda"><strong>Web Developer</strong></h3><br/>

				<p>Se requieren ingenieros, desarrolladores web, para trabajar en el desarrollo de Loogares.com, la guía de lugares de ocio y turismo de la ciudad, actualmente presente en Santiago, Valparaíso, Viña del Mar y Buenos Aires, con grandes proyecciones de expandirse próximamente al resto de Latinoamérica.</p><br/>

				<p>Buscamos a profesionales interesados en emprender junto a nosotros, apasionados por los nuevos desafíos, creativos y con ganas de desarrollar constantemente nuevas ideas. Que busquen desenvolverse en un ambiente buena onda y joven, desarrollando un trabajo lleno de retos donde también pueden involucrarse y opinar a la par. Y por sobre todo, ¡gente con ganas de pasarlo bien!</p><br/>

				<p>Buscamos Ingenieros en Computación, Ingenieros Civiles en Computación o Ingenieros TI con conocimientos en:</p><br/>

				<ul>
					<li>PHP orientado a objetos</li>
					<li>Frameworks de desarrollo web (idealmente Symfony 2)</li>
					<li>SQL avanzado (relaciones, performance, FK, PK)</li>
					<li>Javascript (JQuery, HTML5 APIs)</li>
					<li>Google Maps API</li>
					<li>CSS (SASS, compatibilidad de navegadores & SO, CSS3)</li>
					<li>Que les guste el Café</li>
					<li>Y lo más importante, espíritu de emprendedor.</li>
				</ul><br/>

				<p><strong>Trabajo Full-Time, bien remunerado.</strong></p><br/>
				
				<p><strong>Contactarse con:</strong></p><br/>
				
				<p>Alberto Marcías<br/>
				Mail: <a href="mailto:alberto.marcias@loogares.com">alberto.marcias[at]loogares.com</a><br/>
				Twitter: <a href="http://www.twitter.com/albertomarcias">@albertomarcias</a></p><br/>

			<a name="3"></a><br/>

				<p>///</p><br/><br/>

				<h3 class="sub_titulo_busqueda"><strong>Mobile Developer</strong></h3><br/>

				<p>Se requieren ingenieros, desarrolladores con conocimientos en aplicaciones móviles, para trabajar en el desarrollo móvil de Loogares.com, la guía de lugares de ocio y turismo de la ciudad, actualmente presente en Santiago, Valparaíso, Viña del Mar y Buenos Aires, con grandes proyecciones de expandirse próximamente al resto de Latinoamérica.</p><br/>

				<p>Buscamos a profesionales interesados en emprender junto a nosotros, apasionados por los nuevos desafíos, creativos y con ganas de desarrollar constantemente nuevas ideas. Que busquen desenvolverse en un ambiente buena onda y joven, desarrollando un trabajo lleno de retos donde también pueden involucrarse y opinar a la par. Y por sobre todo, ¡gente con ganas de pasarlo bien!</p><br/>

				<p>Buscamos Ingenieros en Computación, Ingenieros Civiles en Computación o Ingenieros TI con conocimientos en:</p><br/>

				<ul>
					<li>Algún framework multiplataforma (PhoneGAP, Titanium)</li>
					<li>Manejo avanzado de Javascript</li>
					<li>Responsive Design (distintos dispositivos)</li>
					<li>HTML5 APIs, RESTful APIs</li>
					<li>Google Maps API</li>
					<li>De manera opcional desarrollo en iOS o Android</li>
					<li>Que les guste la música variada, desde Dubstep hasta Rock ‘n’ Roll</li>
					<li>Y lo más importante, espíritu de emprendedor. </li>
				</ul><br/>

				<p><strong>Trabajo Full-Time, bien remunerado.</strong></p><br/>
				
				<p><strong>Contactarse con:</strong></p><br/>
				
				<p>Alberto Marcías<br/>
				Mail: <a href="mailto:alberto.marcias@loogares.com">alberto.marcias[at]loogares.com</a><br/>
				Twitter: <a href="http://www.twitter.com/albertomarcias">@albertomarcias</a></p><br/>
					
			<a name="4"></a><br/>

				<p>///</p><br/><br/>

				<h3 class="sub_titulo_busqueda"><strong>Periodistas / Blogueros Colaboradores</strong></h3><br/>

				<p>Buscamos periodistas y/o blogueros activos en redes sociales que sean apasionados por los lugares y panoramas que ofrece su ciudad (Santiago / Valparaíso-Viña del Mar), que quieran transformarse en líderes de opinión dentro de la comunidad de Loogares.com, compartiendo su visión de la ciudad, tips sobre lugares y eventos que conocen. </p><br/>

				<p>Se les dará el espacio para publicar lo que quieran bajo esta temática, que se adueñen de el espacio que otorgamos y serán ampliamente difundidos a través de nuestra comunidad.</p><br/>
				
				<p>Ideal si es que tienen ya desarrollado un blog de opinión o sitio web, ya que pueden escribir o replicar contenidos a nombre su sitio y derivar tráfico. </p><br/>

				<p><strong>Duración:</strong> 3 - 6 meses</p><br/>
				
				<p><strong>Incentivos:</strong></p><br/>

				<ul>
					<li>Full difusión en la página de inicio, blog y redes sociales de Loogares.com</li>
					<li>Usuario especial y mención en el blog que lo enlace a su sitio web, twitter y más</li>
					<li>Acceso a regalos de manera esporádica (entradas al cine, teatro y más)</li>
				</ul><br/>
				
				<p><strong>Descripción:</strong></p><br/>

				<ul>
					<li>Escribir mínimo 4 notas mensuales que serán publicadas semanalmente en Loogares.com</li>
				</ul><br/>

				<p>Pueden ser todo tipo de contenidos relacionados con la ciudad, desde un listado que recomiende los mejores bares de Santiago, hasta la covertura de los conciertos más bacanes de la temporada.</p><br/>

				<p>Adicionalmente tendremos una pauta de eventos contingentes que queremos desarrollar para aumentar el tráfico. (Por ej. Feria del Libro, Fiestas de Halloween, Octoberfest, Maquinaria, etc.) Que exisa esta pauta no significa que no podrán escribir temas totalmente propios, es más, serán muchos más los espacios para generar estos.</p><br/>
				
				<p><strong>Contactarse con:</strong></p><br/>

				<p>Jordi Casanueva<br/>
				Mail: <a href="mailto:jordi.casanueva@loogares.com">jordi.casanueva[at]loogares.com</a><br/>
				Twitter: <a href="http://www.twitter.com/albertomarcias">@Ramzaa</a></p><br/>

		{% include 'LoogaresExtraBundle:Static:menu.html.twig' %}

	</div>

{% endblock %}