<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Loogares.com{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets output='assets/css/compressed.css' filter='sass' 
            'assets/css/*.sass' 
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
        {% endstylesheets %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <style>
            body{
                background: #333;
                font-family: Helvetica;
                font-size: 14px;
                text-shadow: 0 1px 0 #fff;
            }

            h1{
                padding: 0;
                margin: 0;
            }
            #wrapper{
                overflow: hidden;
                background: #f0f0f0;
                width: 940px;
                padding: 0;
                padding: 10px 15px;
                margin: 0 auto;
                -moz-border-radius: 5px;
                border-radius: 5px;               
            }

            .recomendacion{
                background: #CCF6FF;
                padding: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                margin: 15px 0;
            }

            ul{
                padding: 0;
            }

            li{
                display: inline;
            }

            #lugar-ficha{
                width: 500px;
                float: left;
            }

            #mapa-sidebar{
                float: left;
                width: 430px;
                margin-left: 10px;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
<!--             <div id="header">
                <div id="logo">
                    <h1>Loogares.com</h1>
                </div>
                <div id="login-facebook">No estas conectado a Facebook, Hazlo ya! >> FACEBOOKBTN <strong>Registrate | Entra</strong></div>
                <div id="search-bar">
                    que buscas? :o
                    <input type="text" />
                    <input type="text" />
                </div>
                <ul id="main-nav">
                    <li>Santiago</li>
                    <li>Que Visitar</li>
                    <li>Donde comer</li>
                    <li>Que comprar</li>
                    <li>Como entretenerse</li>
                    <li>Como cuidarse</li>
                    <li>Donde dormir</li>
                    <li>Servicios</li>
                </ul>
            </div> -->
            {% block content %}{% endblock %}
            
        </div>
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
