<div class="menu_ciudad">
	<ul>
		<li>
			<a href="">Santiago de Chile</a>
			<div class="flecha_ciudad"></div>
				<ul>
					{% for ciudad in ciudades %}
						<a href="{{path('locale', {'slug': ciudad.slug})}}">
							<li>{{ciudad.nombre}}</li>
						</a>
					{% endfor %}
				</ul>
		</li>
	</ul>
</div>
