<div class="barra_ciudad">
	<div class="centrado_ciudad">
		<div class="logo_ciudad">
			<img src="{{ asset('assets/images/extras/logo.png') }}" width="100" height="65" />
		</div>
		<div class="menu_ciudad">
			<a href="#">Ciudad</a>
		</div>
		<div class="login">
			<a class="facebook_login" href="#"></a><a class="usuario_login" href="{{path('registroUsuario')}}">Regístrate</a><a class="usuario_login" href="{{path('login')}}">Entra</a>
		</div>
		<div class="redes_sociales">
			<a class="facebook_btn" href="#"></a>
			<a class="twitter_btn" href="#"></a>
			<a class="blog" href="#">Blog</a>
		</div>
	</div>
</div>

<div class="menu">
	<div class="centrado_menu">
		<div class="logo_ciudad_menu">
			<img src="{{ asset('assets/images/extras/logo_header.png') }}" width="50" height="34" />
		</div>
		<div class="menu_categorias">
			<ul>
				<li><a href="#">Dónde Comer</a></li>
				<li><a href="#">Qué Visitar</a></li>
				<li><a href="#">Qué Comprar</a></li>
				<li><a href="#">Cómo Entretenerse</a></li>
				<li><a href="#">Cómo Cuidarse</a></li>
				<li><a href="#">Dónde Dormir</a></li>
				<li><a href="#">Servicios</a></li>
			</ul>
		</div>
		<div class="buscar">
			<input class="buscador placeholder" type="text" data-placeholder="Completos, Lastarria, bares, La Moneda" />
			<div class="caja_icono">
				<a class="icono_buscar" href="#"></a>
			</div>
		</div>
	</div>
</div>