<div class="header_reporte">
	<p class="volver_loogares"><a href="{{path('locale', {'slug': app.session.get('ciudad').slug})}}">Volver a Loogares.com »</a></p>
	<p class="usuario_reporte">Bienvenido NOMBRE DUEÑO | <a href="">Salir</a></p>
</div>
<div class="contenido_reporte">