<div class="header_reporte">
	<p class="volver_loogares"><a href="{{path('locale', {'slug': app.session.get('ciudad').slug})}}">Volver a Loogares.com »</a></p>
	<p class="usuario_reporte"><a href="">¿Qué es?</a> | <a href="">Clientes</a> | <a href="">Promocionar mi negocio</a></p>
</div>
<div class="contenido_reporte">