<div class="menu_categorias">
	<ul>
		{% for tipoCategoria in menu.tipoCategorias %}
			<li><a href="#">{{tipoCategoria.nombre}}</a>
				<ul>
					{% for categoria in menu.categorias %}
						{% if categoria.tipoCategoria == tipoCategoria %}
							<li><a href="#">{{categoria.nombre}} ({{categoria.lugares}})</a></li>				
						{% endif %}
					{% endfor %}
					
				</ul>
			</li>
		{% endfor %}
	</ul>
</div>