<div class="menu_categorias">
	<ul>
		{% for tipoCategoria in menu %}
			<li><a href="#">{{tipoCategoria.nombre}}</a>
				<ul>
					<li><a href="#">Bares / Pubs (488)</a></li>
					<li><a href="#">Cafés / Teterías (390)</a></li>
					<li><a href="#">Heladerías (81)</a></li>
					<li><a href="#">Restaurantes (1789)</a></li>
				</ul>
			</li>
		{% endfor %}
	</ul>
</div>