<body>
    <div style="font-family: Arial; font-size: 14px;">
        <h3>¡Felicitaciones Alberto Marcías!</h3>
        <p>Gracias a tu participación en Loogares.com resultaste ganador de 'premio concurso'</p>
    </div>
</body>