<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Loogares.com{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <script>var WEBROOT = "{{app.request.basePath}}/app{% if app.getEnvironment == 'dev'%}_dev{% endif %}.php/"</script>
    </head>
    <body>

        <div class="contenedor">
            
            <div class="contenido">
                
                {% block content %}{% endblock %}
            
            </div>
        
        </div>
    </body>
</html>
