{% extends 'LoogaresAdminBundle:Admin:base.html.twig' %}
{% block content %}

	<div class="menu_admin">
		<h1 class="titulo_admin">Administrador de:</h1>
		<a href="lugares">Lugares / Recomendaciones / Fotos</a><br />
		<a href="usuarios">Usuarios</a>
	</div>
{% endblock %}