{% extends 'LoogaresAdminBundle:Admin:base.html.twig' %}
{% block content %}
<a href="lugares">Lugares:</a> {{totalLugares}}
<br />
<a href="{{path('LoogaresAdminBundle_usuarios')}}">Usuarios:</a> {{totalUsuarios}}




{% endblock %}