{% extends "LoogaresAdminBundle:Admin:base.html.twig" %}

{% block content %}
<style type="text/css">@import url({{asset('assets/css/fileuploader.css')}});</style>
<style>
	.qq-textbox input{
		padding: 5px;
		width: 300px;
	}

	.qq-upload-list{
		padding-left: 0;
		margin-left: 0;
		list-style: none;
	}

		.qq-upload-list > li{
			line-height: 116px;
			height: 116px;
			background: #f33;
			position: relative;
			margin-bottom: 5px;
		}

			.qq-file-info{
				padding-left: 116px;
			}

				.copiar-url{
					margin-left: 5px;
				}

			.qq-thumb{
				background-image: url('../../assets/media/cache/thumb_uploader/assets/images/blog/uploads/default.gif');
				height: 96px;
				width: 96px;
				display: inline-block;
				margin-top: 10px;
				margin-left: 10px;
				position: absolute;
			}
</style>
<div id="file_upload"></div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="{{asset('assets/js/fileuploader.js')}}"></script>
	<script>
		var uploader = new qq.FileUploader({
		    element: document.getElementById('file_upload'),
		    action: WEBROOT+'admin/upload',
		    debug: true,
			onComplete: function(id, fileName, responseJSON){
				if(responseJSON.success){
					var $file = $('.qq-upload-list').children('li:eq('+id+')'),
						url = 'http://'+window.location.hostname+'/assets/images/blog/uploads/'+fileName;
						urlCache = 'http://'+window.location.hostname+'/assets/media/cache/thumb_uploader/assets/images/blog/uploads/'+fileName;

					$file.find('span.qq-upload-file').wrap('<a target="_blank" href="'+url+'">');
					$file.find('.qq-file-info').append('<span class="qq-textbox"><input type="text" value="'+url+'"/><a id="copiar-url" class="copiar-url" href="">Copiar Direccion</a></span>');
					$file.children('.qq-thumb').css('background-image', 'url("'+urlCache+'")');

					$('.copiar-url').click(function(e){
						e.preventDefault();
						prompt('Apreta Ctrl+C o Cmd+C para copiar', url);
					});
				}
			},
			onError: function(data){
				console.log(data)
			}
		});
	</script>
{% endblock %}