<div class="nuevo"></div>
<a style="float: left; height: 133px;" href="%%CLICK_URL_UNESC%%http://cl.loogares.com/santiago-de-chile/blog/una-cena-para-2-personas-en-papas-wok">
	<div class="roll_over_concurso"> 
		<p class="sorteo_concurso">PRUEBA</p>
	</div>
	<div class="contenido_concurso">
		<img src="http://www.loogares.com/assets/images/blog/una-cena-para-2-personas-en-papas-wok.jpg" />
		<h2 class="lugar_concurso">Papa's Wok</h2>
	</div> 
</a>
