<a href="">
	<div class="roll_over_concurso">
		<p class="sorteo_concurso">Sorteamos 2 entradas gratis</p>
	</div>	
	<div class="contenido_concurso">					
		<img src="http://localhost/web/assets/images/blog/centro-cultural-amanda/jump_blog.jpg" />
		<h2 class="lugar_concurso">Nombre del local</h2>
	</div>
</a>