<div class="iphone_app_banner_chico">
	<div class="imagen_iphone"></div>
	<div class="descarga_iphone_app">
		<p><strong>{{ 'iphone_app_banner.titulo'|trans }}</strong></p>
		<a href="http://itunes.apple.com/us/app/loogares.com/id544478345?l=es&ls=1&mt=8" target="_blank">{{ 'iphone_app_banner.descargar'|trans }}</a>
	</div>
</div>