<div class="patrocinado_titulo">
	<p class="titulo_patrocinado">Patrocinados:</p>
	<a class="link_que_es_esto" href="">¿Qué es esto?</a>
</div>
<div class="info_lugar_patrocinado">
	<img class="lugar_patrocinado_imagen" src="" height="100" width="100" />
	<div class="lugar_patrocinado_principal">
		<a class="nombre_patrocinado" href="">Nombre local</a>
		<p class="categoria_patrocinado"><strong>Categorías:</strong> <a href="">Restaurantes</a></p>
		<p class="sector_patrocinado"><strong>Sector:</strong> <a href="">Nombre sector</a></p>
	</div>
	<div class="lugar_patrocinado_secundario">
		<p class="direccion_patrocinado">Nombre calle ##, Comuna, Ciudad</p>
		<img src="" height="20" width="50" />
	</div>
</div>
