{% extends "::base.html.twig" %}

{% block title %}{{parent()}} | {{'extra.home.title'|trans}}{% endblock %}

{% block content %}

	<div class="pagina_error">
		<h2 class="titulo_busqueda">Se nos pasó esta página porque...</h2>
		<h1 class="titulo_gigante">¡Nos fuimos de viaje a Alaska!</h1>

		<p><img src="{{ ('../../assets/images/extras/sex_machine.gif')}}" /></p><br/>

		<p>Loogareño, encontraste una página que no existe, que se fue de viaje y seguramente no volverá...</p>

		<p><strong>¡Pero existen muchas más!</strong></p><br/>

		<p>Si quieres, puedes <a href="javascript:window.history.back();">Volver</a> a la página anterior, ir a la <a href="{{ path('root') }}">Página de Inicio</a> <br/>o intentar con una nueva búsqueda.</p>
	</div>

{% endblock %}