{% extends "::base.html.twig" %}

{% block title %}Galería de fotos en {{lugar.nombre}} | {{lugar.comuna.ciudad.nombre}} | {{parent()}}{% endblock %}

{% block content %}
	<div id="galeria">		
		<div id="contenido-galeria">
			{% include 'LoogaresLugarBundle:Lugares:contenido_galeria.html.twig' %}
		</div>

		<div id="sidebar-galeria">
			<div class="fotos-pagina">
			</div>

			<div class="banner">
			</div>
		</div>
	</div>
{% endblock %}