{% extends "::base_reporte.html.twig" %}

{% block title %}Ingresar a reporte de {{lugar.nombre}} | {{parent()}}{% endblock %}

{% block content %}
	{% if errors | length > 0 %}
		<div class="errores">
			{% for error in errors%}
				<p>{{error}}</p>
			{% endfor %}
		</div>
	{% endif %}
	<form action="{{path('_reporteLocal', {'slug' : lugar.slug, 'id' : id })}}" method="POST">
		<ul>
			<li>
				<label>Password</label>
				<input type="password" name="password" placeholder="Password del local" />
			</li>
			<li>
				<label></label>
				<input type="submit" value="Ingresar" />
			</li>
		</ul>
	</form>
	

{% endblock %}