{% extends "::base.html.twig" %}

{% block title %}Reporte Bar The Clinic | {{parent()}}{% endblock %}

{% block content %}

	<div class="reporte_local">
		<h1 class="titulo">Métricas campaña Beneficios Exclusivos Bar The Clinic</h1> - <a href="">Ir a la nota</a>
	</div>
{% endblock %}