<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block meta %}{% endblock %}
        <title>{% block title %}Loogares.com{% endblock %}</title>
        {#% stylesheets output='assets/css/compressed_reportes.css' filter='yui_css,sass'      
            'assets/css/*_reportes.sass' 
        %}
        {% endstylesheets %#}
        {% block stylesheets %}{% endblock %}
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
        <link rel="stylesheet" href="{{ asset('assets/css/compressed_reportes.css') }}" type="text/css" media="screen" />
        <style>
            body{
                width: 960px;
                margin: 0 auto;
            }

            .contenido{
                position: relative;
            }
        </style>
        {% block ads %}{% endblock %} 
    </head>

    <body class="{{ app.session.get('ciudad').pais.slug | default('chile') }}">
    {% include 'LoogaresCampanaBundle:Layout:header_campanas.html.twig' %}

      <div class="contenedor">
      
        <div class="contenido">               
          {% block content %}{% endblock %}
        </div>

      </div>

    </div>

    {% include 'LoogaresCampanaBundle:Layout:footer_campanas.html.twig' %}
    {% block javascripts %}
    {% endblock %}
    </body>
</html>