<div class="concurso_participantes">
	{% set doce = 0 %}
	{% for participante in concurso.participantes %}
		{% if loop.index == 1 or (loop.index > 12 and (loop.index - 1) % 12 == 0)  %}
			{% set tres = 0 %}
			<ul class="listado_participantes">
		{% endif %}
				<li>
					<a href="{{path('showUsuario', {'param' : participante.usuario.slug})}}">
						<img src="{{ ('assets/images/usuarios/'~participante.usuario.imagenFull) | apply_filter('small_usuario') }}" width="20" height="20" />
					</a>
				</li>
		{% set doce = doce + 1 %}
		{% if doce == 12 %}
			</ul>				
		{% endif %}
	{% endfor %}

	<div class="participantes">
		<div class="cantidad_participantes_izq">
		</div>							
		<div class="cantidad_participantes">
			<span class="numero_participantes">{{concurso.participantes|length}}</span>
			{{'extra.modulo_concursos.participantes'|transchoice(concurso.participantes|length)}}
		</div>
		<div class="cantidad_participantes_der">
		</div>	
	</div>
</div>