{% if popup == 'registro' %}
	<div class="popup_registro">
		<p>¡Estás a un segundo de participar, regístrate ahora!</p>
		<div class="registro_facebook_btn"></div>
		<span>o <a href="{{path('registroUsuario')}}">regístrate con tu E-mail</a></span>
		<span class="volver">Volver</span>
	</div>
{% elseif popup == 'compartir' %}
	<div class="popup_compartir">
		<p>¡Ya estás participando!</p>
	</div>
{% endif %}

<script type="text/javascript">
	$(function(){
	    $('.volver').click(function(){
	        $.fancybox.close()
	    });

	    $('.registro_facebook_btn').click(function(){
	    	$('.fb_hidden_button').find('.fb_button').click();
	    });
	})
</script>