<div id="recomendacion_popup" style="width:500px;height:300px;background-color:#DDD; float: left">
	<div style="margin: 0 auto; width: 85%">
		<div style="display:block; margin: 20px 0 20px 0">
			<h1 style="font-size:18px;font-weight:bold">¿Qué deseas hacer?</h1>
		</div>
		<a href="#" class="recomendar_despues" style="float: left; width: 200px; border: 1px solid black; height: 50px; text-align:center">
			Recomendar después
		</a>
		<a href="#" class="recomendar_ahora" style="float: right; width: 200px; border: 1px solid black; height: 50px; text-align:center">
			Recomendar ahora
		</a>
	</div>
</div>